body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.head {
  height:50px;
  width: 100%;
  background: #f9efd4;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

table th {
  background: #eee;
}

table th,
table td {
  height: 30px;
  border: 1px solid #ddd;
  border-top: 0;
  border-right: 0;
  border-collapse: collapse;
  padding: 0 10px;
}
