<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="Keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/bases.css">
    <link rel="stylesheet" href="/weixin/Public/Home/css/incomes.css">
    <title>经营回款收入</title>
</head>
<body>
    <div class="bg">
        <div class="main clearfix" style="transform:scale(0.65,0.65) translateY(-10%);-webkit-transform:scale(0.65,0.65) translateY(-10%);margin-left:-24%;">
            <div class="returnMoney fl hmo">
                <div class="outer move"></div>
                <div class="inner moveRevers"></div>
                <div class="txt">
                    <p class="text-center">HMO</p>
                    <p class="text-center">总回款</p>
                </div>

                <div class="input clearfix w190">
                    <p class="tLeft fl"></p>
                    <div class="num fl">
                        <b>￥</b>
                        <strong id="m1"><i>000000.00</i><br><i>000000.00</i></strong>
                    </div>
                    <p class="tRight fl"></p>
                </div>
            </div>
            <div class="unit fl">
                <div class="top" style="width:420px;left:56px;">
                    <p class="arrowLeft fl"></p>
                    <div class="sum fl" style="width:362px">
                        <span class="fl">&nbsp;&nbsp;心血管HMO总回款：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m2"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <p class="arrowRight fl"></p>
                </div>
                <div class="list" style="height:402px;padding-top:85px;">
                    <div class="lis clearfix" padding-top:12px;>
                        <span class="fl">百倍爱心卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m3"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心卡健康管理套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m4"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心高血压健康管理套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m5"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心卡汉林清脂胶囊套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m23"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <!-- <div class="lis clearfix">
                        <span class="fl">百倍爱心大麦影像健康管理套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m24"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心机器人健康管理套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m25"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div> -->
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心卡重疾保障：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m26"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unit fl">
                <div class="top" style="left:54px;width:414px;">
                    <p class="arrowLeft fl"></p>
                    <div class="sum fl" style="width:368px;">
                        <span class="fl">爱眼联盟HMO总回款：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m6"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <p class="arrowRight fl"></p>
                </div>
                <div class="list" style="height:402px;padding-top:85px;">
                    <div class="lis clearfix">
                        <span class="fl">E倍爱眼训练会员卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m7"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">E倍爱眼建档会员卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m8"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">E倍爱眼VIP会员卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m9"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <!-- <div class="lis clearfix">
                        <span class="fl">加加明：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m27"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="unit fl">
                <div class="top">
                    <p class="arrowLeft fl"></p>
                    <div class="sum fl">
                        <span class="fl">&nbsp;&nbsp;&nbsp;肿瘤HMO总回款：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m10"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <p class="arrowRight fl"></p>
                </div>
                <div class="list">
                    <br>
                    <div class="lis clearfix">
                        <span class="fl">肺保卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m11"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">肝保卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m28"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <!-- <div class="lis clearfix">
                        <span class="fl">胃保卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m29"><i>000000.00</i><br><i>000000.00</i></strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div> -->
                </div>
            </div>
        <div class="hr fl"></div>
        <div class="returnMoney fl others">
            <div class="outer moveInversion"></div>
            <div class="inner moveReversInversion"></div>
            <div class="txt">
                <p class="text-center">其它经营</p>
                <p class="text-center">总回款</p>
            </div>

            <div class="input clearfix w190">
                <p class="tLeft fl"></p>
                <div class="num fl">
                    <b>￥</b>
                    <strong id="m12"><i>000000.00</i><br><i>000000.00</i></strong>
                </div>
                <p class="tRight fl"></p>
            </div>
        </div>


        <div class="unit fl">
            <div class="top">
                <p class="arrowLeft fl"></p>
                <div class="sum fl">
                    <span class="fl">&nbsp;妇科HMO总回款：&nbsp;&nbsp;</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m30"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <p class="arrowRight fl"></p>
            </div>
            <div class="list secondLine" style="padding-top:45px;">
                <br>
                <div class="lis clearfix femailCard">
                    <span class="fl">女性无忧卡：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m31"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="unit fl eyes">
            <div class="top">
                <p class="arrowLeft fl"></p>
                <div class="sum fl">
                    <span class="fl">&nbsp;眼科HMO总回款：&nbsp;&nbsp;</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m19"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <p class="arrowRight fl"></p>
            </div>
            <div class="list secondLine" style="padding-top:45px;">
                <br>
                <div class="lis clearfix eyeCard">
                    <span class="fl">眼保卡：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m20"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <!-- <div class="lis clearfix">
                    <span class="fl">白内障耗材回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m21"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div> -->
            </div>
        </div>


        <div class="unit fl angiocarpy">
            <div class="top t2" style="left:53px;">
                <p class="arrowLeft fl"></p>
                <div class="sum s2 fl">
                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;心血管其他经营回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m13"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <p class="arrowRight fl"></p>
            </div>
            <div class="list u2 secondLine" style="padding-right:40px;">
                <div class="lis fl">
                    <span class="fl">心电阅片回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m14"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <div class="lis fl">
                    <span class="fl">慧科药店回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m15"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <br><br>
                <!-- <div class="lis fl">
                    <span class="fl">手术回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m16"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div> -->
                <div class="lis fl">
                    <span class="fl">慧科设备回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m17"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <!-- <div class="lis fl">
                    <span class="fl">耗材回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m18"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="returnMoney r2 fl big">
            <div class="outer o2 moveBig"></div>
                <div class="txt">
                   <div class="input clearfix w190" style="width:262px;">
                        <p class="tLeft fl"></p>
                        <div class="num fl" style="width:212px;">
                            <b style="color:#ec3232;">￥</b>
                            <strong id="m22" style="font-size:28px;color:#ec3232;"><i>000000.00</i><br><i>000000.00</i></strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div><br>
                    <p class="text-center">集团经营</p>
                    <p class="text-center">总回款</p>
                </div>
        </div>
    </div>
    </div>
    <div class="arrow upDown"></div>
</body>
<script src="/weixin/Public/Common/js/jquery.min.js"></script>
<script src="/weixin/Public/Common/js/TweenMax.js"></script>
<script>
$(window).scroll(function(){
    if($(document).scrollTop() > 100){
        $('.arrow').hide()
    }else{
        $('.arrow').show();
    }
})
getData();
setInterval(function(){
    getData();
},3000);
function getData(){
    $.ajax({
        url: '{:U("User/incomes_ajax")}',
        type: 'POST',
        dataType: 'json',
        success: function(msg){
            console.log(msg);
            $('#m1 i').eq(1).html(msg.total_money_sum2_hmo);
            $('#m2 i').eq(1).html(msg.total_money_sum1_xin);
            $('#m3 i').eq(1).html(msg.total_money1);
            $('#m4 i').eq(1).html(msg.total_money2);
            $('#m5 i').eq(1).html(msg.total_money9);
            $('#m6 i').eq(1).html(msg.total_money_sum1_ai);
            $('#m7 i').eq(1).html(msg.total_hz_money);
            $('#m8 i').eq(1).html(msg.total_hz_money1);
            $('#m9 i').eq(1).html(msg.total_hz_money2);
            $('#m10 i').eq(1).html(msg.total_money_sum1_zhong);
            $('#m11 i').eq(1).html(msg.total_hz_moneyf);
            $('#m12 i').eq(1).html(msg.total_money_sum2_qita);
            $('#m13 i').eq(1).html(msg.total_money_sum1_qita);
            $('#m14 i').eq(1).html(msg.ys_type_total_money_info_1);
            $('#m15 i').eq(1).html(msg.ys_type_total_money_info_4);
            $('#m16 i').eq(1).html(msg.ys_type_total_money_info_2);
            $('#m17 i').eq(1).html(msg.ys_type_total_money_info_5);
            $('#m18 i').eq(1).html(msg.ys_type_total_money_info_3);
            $('#m19 i').eq(1).html(msg.total_money_sum1_yanke);
            $('#m20 i').eq(1).html(msg.total_hz_money_ybk);
            $('#m21 i').eq(1).html(msg.total_money_sum1_yan);
            $('#m22 i').eq(1).html(msg.total_money_sum3_zong);
            $('#m23 i').eq(1).html(msg.total_money3);
            $('#m24 i').eq(1).html(msg.total_money_dm);
            $('#m25 i').eq(1).html(msg.total_money_jqr);
            $('#m26 i').eq(1).html(msg.total_money_zj);
            $('#m28 i').eq(1).html(msg.total_hz_moneyg);
            $('#m30 i').eq(1).html(msg.total_money_sum1_fuke);
            $('#m31 i').eq(1).html(msg.total_hz_money_wyk);
            $('.num strong').each(function(){
                var n1 = parseFloat($(this).find('i').eq(1).html());
                var n2 = parseFloat($(this).find('i').eq(0).html());
                var t = new TimelineMax();
                var that = this;
                if((n1-n2) != 0){
                    $('.outer').addClass('rotate');
                    t.to($(this), 0.3, {
                        '-webkit-transform': 'translate3d(0,-44px,0)',
                        'transform': 'translate3d(0,-44px,0)',
                        ease:Bounce.ease,
                        onComplete: function(){
                            $(that).find('i').eq(0).html(n1);
                            $(that).css({
                                '-webkit-transform': 'translate3d(0,0,0)',
                                'transform': 'translate3d(0,0,0)'
                            });
                        }
                    });
                }
            })
        }
    });
}

</script>
</html>
