<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="share-title" content="">
    <title>会诊成员</title>
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zj/zj.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/10 + 'px';
    </script>
</head>
<body class="grey">
    <article>
        <section class="sec">
            <p class="text-center time">09:34</p>
            <div class="zoom">
                <header>
                    <div class="box">
                        <span>郝彤彤</span>
                        <em>女  27</em>
                        <i class="wait text-right">待确认</i>
                    </div>
                    <p>详情：<b>发生的方式看附件是快递放假时看附件是快递费</b></p>
                </header>
                <footer class="box">
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                </footer>
            </div>
            <section class="view2 text-right"><a href="#">同意申请</a><a href="#" class="jujue">拒绝申请</a></section>
        </section>
        <section class="sec">
            <p class="text-center time">09:34</p>
            <div class="zoom">
                <header>
                    <div class="box">
                        <span>郝彤彤</span>
                        <em>女  27</em>
                        <i class="ok text-right">已通过</i>
                    </div>
                    <p>详情：<b>发生的方式看附件是快递放假时看附件是快递费</b></p>
                </header>
                <footer class="box">
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
        <section class="sec">
            <p class="text-center time">09:34</p>
            <div class="zoom">
                <header>
                    <div class="box">
                        <span>郝彤彤</span>
                        <em>女  27</em>
                        <i class="wait text-right">未通过</i>
                    </div>
                    <p>详情：<b>发生的方式看附件是快递放假时看附件是快递费</b></p>
                </header>
                <footer class="box">
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
        <section class="sec">
            <p class="text-center time">09:34</p>
            <div class="zoom">
                <header>
                    <div class="box">
                        <span>郝彤彤</span>
                        <em>女  27</em>
                        <i class="ing text-right">会诊中</i>
                    </div>
                    <p>详情：<b>发生的方式看附件是快递放假时看附件是快递费</b></p>
                </header>
                <footer class="box">
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
        <section class="sec">
            <p class="text-center time">09:34</p>
            <div class="zoom">
                <header>
                    <div class="box">
                        <span>郝彤彤</span>
                        <em>女  27</em>
                        <i class="text-right">已关闭</i>
                    </div>
                    <p>详情：<b>发生的方式看附件是快递放假时看附件是快递费</b></p>
                </header>
                <footer class="box">
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                    <div class="nr box">
                        <div class="imgs"><img src="/weixin/Public/Expert/images/user/touxiang.jpg" /></div>
                        <div class="txts">
                            <h2>名字<small>主任医师</small></h2>
                            <span>长阳县医院</span>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
        <section class="view text-right"><a href="#">查看诊断报告</a></section>
    </article>
    <div class="jujue_con">
    	<div class="jujue_nei">
            <div class="result">
                <h2>拒绝理由</h2>
                <form>
                    <ul>    
                        <li>
                            <input type="radio" id="mood" checked="checked" name="rd" value="不想参加" />
                            <label class="leibie" for="mood">不想参加</label>
                        </li>
                        <li>
                            <input type="radio" id="clash" name="rd" value="会诊日期冲突" />
                            <label class="leibie" for="clash">会诊日期冲突</label>
                        </li>
                        <li>
                            <input type="radio" id="else" name="rd" value="其他原因，在下方输入" />
                            <label class="leibie" for="else">其他原因，在下方输入</label>
                        </li> 
                    </ul> 
                </form>
                <textarea name="" id="" cols="30" rows="10" placeholder="请输入拒绝理由"></textarea>
                <a href="#" class="wanc">完成</a>
            </div>
        </div>
    </div>
    <script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script>
    <script>
     //诊断报告填写
        $('.view2 .jujue').click(function(){
            $('.jujue_con').css({
                'display':'box',
                'display':'-webkit-box'
            });
        })
        $('.jujue_con .wanc').click(function(){
            $('.jujue_con').hide();
        });
		
		$('.result ul li').eq(0).children('.leibie').addClass('on');
		$('.result ul li').click(function(){
		$(this).children('.leibie').addClass('on');
		$(this).siblings().children('.leibie').removeClass('on')
		})
    </script>
</body>
</html>