html, body { margin: 0; padding: 0; font-size: 62.5%; }
ul, li { list-style: none; margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }
input, textarea:focus { outline: none; }
a { text-decoration: none; }
.huise { background-color: #e5e5e5; }
.ui-icon-unchecked:before { content: "\f610"; }

.ui-icon-checked-s:before { content: "\f602"; }


.chanpin ul li .ui-icon-unchecked-s.xz:before { content: "\f611"; }
.chanpin ul li .xz.xuanze:before {content: "\f602";  }

/*
.header{ width: 100%; height: 4.25rem; position: fixed;  color: #fff; font-size: 1.40px; line-height: 4.25rem; padding-left: 5rem; background-color: #22292c; z-index: 1000;}
.header .guanbi{ width:5rem; height: 4.25rem; position: absolute; left: 0; top: 0; display: block; background:url(../images/icon_guanbi.jpg) no-repeat 15px center ; background-size:1.75rem;}
.header .gengduo{ width:5rem; height: 4.25rem; position: absolute; right: 5rem; top: 0; display: block; background:url(../images/icon_more.jpg) no-repeat 15px center ; background-size:1.75rem;}
*/
.txt { width: 100%; height: 60px; background-color: #fff; border-bottom: 1px solid #e5e5e5; /*padding-top: 4.25rem;*/ overflow: hidden; }
.txt textarea { width: 100%; height: 60px; line-height: 20px; font-size: 12px; color: #999; border: 0; padding: 15px; }
.uploader { min-height: 50px; width: 100%; background-color: #fff; position: relative; margin-bottom: 12px; padding: 10px 10px 10px 65px; color: #999; font-size: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
#pre_pic { display: none; }
.uploader .g-image-upload-box .upload-btn { display: block; width: 32.5px; height: 40px; background: url(/weixin/Public/Expert/images/cf/icon_img.jpg) no-repeat left center; background-size: 100%; position: absolute; left: 0; top: 5px; }
.g-image-upload-box .preview.small, .g-image-upload-box .upload-btn.small { border: 0; }
.J_Showmeonfileuploaded { color: #999; }
.g-image-upload-box .upload-btn.small .file-input { font-size: 4.5rem; height: 45px; width: 45px; }
.img { height: 50px; width: 100%; background-color: #fff; position: relative; margin-bottom: 12px; padding: 10px 10px 10px 65px; color: #999; font-size: 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.img a { display: block; width: 32.5px; height: 40px; background-size: 32.5px; background: url(/weixin/Public/Expert/images/cf/icon_img.jpg) no-repeat left center; position: absolute; left: 15px; top: 5px; }
.img b { font-size: 11px; font-weight: normal; }
.chanpin { width: 100%; padding: 15px; background-color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chanpin h2 { font-size: 12px; color: #333; margin-bottom: 15px; font-weight: normal }


/*20151203乔 改 star*/
.chanpin>h3{ display: inline-block; width: 45%; height: 35px; line-height: 35px;font-size: 14px; color:#ff647c;}
.chanpin>h3 label span{  margin-right: 5px; float: left; margin-top: 7px;}
.chanpin>h3 label input[type=radio]{ display: none;}
.chanpin>h3 label input[type=radio]+span{ display: inline-block; width: 20px; height: 20px; background: url(/weixin/Public/Expert/images/cf/meixuan.png) no-repeat;}

.chanpin>h3 label input[type=radio]:checked+span{ display: inline-block; width: 20px; height: 20px; background: url(/weixin/Public/Expert/images/cf/xuanzhong.png) no-repeat;}
/*20151203乔 改 end*/



.chanpin .search { position: relative; }
.chanpin .search label { margin-right: 50px; display: block; height: 25px; border-radius: 3px; padding: 0 3.5rem 0 23px; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(/weixin/Public/Expert/images/cf/icon_searchline.jpg) no-repeat 17px center; background-size: 1px 17px; background-color: #eeeeee; position: relative; }
.chanpin .search button { display: block; width: 37.5px; height: 25px; position: absolute; right: 0; top: 0; background-color: #ec9800; color: #fff; font-size: 10px; border: 0; border-radius: 3px; }
.chanpin .search label input { width: 100%; height: 25px; border: 0; padding: 0; background-color: #eee; color: #999; font-size: 10px; line-height: 25px; white-space: nowrap; }
.chanpin .search label span { display: block; width: 18px; height: 16px; position: absolute; right: 10px; top: 5px; background: url(/weixin/Public/Expert/images/cf/icon_search.png) no-repeat right center; background-size: 18px 16px; }
.chanpin .jiazai { margin-bottom: 20px; }
.chanpin ul {-webkit-tap-highlight-color: rgba(0,0,0,0);overflow:hidden;}
.chanpin ul li { position: relative; width: 100%; padding: 8px 5px 8px 24px; background: url(/weixin/Public/Expert/images/cf/icon_li_bottom.jpg) repeat-x bottom; -webkit-box-sizing: border-box; box-sizing: border-box;-webkit-tap-highlight-color: rgba(0,0,0,0); }
.chanpin ul li .xz { display: block; position: absolute; left: -7px; top: 3px; height: 50px; /*background: url(/weixin/Public/Expert/images/cf/icon_weixuan.png) no-repeat left center; */background-size: 11px; text-align:left; }
.chanpin ul li .xz.xuanze { display: block; position: absolute; left: -7px; top: 3px; height: 50px; /*background: url(/weixin/Public/Expert/images/cf/icon_xuanzhong.png) no-repeat left center; background-size: 11px;*/ color:#ff6600; }
/*.chanpin ul li .xz.ui-icon-unchecked-s:before {  content: "\f611"; }
.chanpin ul li .xz.ui-icon-checked-s:before{content: "\f602";}*/
.chanpin ul li:last-child { background: none; }
.chanpin ul li h3 { font-size: 12px; color: #333; height: 30px; line-height: 30px; overflow: hidden; }

.chanpin ul li .label1 { display: block; width: 100px; height: 40px;/* background-color: #d8d7d7;*/ position: absolute; left:100px;  top: 40px;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.chanpin ul li .label1 .num { position: absolute; z-index: 100; padding: 0 5px; -webkit-box-sizing: border-box; box-sizing: border-box; left: 19px; right: 19px; top: 1px; bottom: 1px; background-color: #fff; text-align: center; line-height:35px; font-size: 10px; overflow: hidden; }
.chanpin ul li .label1 .num span { display: block; width: 100%; height: 100%; overflow: hidden; font-size: 10px; }
.chanpin ul li .label1 .jianshao { display: block; width: 18px; height: 18px; padding: 10px; position: absolute; left: -10px; top: 0px; background: url(/weixin/Public/Expert/images/cf/icon_jian.jpg) no-repeat center;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.chanpin ul li .label1 .zengjia { display: block; width: 18px; height: 18px; padding: 10px; position: absolute; z-index: 101; right: -10px; top: 0px; background: url(/weixin/Public/Expert/images/cf/icon_jia.jpg) no-repeat center;-webkit-tap-highlight-color: rgba(0,0,0,0);}


.chanpin ul li .label2 { display: block; width: 100px; height: 40px;/* background-color: #d8d7d7;*/ position: absolute;  left:100px;  top: 80px;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.chanpin ul li .label2 .num2 { position: absolute; z-index: 100; padding: 0 5px; -webkit-box-sizing: border-box; box-sizing: border-box; left: 19px; right: 19px; top: 1px; bottom: 1px; background-color: #fff; text-align: center; line-height: 35px; font-size: 10px; overflow: hidden; }
.chanpin ul li .label2 .num2 span { display: block; width: 100%; height: 100%; overflow: hidden; font-size: 10px; }
.chanpin ul li .label2 .jianshao { display: block; width: 18px; height: 18px; padding: 10px; position: absolute; left: -10px; top: 0px; background: url(/weixin/Public/Expert/images/cf/icon_jian.jpg) no-repeat center;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.chanpin ul li .label2 .zengjia { display: block; width: 18px; height: 18px; padding: 10px; position: absolute; z-index: 101; right: -10px; top: 0px; background: url(/weixin/Public/Expert/images/cf/icon_jia.jpg) no-repeat center;-webkit-tap-highlight-color: rgba(0,0,0,0);}


.chanpin ul li .label3 { display: block; width: 100px; height: 40px;/* background-color: #d8d7d7;*/ position: absolute; left:100px; top: 120px;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.chanpin ul li .label3 .num3 { position: absolute; z-index: 100; padding: 0 5px; -webkit-box-sizing: border-box; box-sizing: border-box; left: 19px; right: 19px; top: 1px; bottom: 1px; background-color: #fff; text-align: center; line-height: 35px; font-size: 10px; overflow: hidden; }
.chanpin ul li .label3 .num3 span { display: block; width: 100%; height: 100%; overflow: hidden; font-size: 10px; }
.chanpin ul li .label3 .jianshao { display: block; width: 18px; height: 18px; padding: 10px; position: absolute; left: -10px; top: 0px; background: url(/weixin/Public/Expert/images/cf/icon_jian.jpg) no-repeat center;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.chanpin ul li .label3 .zengjia { display: block; width: 18px; height: 18px; padding: 10px; position: absolute; z-index: 101; right: -10px; top: 0px; background: url(/weixin/Public/Expert/images/cf/icon_jia.jpg) no-repeat center;-webkit-tap-highlight-color: rgba(0,0,0,0);}


.chanpin h4 { color: #ff6600; margin: 20px 0 15px; position: relative; height: 20px; line-height: 20px; font-weight: normal; }
.chanpin h4 span { display: block; width: 40px; position: absolute; right: 0; top: 0; text-align: right; height: 20px; line-height: 20px; color: #666; }
ul.yixuanze { }
ul.yixuanze li { background: none; background-color: #eee; padding: 2px 10px; margin-bottom: 7px; border-radius: 3px; height: 42px; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul.yixuanze li h3 { width: 100%; overflow: hidden; font-size: 12px; color: #333333; font-weight: normal; line-height: 19px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
ul.yixuanze li h3 span { position: absolute; right: 10px; bottom: 2px; }
ul.yixuanze li h3 span b { font-weight: normal; }
.chanpin h4 { color: #ff6600; margin: 20px 0 15px; position: relative; height: 20px; line-height: 20px; font-weight: normal; }
.chanpin h4 span { display: block; width: 40px; position: absolute; right: 0; top: 0; text-align: right; height: 20px; line-height: 20px; color: #666; }
ul.bianji { padding-right: 30px; }
ul.bianji li { background: none; background-color: #eee; padding: 2px 40px 2px 10px; margin-bottom: 7px; border-radius: 3px; height: 42px; -webkit-box-sizing: border-box; box-sizing: border-box; }
ul.bianji li h3 { width: 100%; overflow: hidden; font-size: 12px; color: #333333; font-weight: normal; line-height: 19px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
ul.bianji li h3 span { position: absolute; right: 10px; bottom: 2px; }
ul.bianji li h3 span b { font-weight: normal; }
ul.bianji li i { display: block; width: 45px; height: 42px; background: url(/weixin/Public/Expert/images/cf/icon_shanchu.png) no-repeat center; background-size: 11px; position: absolute; right: -45px; top: 0; }
.tijiao { width: 100%; position: fixed; bottom: 0px; z-index: 9999; }
.tijiao button { width: 100%; border-radius: 0; -webkit-appearance:none;line-height:40px;border-width:0;}
.ui-btn-purchase-pink{background:#ff647c;color:#fff;}
/*处方列表*/
.fanhui { height: 20px; width: 100%; border-bottom: 1px solid #b5b5b5; background-color: #fff; }
.fanhui a { display: block; width: 5rem; height: 20px; background: url(/weixin/Public/Expert/images/cf/jt2.jpg) no-repeat 10px center; }
.chufang_list { background-color: #fff; }
.chufang_list ul { padding: 15px; }

.chufang_list ul li { background: url(/weixin/Public/Expert/images/cf/icon_li_bottom.jpg) repeat-x bottom; width: 100%; padding: 10px 0; position: relative; height: auto; }
.chufang_list ul li：last-child { background: none; }
.chufang_list ul li a.list_img { text-align: left; display: block; position: absolute; left: 0; top: 10px; width: 45px; height: 45px; background-size: 30px; }
.chufang_list ul li a.list_img img{border-radius: 50%;}
.chufang_list .nodetail{height: 100%; text-align: center; margin-top: 40%;}
.chufang_list .nodetail img{}
.chufang_list .nodetail i{display: block; text-align: center; font-size: 12px;}

.chufang_list .list_txt { padding: 0 2.2rem 0 3.8rem; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chufang_list .list_txt h3 { padding-left: 5px; font-size: 10px; color: #333; line-height: 16px; height: 16px; }
.chufang_list .list_txt h3 span { font-size: 12px; color: #333; position: relative; }
.chufang_list .list_txt h3 span b { position: absolute; right: -15px; top: 2px; width: 10px; height: 10px; display: block; /*background: url(/weixin/Public/Expert/images/cf/icon_img_xiao.jpg) no-repeat center; */background-size: 10px; }

.chufang_list .list_txt p { padding-left: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; line-height: 16px; height: 16px; width: 65%; }
.chufang_list .list_txt p a { color: #333; font-size: 12px; }
.chufang_list .list_txt h4 { position: relative; line-height: 16px; height: 16px; padding-left: 5px;}
.chufang_list .list_txt h4 span { color: #898989; font-weight: normal; font-size: 12px; }
.chufang_list .list_txt h4 time { position: absolute; right: 0; color: #898989; font-weight: normal; font-size: 12px; }
.chufang_list ul li a.list_right { display: block; width: 100%; height: 4.5rem; background: url(/weixin/Public/Expert/images/cf/icon_list_right.jpg) no-repeat right; position: absolute; right: 10px; top: 10px; background-size: 9px 17px; }
.chufang_txt { margin-bottom: 1px; padding: 15px 25px; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 10px; color: #999; background-color: #fff; }
.chufang_txt p { line-height: 18px; padding: 0; margin: 0; }
.chufang_img { position: relative;  background-color: #fff; margin-bottom: 10px; }
.chufang_img a { display: block; position: absolute; background-size: 52px; color: #999; font-size: 12px; padding: 7px 15px; height: 86px; }
.chufang_img a img { height: 86px; padding-right: 10px; }
.daixuan { margin-bottom: 10px; }
.daixuan ul li>span { display: block; position: absolute; left: 0; top: 0; width: 24px; height: 50px; background: url(/weixin/Public/Expert/images/cf/icon_daixuan.png) no-repeat left center; background-size: 11px; }
.daixuan ul li h3 { font-weight: normal; }
.daixuan ul li:last-child { background: none; height: 35px; line-height: 35px; text-align: center; color: #ea4e4e; padding: 0; }
.daixuan ul li:last-child h2 { font-size: 12px; }

@media screen and ( max-width:320px ){
	.chufang_list ul{
		padding: 10px;
	}
	.chufang_list .list_txt{
		padding: 0 2.2rem 0 4rem;
	}
}

/**************************************************************************/
.yaodian { padding: 15px; background-color: #fff; }
.yaodian h2 { padding-bottom: 10px; font-size: 12px; color: #333; font-weight: normal; }
.yaodian h3 { display: block; position: relative; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; height: 30px; }
.yaodian h3 span { width: 50%; position: absolute; border-right: 1px solid #e3e3e3; background: url(/weixin/Public/Expert/images/cf/icon_down.jpg) no-repeat right 13px top 14px; background-size: 13px 5px; color: #333; font-size: 12px; height: 28px; line-height: 28px; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box;  }
.yaodian h3 span:first-child { border-left: 1px solid #e3e3e3; }
.yaodian h3 span:last-child { left: 50%;  }
.yaodian ul { position: relative; padding: 10px 15px; background: url(/weixin/Public/Expert/images/cf/cur.png) repeat-x 25% -20px; }
.yaodian ul li { background: url(/weixin/Public/Expert/images/cf/icon_li_bottom.jpg) repeat-x bottom; position: relative; padding: 10px 25px 10px 50px; height: 60px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.yaodian ul li img { width: 42px; height: 33px; position: absolute; left: 0; top: 10px; }
.yaodian ul li h4 { font-size: 12px; color: #333; margin-bottom: 8px; }
.yaodian ul li p { font-size: 10px; color: #999; position: relative; }
.yaodian ul li p span { padding: 0 20px; }
.yaodian ul li p b { font-weight: normal; }
.yaodian ul li label { display: block; position: absolute; right: 10px; top: 10px; width: 100%; height: 30px; text-align:right;/* background: url(/weixin/Public/Expert/images/cf/icon_daixuan.png) no-repeat right; background-size: 11px; */}
.yaodian ul li label.xuanze { display: block; position: absolute; right: 10px; top: 10px; width: 100%; height: 30px; color:#ff6600;/* background: url(/weixin/Public/Expert/images/cf/icon_xuanzhong.png) no-repeat right; background-size: 11px;*/ }
.fujin li input { display: none; }
.yaodian ul li h5 { text-align: center; color: #999; font-size: 10px; padding: 15px 0 10px; }
.yaodian ul li:last-child { background: none; }
.search { background: none; }
.ui-search { background: none }
.ui-search .ui-searchtxt input { background-color: #f4f4f4; }
.zhifu { width: 100%; position: relative; position: fixed; bottom: 0; z-index:1000;}
.zhifu a { width: 100%; }
.zhifu a:last-child { }
.zhifu a.on { background-color: #ff6600; color: #fff; }
.yaodian .diqu { background-color: #fff; padding: 0; display: none; }
.yaodian .diqu li { height: auto; padding: 10px 0 5px; }
.diqu li a { display: block; width: 100%; height: 30px; line-height: 30px; font-size: 12px; border-bottom: 1px solid #e5e5e5; padding-left: 20px; color: #333; }
.diqu li a:last-child { border: 0; }
.zhezhao { position: fixed; top: 0; z-index: 1001; bottom: 0; width: 100%; display: none; }
.zhezhao span { display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: #000; opacity: 0.5; z-index: 1002; }
.zhezhao img { position: absolute; left: 0; right: 0; top: 0; width: 100%; max-height: 70%; padding: 20% 10px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 1003; }
.zhezhao b { display: block; width: 20px; height: 20px; position: absolute; right: 20px; top: 5%; z-index: 1005; background: url(/weixin/Public/Expert/images/cf/icon_shanchux.png) no-repeat center; background-size: 20px; }
/*药品列表*/
.yaopinlist { }
.yaodian .hos_search .sear { width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.yaodian .hos_search .sear b { color: #666; }


.tiaojian a{display: block;
width: 100%;
height: 30px;
line-height: 30px;
font-size: 12px;
border-bottom: 1px solid #e5e5e5;
padding-left: 20px;
color: #333;}
/*医生入口*/
.input-controller { position: relative; }
.g-image-upload-box { display: inline-block; position: absolute; left: 20px; top: 0; width: 50px; height: 50px; background-size: 50px; }
.g-image-upload-box input { opacity: 0; }
.ruko { float: left; position: absolute; left: 5px; display: inline-block; width: 50px; height: 50px; overflow: hidden; background: url(/weixin/Public/Expert/images/icon_chufang.png) no-repeat center; background-size: 30px; }
.ruko input { display: inline-block; width: 100%; height: 100%; background: none; border: none; }
.input-controller { padding: 0 0 0 100px; }
input.gbt-pri { position: relative; top: 10px; left: 0; }
/*医院药店选择*/

ul.hosChecked { display: inline-block; position: relative; width: 100%;  border-bottom: 1px solid #e3e3e3;  box-shadow: 1px 1px 2px #ccc;  line-height: 20px; color: #999; background: #fff;}
ul.hosChecked li{border-bottom: 1px solid #e3e3e3;  color: #999;   font-family: "微软雅黑";   line-height: 20px;   list-style: outside none none;   overflow: hidden;    padding: 15px;}
ul.hosChecked li label{background: rgba(0, 0, 0, 0) url("/weixin/Public/Expert/images/cf/icon_weixuan.png") no-repeat scroll left center; font-size: 14px;}
ul.hosChecked li input{ }

/*患者端 处方信息详情 李茂20160817*/
#cfdetail #milkMap { height: 150px; width: 100%;}
#cfdetail .gotobuy { width: 100%;  background: #fff; padding-bottom: 20px;}
#cfdetail .gotobuy a {width: 90%;height: 40px; line-height: 40px; text-align: center;display: block; background: #ff647c; font-size: 14px;color: #fff; margin: 0 auto;border-radius: 4px;}
#cfdetail .qianming {position: absolute;right: 10px;bottom: 10px;width: 70px;height: 35px;border: 2px solid #fe0000;}
#cfdetail .qianming img { width: 100%;}

/*患者端 我的处方列表 李茂20160817*/
#chufang_list .xiadan{position: absolute; right: 20px; top: 12px; width: 65px; height: 20px; line-height: 20px; text-align: center; border: 1px solid #ff647c; border-radius: 2px; color: #ff647c; font-size: 12px;}
#chufang_list .tab-box{width: 100%; margin-bottom: 10px; display: box; display: -webkit-box;}
#chufang_list .tab-box .tab2,.tab-box .tab1{width: 50%; text-align: center; background: #fff;}
#chufang_list .tab-box .tab2 a,.tab-box .tab1 a{padding: 10px 0; display: block; width: 100%; font-size: 16px; color: #333;}
.tab-box .tab1 a span{display: block;}
#chufang_list .tab-box .tab2 a span{display: block; color: #FF647C; border-left: 1px solid #e0e0e0;}
#chufang_list .tab-box .tab2 a{border-bottom: 2px solid #FF647C;}
.xzyd a
{	border-bottom: 1px solid #e5e5e5;
    color: #333;
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px; 
	padding-left: 20px;
}
.xzyd a:hover
{ color:#F00;}
.xzyd input{ height:30px; width:50%; padding:0 5px;}
.xzyd select{ height:30px; width:75%; padding:0 5px;}
.chanpin h3{ font-size:14px; color: #ff647c}
body,td,th {
	font-size: 14px;
}
.member_jc label{ height: 30px;line-height:30px; width:100px;}
.member_jc #male ,#wmale{ height: 30px; width:5%; line-height:30px; margin: 0 10px;vertical-align:middle}
.member_jc #member_age{ height: 30px; line-height:30px;  padding: 0 5px; width:10%; }
    .ct{margin-top:20px;}
    .ct select{width:40%;padding:5px;}