<volist name="jb_info" id="jb">
    <li>
        <div class="riji">
            <span>{$jb.MEASURE_DATE|Dtodiy="m-d",###} </span>
            <i>{$jb.MEASURE_DATE|Dtodiy="H:i",###}</i>
        </div>
        <div class="f_right">
            <span>卡路里</span>
            <i>{$jb.CALORIES}J</i>
        </div>
        <div class="f_right">
            <span>距离</span>
            <i>{$jb.DISTANCE}m</i>
        </div>
        <div class="f_right">
            <span>步数</span>
            <i>{$jb.STEPCOUNT}步</i>
        </div>
            
    </li>∮
</volist>