<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>腕表档案</title>
<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link rel="stylesheet" href="/weixin/Public/Member/css/user/jiankang.css">
<script>
	document.getElementsByTagName("html")[0].style.fontSize= document.documentElement.clientWidth / 16 + "px";
</script>
</head>
<body>
	<ul id="control" class="clear">
		<li>腕表档案</li>
	</ul>
	
	<div id="box">
		<ul class="content" id="content1">
			<li class="clear">
				<a href="{:U('Member/User/wb_info',array('tj_type'=>7))}" class="clear">
					<span>血糖</span>
					<b>></b>
				</a>
			</li>
			<li class="clear">
				<a href="{:U('Member/User/wb_info',array('tj_type'=>8))}" class="clear">
					<span>血压</span>
					<b>></b>
				</a>
			</li>
			
			<li class="clear">
				<a href="{:U('Member/User/wb_info',array('tj_type'=>9))}" class="clear">
					<span>心率</span>
					<b>></b>
				</a>
			</li>
		</ul>
		
	</div>
<div id="emptyData"></div>
<div id="current_pagenum" style="display:none">2</div>
	<script src="/weixin/Public/Expert/js/jquery.min.js"></script>
	<script src="/weixin/Public/Common/js/zepto.js"></script>
	
     <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>