<volist name="yuepian_list" id="order">	
	<li>

		<!-- <if condition="$order.SJ_TYPE eq '0'">

		<a href="{:U('Member/Order/order_detail',array('order_id'=>$order['ORDER_ID'],'sj_type'=>$order['SJ_TYPE']))}">

		<else/>

		<a href="{:U('Member/Order/hos_order_detail',array('order_id'=>$order['ORDER_ID'],'sj_type'=>$order['SJ_TYPE']))}">

		</if> -->

		<!-- <img src="{$order['SERVE_PIC']}" width="40px" height="40px" /> -->

		<h2>医院：{$order['HOS_NAME']}</h2><i class="tongguo">专家：{$order['EXPERT_NAME']}</i>
		<i class="tongguo"> 阅片量：{$order['PIC_NUM']}</i>
		<h3>阅片建议：{$order['EXPERT_DESC']}</h3>
		<!-- <span>{$order['CREATE_DATE']}</span> -->				
		</a>
		</li>∮
</volist>


































