<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>护士帮协议</title>
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/12 + 'px';
    </script>
    <style>
        *{margin:0;padding:0;}
        li{list-style:none;}
        a{text-decoration:none;}
        i{ font-style:normal;}
        img{border-width:0;vertical-align:middle;}
        .clear{overflow:hidden;}
        .box{display:box;display:-webkit-box;}
        .center{display:box;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;}
        .bottom{display:box;display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:end;}
        .text-center{text-align:center;}
        .text-left{text-align:left;}
        .text-right{text-align:right;}
        .fl{float:left;}
        .fr{float:right;}
        body{background:#fff;font-size:16px;}
        h2{font-weight:normal;font-size:18px;padding:20px 0;}
        p{margin-bottom:20px;text-align:justify;text-justify:inter-word;}
        section{width:11rem;margin:0 0.5rem;}
    </style>
</head>
<body>
    <article>
        <section>
            <h2 class="text-center">护士帮医护服务协议</h2>
            <p>【协议说明】护士帮是北京远程视界集团（以下简称“护士帮”）专门为护士/陪诊（以下简称“医护人员”或“您”）开发的移动应用，您可使用它设置您的执业信息、接受预约并提供上门及陪诊服务。本协议由护士帮与您订立，明确双方的权利义务，请您在下载、安装及使用本应用前仔细阅读协议条款。一经注册或以其他方式使用我们的产品和服务，将视为您已经确认接受本协议条款并同意成为本协议的一方，若您不同意任一条款请卸载并停止使用本应用。就相关事宜，双方达成如下一致：</p>
            <p>【审慎阅读】您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。如您对协议有任何疑问，可向护士帮客服（400-656-2020）咨询。如您未满18周岁，或以其他形式被限制民事行为能力，请在监护人的陪同下阅读本协议。</p>
            <p>【词汇定义】本文中所用词汇定义如下：</p>
            <p>护士帮：指北京远程视界集团推出的移动医疗健康服务信息平台，为全国患者提供陪诊、上门打针输液等护理服务。本平台包括护士帮网站、护士帮移动客户端及其他现在或将来推出的基于护士帮的信息平台。</p>
            <p>医护：指阅读并同意本协议内容，经过护士帮注册程序成为为患者提供服务的护士、陪诊等人员。（以下更多称为“您”）</p>
            <p>上门服务：指注册患者通过护士帮平台，预约护士/陪诊人员到指定地点，就患者病情提供相关健康服务，包括但不限于打针输液、慢病回访等服务。</p>
            <p>护士帮管理规定：指包括本协议在内的，由医护签署，或由护士帮在明显位置展示的，具有规范医护行为作用的各类规定、提示、声明文件。</p>
            <p>1. 注册条件</p>
            <p>1）护士帮（护士版）仅接受正规医院执业护士，或具有一定经验的陪诊人员的实名注册申请，您应保证在注册和使用本软件期间是具备完全民事权利能力和行为能力的自然人，并持续持有合法有效的中华人民共和国《护士执业资格证》或者有一定陪诊相关工作经验。</p>
            <p>2）若您不具备上述主体资格，则应终止注册及使用本应用。护士帮若发现您不满足注册条件时有权随时单方解除本协议并注销您的账户，您应当承担因此而导致的一切后果及相关责任。</p>
            <p>2. 注册信息</p>
            <p>1） 您在注册账户时应向护士帮提供完整、真实且有效的注册信息（包括但不限于您的个人身份信息、执业信息、职称信息等）及资质文件（包括但不限于身份证明文件、执业资质证明文件、职称证明材料等），接受并配合护士帮对您身份信息和基本资质文件表面真实性的审核；</p>
            <p>2） 护士帮将对您的身份信息、执业资质、职称等级信息、所在医院及所在科室信息的表面真实性进行审核，并会把经认证的信息展现在“护士帮”中，您应确保经护士帮认证的信息在您使用本软件期间持续真实、合法、准确、有效。若发生变更，您应当在变更后3个工作日内向护士帮提供更新后的信息和相应的证明文件，并接受护士帮的重新验证审核。</p>
            <p>3） 您必须基于实际情况填写擅长的领域及执业经历等信息，确保信息真实可信，不得有夸大宣传的言词。</p>
            <p>3.权限开通</p>
            <p>1） 您的注册信息通过护士帮审核后，护士帮将为您的账户开通本应用的使用权限。根据使用权限，您可以通过登录护士帮账号使用本应用的各项功能。由于医疗服务的特殊性，您应确保仅有您本人能登录并操作护士帮账户， 您无权将账户转租、转借、赠与或授权任何第三方使用，否则您应当承担由此产生的一切后果并赔偿相关所有损失。</p>
            <p>2） 您须自行对您的患者名和密码的安全性负责，并对您账户下的一切使用行为承担全部责任。若您在任何情况下知悉或怀疑您的患者名及密码为任何第三方所知悉，或有人未经授权而使用您的账号， 您应当立即以有效方式通知护士帮，由护士帮工作人员帮您分析解决，确保您的账号安全。</p>
            <p>4.使用规范</p>
            <p>1） 护士帮为您提供展示执业信息的平台，您须对您提供的个人信息、执业信息等资料的真实性、合法性负全部责任，确保患者可以基于您真实的信息进行判断和选择；</p>
            <p>2） 护士帮平台中包含了“预约上门”功能，您应本着最大诚信的原则接受或拒绝预约并按承诺提供相关服务，确保患者利用本应用获得健康服务的成功率。如因您的原因导致无法完成预约服务时，您须第一时间与患者及护士帮客服沟通并达成一致；如未与患者达成一致或受到患者投诉，首次未完成预约，护士帮将暂停您使用本应用24小时；累计两次未完成预约，护士帮将暂停您使用本应用48小时；累计超过3次未完成预约，护士帮将永久停止您使用本应用。</p>
            <p>4） 护士帮包含了“上门服务”功能，您应本着诚信原则，按照约定时间和地点，向患者提供服务，严禁私自收取约定上门服务费以外的费用。</p>
            <p>5） 您应对任何第三方因信赖您发布的信息而遭受的损失承担赔偿责任，并应赔偿护士帮因此遭受的全部损失，包括但不限于直接损失，护士帮为此支付的律师费，鉴定费，差旅费等。</p>
            <p>6） 您通过护士帮平台提供的信息服务，应严格限定在护士帮提供的健康服务范围内，不得提供护士帮服务范围以外的任何服务，包括但不限于提供药品或输液工具、针灸等医疗服务。如因您擅自提供护士帮服务范围以外的服务导致的医患纠纷，因此产生的一切责任及全部赔偿均由您自行承担，护士帮不承担任何责任。</p>
            <p>5.关于参与护士帮活动所获取的奖励</p>
            <p>您在使用护士帮过程中进行的本协议项下允许范围内的行为，如符合护士帮医生举办活动的相关奖励条件时（如护士帮平台或相关服务界面有相应的活动规则，应以该活动规则内容为准），可以享受护士帮医生给予的特定奖励，但发生如下行为时，则不在奖励范围内：</p>
            <p>1）护士帮发现您通过造假、欺诈等作弊手段骗取奖励的；</p>
            <p>2）护士帮有合理理由怀疑您提供的资料信息为错误、不实、失效或不完整的。</p>
            <p>如您通过上述的行为得到护士帮的奖励，请您及时将奖励返还护士帮，否则护士帮将通过法律手段追索您的不当得利。</p>
            <p>因运营商、个人设备硬件、操作系统、自行安装的各类软件等原因造成无法收到奖励通知，无法得到活动奖励的或因其他不可抗拒力因素而导致的无法获得奖励的，护士帮不承担任何责任，您亦无权要求护士帮给予补偿。</p>
            <p>6.非排他性许可</p>
            <p>1） 护士帮软件产品（包括但不限于本软件产品中所含的任何图象、照片、动画、文字和附加程序、修正程序、更新版本和升级版本）的一切所有权和知识产权，均由护士帮拥有。</p>
            <p>2） 护士帮可撤销、非排他地授权您，依照本协议条款和条件，</p>
            <p>(a)为在您的网站或第三方网站上使用护士帮医生服务的需要而安装、复制和使用护士帮；</p>
            <p>(b)在遵守所有的适用法律和法规的前提下，通过远程访问、浏览和下载您的护士帮的数据。</p>
            <p>7.权利限制</p>  
            <p>您不得自行或允许第三方：</p>  
            <p>1）以任何方式创作护士帮软件或相关文档的衍生作品；</p>
            <p>2）将护士帮的产品和服务私下转让或再许可给他人；</p>
            <p>3）对护士帮进行反向工程、反向编译和反向汇编；</p>
            <p>4）修改或拆分护士帮的代码或者任何功能；</p>
            <p>5）使用、公布、传输或采用干扰或试图干扰护士帮医生服务或软件的运行的任何设备、软件或例程；</p>
            <p>6）侵犯患者的隐私权及任何第三方的合法权益；</p>
            <p>7）在护士帮授权范围外使用护士帮及数据、文档和报告。</p>
            <p>8.免责条款</p>
            <p>1）您同意按护士帮的现状使用相关产品及服务。护士帮特此申明对护士帮之使用不提供任何保证（包含但不限于商业担保和特殊目的的适用性担保），亦不对您因护士帮医生服务暂停或终止/解除而遭受的任何直接或间接损失承担责任。护士帮不保证您一定能够提供服务，护士帮有权随时暂停或终止全部或部分服务。</p>
            <p>2）对于从非护士帮指定站点或发行介质上下载的护士帮，护士帮无法保证该软件是否感染计算机病毒、是否隐藏有伪装的特洛伊木马程序等黑客软件，也不承担由此给您造成的直接和间接损害责任。</p>
            <p>3）您理解护士帮中可能包含由第三方提供的服务，护士帮只是为了您的便利而提供功能模块。您使用第三方提供的服务，需与第三方另行达成服务协议，支付相应的费用并承担可能的风险。护士帮对第三方所提供的服务不承担任何形式的担保，亦不承担任何责任。</p>
            <p>4）本应用中患者向您提供的任何反馈、意见或建议均是患者的个人行为，护士帮对其言行导致的后果不承担任何责任。</p>
            <p>9.隐私权保护</p>
            <p>1）护士帮尊重并保护您的隐私权，您注册的账户名、电子邮件地址等个人资料，非经您许可的可以展现在护士帮的部分，或根据相关法律、法规的强制性规定，以及护士帮为维护改进软件服务为目的，不会主动地泄露给第三方（隐私权政策详见隐私权保护声明）。</p>
            <p>2）您在使用该软件的过程中应当遵守法律法规中关于隐私权的保护，不得自行（且不得允许任何第三方）使用护士帮医生追踪或收集互联网患者的个人身份信息，也不得自行（且不得允许任何第三方）将从您的网站（或该第三方的网站）收集的任何数据与从任何来源获得的任何个人身份信息相联系。您应制定并遵守合法且适当的隐私权政策。</p>
            <p>10.费用</p>
            <p>1）护士帮其他相关服务包括但不限于陪诊、打针输液、慢病回访、护理等服务，护士帮将收取当次相关服务一定的服务费，剩余费用计入上门服务医护人员的护士帮账户中。医护人员可在每月15日前对上个月的账户余额进行提现。护士帮每月将依据国家税法对医护人员上个月的收入代扣代缴个人所得税。</p>
            <p>2）护士帮有权不经另行通知而不时变更服务费用和支付的政策，变更后的政策立即生效。您应不时查阅护士帮相关政策，您继续使用护士帮的行为视为您同意护士帮变更后的所有政策，若您不同意变更事项，请终止使用本应用</p>
            <p>11．保险</p>
            <p>护士帮针对通过护士帮平台提供上门服务的全部医护人员，免费投保中国人民健康保险股份有限公司北京分公司人身意外保险，全部保险费用由护士帮平台承担。</p>
            <p>12. 商标</p>
            <p>本《协议》不授予您与护士帮作为版权人所拥有的任何商标或服务商标有关的任何权利。除非您另行书面通知护士帮公司，否则，您特此向护士帮（包括各关联公司）授予一项有限许可，即在演示介绍、营销材料、客户名单和财务报表中允许使用您的相关信息，包括但不限于标识、商标及其他显著品牌特征等。</p>
            <p>13. 终止</p>
            <p>1）若您违反本协议的任何条款，护士帮有权立即单方解除本协议，同时终止对您的所有授权。授权一旦终止，您使用本软件产品的权利即刻终止。此种情况下您必须停止使用护士帮，销毁护士帮认证医护及其各部分的所有副本，并在终止后三个工作日内以书面形式向护士帮做出销毁证明，否则，您将承担相应的未经授权使用护士帮软件的法律责任。</p>
            <p>2）若因您违反本协议任何条款导致护士帮单方解除本协议：</p>
            <p>(a)您无权得到任何损失补偿；</p>
            <p>(b)您将无权获得您的一切历史数据；</p>
            <p>(c)您应赔偿因此给护士帮或任何第三方造成的损失。</p>
            <p>14. 不可抗力</p>
            <p>除中国法律规定不可抗力情形外，下列情况亦属于不可抗力：(a）任何公共的互联网骨干网、网络或服务器停运；(b）您的设备、系统或当地连接服务发生故障；(c）已经预定的维修；(d）您所在地区的互联网服务中断；(e）黑客攻击。</p>
            <p>15.条款和政策的修改及关注义务</p>
            <p>护士帮有权利以公告的方式修改、变更本协议条款和服务政策，您有责任定期查看。如您不接受变更、修改后的协议条款和服务政策的，应立即停止使用本软件，并按照终止条款的规定销毁已下载使用的软件产品。若您接受变更后的条款或继续使用护士帮医生的服务，表明您受变更后的协议约束。</p>
            <p>16. 法律适用及管辖</p>
            <p>本协议的订立、执行和解释均适用中华人民共和国大陆地区适用之法律。因本协议或使用本软件产品所引起的争议由护士帮所有权人注册所在地的有管辖权的人民法院管辖。护士帮对本协议内容拥有最终解释权。</p>
        </section>
    </article>
</body>
</html>