<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/weixin/Public/Common/css/common/mobi-reset.css">
<link rel="stylesheet" type="text/css" href="/weixin/Public/Member/css/nurse/order-waitpay.css">
<title>订单详情</title>
<script type="text/javascript">
	(function(){
		var html = document.documentElement;
		html.style.fontSize = html.clientWidth / 15 + "px";
	})()
</script>
</head>
<body>
	<!-- 温馨提示 -->	
	<section id="tip">
		<h2>温馨提示：</h2>
		<p>1、护士上门后，请先检查其证件确认其身份</p>
		<p>2、请事先准备好相关的所需物品（病例、处方等）</p>
	</section>

	<!-- 信息 -->
	<section id="info">
		<ul>
			<li class="clear">
				<span>预约号：</span>
				<i>461759</i>
				<b>待付款</b>
			</li>
			<li class="clear">
				<span>服务：</span>
				<i>打针1次</i>
			</li>
			<li class="clear">
				<span>姓名：</span>
				<i>张春艳</i>
			</li>
			<li class="clear">
				<span>电话：</span>
				<i>132****5169</i>
			</li>
			<li class="clear">
				<span>时间：</span>
				<i>2016年12月20日</i>
			</li>
			<li class="clear">
				<span>地址：</span>
				<i style="line-height: 0.8rem; padding: 0.4rem 0;">北京市丰台区万丰路316号万开中心A座3层西侧305室</i>
			</li>
			<li class="clear">
				<span>备注：</span>
				<i>自己  张春艳  女  27岁</i>
			</li>
			<li class="clear">
				<span>病情描述：</span>
				<i style="line-height: 0.8rem; padding: 0.4rem 0;">什么是合格靠谱的体验设计？它也许需要严谨的设计推导逻辑、经典方法论的支撑与验证、对商业诉求和技术限制的综合平衡、对各种特殊场景的充分考虑。</i>
			</li>
		</ul>
	</section>

	<!-- 付款 -->
	<section id="pay">
		<a href="javascript:;">立即支付</a>	
		<span>服务费：<i>￥18.00</i></span>
	</section>

	<script type="text/javascript" src="/weixin/Public/Member/js/jquery.min.js"></script>
</body>
</html>