/*ceshidfs*/


/*棰勭害鎵嬫湳浣忛櫌*/
.shoushu{padding:15px 15px 0 15px;}
.ele_p{ background:#f66; line-height:45px; color:#FFF; padding-left:10px; font-size:16px;}
.bak_none{ background:none;}
.ele_con{ width:100%; overflow:hidden;}
.ele_top{ height:30px; margin-top:30px;}
.ele_top h2{ width:27%; float:left; font-size:18px; font-weight:normal; color:#f66;}
.ele_top p{ width:72%; line-height:20px; float:left;}
.ele_bottom{ width:104%;}

.ele_bottom img{ float:left; width:30%; margin-right:3%;margin-top:20px; height:auto;}
.ele_bottom_jiancha img{ width:100%;height:auto; margin-top:20px;}
.ele_hos_tit{ height:30px; margin-top:30px;}
.ele_hos_tit h2{ float:left; color:#f66; font-weight:normal; font-size:18px;}
.ele_hos_tit span{ float:right;color:#980048;}
.ele_hos .scroll_wrap{ width:92%; background:#FFF; padding:4%;}
.ele_hos .scroll_wrap span{ line-height:25px;}
.ele_hos .scroll_wrap strong{color: #f66;}
.ele_hos .scroll_wrap .img{border-radius: 50%; display: block; float: left; height:50px; line-height: 46px;  overflow: hidden; text-align: center; width: 50px;}
.ele_hos .scroll_wrap .img img{ height:50px; float:left;}
.ele_hos .scroll_wrap .mar_right{ margin-left:10px; float:left; width:77%;}
.ele_hos .scroll_wrap .mar_right .mar_right_right{height:35px; margin-top:10px;position:relative;}
.ele_hos .scroll_wrap .mar_right .mar_right_right a.ky{position:absolute;top:0;right:0;background:#66cc33;color:#fff;height:24px;line-height:24px;padding:0 4px;}
.ele_hos .scroll_wrap .mar_right .mar_right_right2{ margin:0;}
.ele_hos .scroll_wrap .mar_right .mar_right_right2 strong{ float:left;}
.ele_hos .scroll_wrap .mar_right strong b{ font-size:14px; font-weight:normal; color:#000; margin-left:10px;}
.ele_hos .scroll_wrap .haoyuan{ float:right; background:#916eb0; color:#FFF; padding:0 5px;}
.ele_hos .scroll_wrap p{ margin-top:3px; display:inline-block; color:#999999; line-height:25px; padding:8px; width:auto;}
.ele_hos .scroll_wrap p label{ color:#333;}
.det_read_p { padding-top: 4%;}
.booking_button{ margin-top:0;}
.det_read_p p { line-height: 25px; text-indent:2em; padding-bottom:30px; }
.similar-items .liucheng, .help-content .liucheng { color: #f66; font-size: 18px; background: #fafafa; margin: 2% 0; }
.similar-items .similar-item_white { background: #FFF; }
/*public*/
.left{float:left;}
.right{float:right;}
.relative{position:relative;left:0;top:0;}
.relativee{position:relative;left:0;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.opacity6{ -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* ie8  */filter:alpha(opacity=60);    /* ie5-7  */opacity:0.6;/* css standard, currently it works in most modern browsers  */}
.app_center{width:100%;min-width:320px;margin-left:auto;margin-right:auto;}
.red{color:red;}
.hide{display:none;}

/*public scroll*/
.scroll{max-width:560px;}
.scroll_box{overflow:hidden;visibility:visible; position:relative;}
.scroll_wrap{overflow:hidden; position:relative;}
.scroll_wrap li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a{display:block;margin:0 auto;position:relative;}

.expert{ margin:0;}

.sInfo section{display:box;display:-webkit-box;padding-bottom:5px;}
.sInfo span{display:block;width:30%;text-align:right;vertical-align:middle;height:30px;line-height:30px;padding:0 10px 0 0;}
.sInfo input{border-radius:6px;background:#f0f0f0;border:2px solid #ccc;padding:5px;height:31px;}

.index_list_img p{padding-top: 5px;
    text-align: center;
    color: #000;
    font-size: 11px;}
.index_list_img p img{
        width: 80%;
    height: auto;
    margin-top: 10px;
}