<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/weixin/Public/Member/css/baozhang/insurance.min.css">
	<title>护士集团</title>
	<script type="text/javascript">
		document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.getBoundingClientRect().width / 15 + 'px';
	</script>
    </head>
<body>
	<ul class="hs_list">
		<li>
			<p class="time">2016-11-24</p>
			<div class="content">
				<div class="des">
					<p class="title">互联网护士集团联盟优先服务</p>
					<p class="nurse">护士：张生护士团队</p>
				</div>
				<a href="javascript:;" class="link">查看详情</a>
			</div>
		</li>
		<li>
			<p class="time">2016-11-24</p>
			<div class="content">
				<div class="des">
					<p class="title">互联网护士集团联盟优先服务</p>
					<p class="nurse">护士：张生护士团队</p>
				</div>
				<a href="javascript:;" class="link">查看详情</a>
			</div>
		</li>
		<li>
			<p class="time">2016-11-24</p>
			<div class="content">
				<div class="des">
					<p class="title">互联网护士集团联盟优先服务</p>
					<p class="nurse">护士：张生护士团队</p>
				</div>
				<a href="javascript:;" class="link">查看详情</a>
			</div>
		</li>
	</ul>
</body>
</html>