
<html class="ui-mobile">
<head>
<link rel="stylesheet" href="/weixin/Public/Member/css/xinjie/portal.min.css" type="text/css">
<link rel="stylesheet" href="/weixin/Public/Member/css/xinjie/yuyuetijian.min.css" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>预约体检</title>
</head>
<body class="ui-mobile-viewport ui-overlay-c" style="rgb(240, 240, 240);">
<div data-role="page" data-title="" id="gp-experts" data-goto="" data-url="gp-experts" tabindex="0" class="ui-page ui-body-c ui-page-active" style="min-height: 480px;">
    <div class="shoushu">
        <div class="similar-item ele_p">预约体检</div>
        <div class="det_read_p bak_none" style="padding-bottom:0;">
            <p>预约体检是远程心血管网为实现远程个性化的健康管理服务推出的一站式健康管理信息化平台，依托于北京阜外心血管病健康管理中心心脏专科体检院所高超的技术和先进的医疗设备，着眼于为公众提供品质优良的心脏健诊服务。<b>体检内容详情请咨询：400-656-2020</b></p>
        </div>
    </div>
    <div data-role="content" class="ui-content ui-content-padding" role="main">
        <div class="det_read_con">
            <div class="expert">
                <div class="booking_button"><a href="/sszylist/">在线申请</a></div>
                <ul class="index_list">
                <li>
                    <div class="index_list_box"> <a href="/yuyuetijian/xuzhi/">
                        <div class="index_list_img">
                            <p><img src="/weixin/Public/Member/images/xj/ico3.png"></p>
                            <p>院内体检须知</p>
                        </div>
                        </a> </div>
                </li>
                <li>
                    <div class="index_list_box"> <a href="/yuyuetijian/liucheng/"> 
                        <div class="index_list_img">
                            <p><img src="/weixin/Public/Member/images/xj/ico4.png"></p>
                           <p>院内体检流程</p>
                        </div>
                        </a> </div>
                </li>
                <div class="clearfix"></div>  
            </ul>
                <div class="clear"></div>
                <div class="ele_con">
                    <div class="ele_top">
                        <h2>视频咨询能做什么</h2>
                    </div>
                    <ul class="ele_bottom"> 
                    <li>
                    	<img src="/weixin/Public/Member/images/xj/tu1.png">
                        <p>提供专业、个性化的体检方案</p>
                    </li>
                    <li>
                    	<img src="/weixin/Public/Member/images/xj/tu2.png">
                        <p>优质的体检医院服务团队</p>
                    </li>
                    <li>
                    	<img src="/weixin/Public/Member/images/xj/tu3.png">
                        <p>专业疾病风险评估</p>
                    </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="similar-items">
                    <div class="similar-item liucheng">服务流程</div>
                    <ul class="box">
                        <li>
                            <div class="similar-item similar-item_white">1提交体检申请</div>
                            <p class="similar-item similar-item_white son" style=" display:none; background:#f0f0f0;">输入个人信息，提交表单</p>
                        </li>
                        <li>
                            <div class="similar-item similar-item_white">2客服联系</div>
                            <p class="similar-item similar-item_white" style=" display:none; background:#f0f0f0;">客服收到体检申请后会在第一时间与您沟通相关事宜</p>
                        </li>
                        <li>
                            <div class="similar-item similar-item_white">3安排时间体检</div>
                            <p class="similar-item similar-item_white" style=" display:none; background:#f0f0f0;">为患者安排医院体检时间</p>
                        </li>
                        <li>
                            <div class="similar-item similar-item_white">4总检咨询</div>
                            <p class="similar-item similar-item_white" style=" display:none; background:#f0f0f0;">体检完成医生给出专业评估及总检咨询服务</p>
                        </li>
                    </ul>
                </div>
                
                <div class="ele_hos">
                    <div class="ele_hos_tit">
                        <h2>推荐医院</h2>
                    </div>
                    <div class="scroll relative">
                        <div class="scroll_box" id="scroll_img">
                            <ul class="scroll_wrap">
                            
                                <li><a href="/sszy_hzyyzs.php?aid=4390">
                                <div class="ele_con">
                                <span class="img">
                                <img src="/weixin/Public/Member/images/xj/24-14110G45220W2.jpg"  alt="北京阜外心血管病医院远程会诊中心" class="expert-img"/> </span>
                                <div class="mar_right"> <strong> 北京阜外心血管病医院远程会诊中心</strong><br>
                                <div class="mar_right_right"> <span style=" color:#000; float:left;">三级甲等 </span> <a href="#" class="ky">有可约号源</a> </div></div>
                                    </div>
                                    <p>
                                        <label>介绍：</label>
                                        中国医学科学院阜外医院建于1956年，位于北京市西城区北礼士路167号，是一所集医疗、教学、科研、预防为一体的三级甲等心血管病专科医院，也是心血管病中心、心血管疾病重点实验室、心血管疾病... </p>
                                    </a>
                                </li>                              
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                <!--<div class="booking_button"><a href="Expert_introduction_new.html">在线申请</a></div>-->
            </div>
        </div>
    </div>
    <div class="hide" style=" width:0; height:0; overflow:hidden; text-indent:-9999;"> 
        <script src="http://s95.cnzz.com/z_stat.php?id=1253891981&web_id=1253891981" language="JavaScript"></script> 
        <script type="text/javascript" src="/weixin/Public/Member/js/jquery.min.js"></script> 
        <script type="text/javascript">
        $(function(){
            $('.box>li').click(function(){
                $(this).siblings().children('p').slideUp();
                $(this).children('p').slideToggle();
                })
            })
        </script>
        <script>
        $(function(){
            $('.scroll_position_bg').css({
                width:$('#scroll_position').width()
            });
        });
        </script> 
    </div>
</div>
<div class="ui-loading-screen" style="display: none;"></div>
<div class="ui-loader ui-corner-all ui-body-a ui-loader-default" style=" width:0; height:0; overflow:hidden; text-indent:-9999;"><span class="ui-icon ui-icon-loading"></span>
    <h1>载入中...</h1>
</div>
</body>
</html>