<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="Keywords" content="页面关键字" />
    <meta name="description" content="页面描述" />
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/bases.css">
    <link rel="stylesheet" href="/weixin/Public/Home/css/incomes.css">
    <title>经营回款收入</title>
</head>
<body> 
    <div class="bg">
        <div class="main clearfix">
            <div class="returnMoney fl">
                <div class="outer">
                    <div class="inner"></div>
                    <div class="txt">
                        <p class="text-center">HMO</p>
                        <p class="text-center">总回款</p>
                    </div>
                </div>
                <div class="input clearfix w190">
                    <p class="tLeft fl"></p>
                    <div class="num fl">
                        <b>￥</b>
                        <strong id="m1">000000.00</strong>
                    </div>
                    <p class="tRight fl"></p>
                </div>
            </div>
            <div class="unit fl">
                <div class="top">
                    <p class="arrowLeft fl"></p>
                    <div class="sum fl">
                        <span class="fl">&nbsp;&nbsp;心血管HMO总回款：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m2">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <p class="arrowRight fl"></p>
                </div>
                <div class="list">
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m3">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心卡健康管理套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m4">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">百倍爱心高血压健康管理套装：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m5">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unit fl">
                <div class="top">
                    <p class="arrowLeft fl"></p>
                    <div class="sum fl">
                        <span class="fl">爱眼联盟HMO总回款：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m6">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <p class="arrowRight fl"></p>
                </div>
                <div class="list">
                    <div class="lis clearfix">
                        <span class="fl">E倍爱眼训练会员卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m7">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">E倍爱眼建档会员卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m8">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <div class="lis clearfix">
                        <span class="fl">E倍爱眼VIP会员卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m9">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="unit fl">
                <div class="top">
                    <p class="arrowLeft fl"></p>
                    <div class="sum fl">
                        <span class="fl">&nbsp;&nbsp;&nbsp;肿瘤HMO总回款：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m10">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                    <p class="arrowRight fl"></p>
                </div>
                <div class="list">
                    <br><br>
                    <div class="lis clearfix">
                        <span class="fl">肺保卡：</span>
                        <div class="input fl">
                            <p class="tLeft fl"></p>
                            <div class="num fl">
                                <b>￥</b>
                                <strong id="m11">000000.00</strong>
                            </div>
                            <p class="tRight fl"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="returnMoney fl">
            <div class="outer">
                <div class="inner"></div>
                <div class="txt">
                    <p class="text-center">其它经营</p>
                    <p class="text-center">总回款</p>
                </div>
            </div>
            <div class="input clearfix w190">
                <p class="tLeft fl"></p>
                <div class="num fl">
                    <b>￥</b>
                    <strong id="m12">000000.00</strong>
                </div>
                <p class="tRight fl"></p>
            </div>
        </div>
        <div class="unit fl">
            <div class="top t2">
                <p class="arrowLeft fl"></p>
                <div class="sum s2 fl">
                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;心血管经营总回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m13">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <p class="arrowRight fl"></p>
            </div>
            <div class="list u2">
                <div class="lis fl">
                    <span class="fl">心电阅片回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m14">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <div class="lis fl">
                    <span class="fl">慧科药店回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m15">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <div class="lis fl">
                    <span class="fl">手术回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m16">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <div class="lis fl">
                    <span class="fl">慧科设备回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m17">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <div class="lis fl">
                    <span class="fl">耗材回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m18">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="unit fl">
            <div class="top">
                <p class="arrowLeft fl"></p>
                <div class="sum fl">
                    <span class="fl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;眼科经营汇款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m19">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <p class="arrowRight fl"></p>
            </div>
            <div class="list">
                <br>
                <div class="lis clearfix">
                    <span class="fl">白内障手术回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m20">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
                <div class="lis clearfix">
                    <span class="fl">白内障耗材回款：</span>
                    <div class="input fl">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m21">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="returnMoney r2 fl">
            <div class="outer o2">
                <div class="txt">
                   <div class="input clearfix w190">
                        <p class="tLeft fl"></p>
                        <div class="num fl">
                            <b>￥</b>
                            <strong id="m22">000000.00</strong>
                        </div>
                        <p class="tRight fl"></p>
                    </div><br>
                    <p class="text-center">集团经营</p>
                    <p class="text-center">总回款</p>
                </div>
            </div>
            
        </div>
    </div>
</body>
<script src="/weixin/Public/Common/js/jquery.min.js"></script>
<script>
setInterval(function(){
    $.ajax({
        url: '', 
        type: 'POST',
        dataType: 'json',
        success: function(msg){
            $('#m1').html(msg.m1);
            $('#m2').html(msg.m2);
            $('#m3').html(msg.m3);
            $('#m4').html(msg.m4);
            $('#m5').html(msg.m5);
            $('#m6').html(msg.m6);
            $('#m7').html(msg.m7);
            $('#m8').html(msg.m8);
            $('#m9').html(msg.m9);
            $('#m10').html(msg.m10);
            $('#m11').html(msg.m11);
            $('#m12').html(msg.m12);
            $('#m13').html(msg.m13);
            $('#m14').html(msg.m14);
            $('#m15').html(msg.m15);
            $('#m16').html(msg.m16);
            $('#m17').html(msg.m17);
            $('#m18').html(msg.m18);
            $('#m19').html(msg.m19);
            $('#m20').html(msg.m20);
            $('#m21').html(msg.m21);
            $('#m22').html(msg.m22);
        }
    });
},3000)    
</script>
</html>