<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="{$seoarr['69942727']['KEYWORDS']}" name="keywords">
  <meta content="{$seoarr['69942727']['DESCRIPTION']}" name="description">
  <title>{$seoarr['69942727']['TITLE']}</title>
  <!-- 公共样式 -->
  <link rel="stylesheet" href="/Public/Common/css/header_ft.css">
  <!-- 当前样式 -->
  <link rel="stylesheet" href="/Public/Common/css/swiper.min.css">
  <link rel="stylesheet" href="/Public/css/service/fundusDiseases.css">
</head>
<body>
  <!-- 头部start -->
  <include file="Public:header"/>
  <!-- 头部end -->
  <div class="banner">
    <div class="w1200">
      <p class="title">眼底病常见病种</p>
      <p class="desc">视网膜脱离/糖尿病视网膜病变/黄斑裂孔/黄斑前膜 玻璃体积血/老年黄斑变性/视网膜静脉阻塞</p>
    </div>
  </div>
  <div class="con1 con">
    <div class="w1200">
      <h2>哪些人<em>容易得</em>眼底病</h2>
      <dl>
        <dt><em>高血</em>压</dt>
        <dd>高血压引起眼底疾病的眼底状况，毛细血管周细胞减少和内皮继包及其基膜受损，导致血-视网膜屏障功能破坏。</dd>
      </dl>
      <dl>
        <dt><em>高度</em>近视</dt>
        <dd>高度近视患者容易出现视网膜变性、裂孔，引起出血和视网膜脱离，导致失明。</dd>
      </dl>
      <dl>
        <dt><em>过度</em>吸烟饮酒</dt>
        <dd>烟草中含有的尼古丁能使视网膜血管痉挛、诱发视网膜动脉或静脉阻塞，导致视网膜和玻璃体出血。</dd>
      </dl>
    </div>
  </div>
  <div class="con2 con">
    <div class="w1140">
      <h2>糖<em>尿病现</em>状</h2>
      <p class="title">糖尿病已成为严重威胁人类健康的慢性疾病。糖尿病视网膜病变正在成为全世界范围内成年人当中的主要致盲原因。</p>
      <p class="desc">糖尿病眼病自检自查</p>
      <dl>
        <dt><img src="/Public/images/service/fundusDiseases/pic1.jpg" alt=""></dt>
        <dd>黑点</dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/service/fundusDiseases/pic2.jpg" alt=""></dt>
        <dd>白雾</dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/service/fundusDiseases/pic3.jpg" alt=""></dt>
        <dd>事物扭曲</dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/service/fundusDiseases/pic4.jpg" alt=""></dt>
        <dd>闪光感</dd>
      </dl>
    </div>
  </div>
  <div class="con3 con">
    <div class="w1140">
      <dl>
        <dt>
          <p class="title">眼前黑影别大意<br />可能是网脱前兆</p>
          <p class="desc">警惕视网膜脱离——北京圣康华坐拥全球先进技术</p>
        </dt>
        <dd>
          <p class="title">视网膜脱离（网脱）</p>
          <p class="desc">视网膜脱离是视网膜神经上皮层与色素上皮层的分离。视网膜脱离后得不到脉络膜的血液供应，色素上皮易游离、萎缩，如不及时重定复原，视力将不易恢复……</p>
          <p class="title">眼底出血</p>
          <p class="desc">眼底出血是一个非常严重的眼科疾病，不仅在于治疗上比较复杂，更在于眼底出血一般早期没有明显症状，往往到医院来就诊时已经到了中晚期……</p>
          <p class="title">黄斑性病变</p>
          <p class="desc">黄斑病变发病初期，视力会下降、看东西扭曲变形等，这是黄斑部病变的早期征兆，应立即到医院就诊。病情初期病变最轻，但它潜伏的危险性很大……</p>
          <p class="title">其他眼底病</p>
          <p class="desc">常见眼底病有视网膜疾病、视神经疾病、葡萄膜疾病、眼外伤、玻璃体疾病等……</p>
        </dd>
      </dl>
    </div>
  </div>
  <div class="con4 con">
    <div class="w1200">
      <h2>品<em>牌专</em>家</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/index/img7.png" alt=""></dt>
              <dd>
                <p class="title">董方田</p>
                <p class="desc">主任医师、教授、博士生导师</p>
                <p class="text">专业特长：眼科疑难病诊治、玻璃体视网膜手术、黄斑病变手术、眼底病激光治疗。</p>
              </dd>
            </dl>
            <dl>
              <dt><img src="/Public/images/index/img2.png" alt=""></dt>
              <dd>
                <p class="title">姜利斌</p>
                <p class="desc">主任医师</p>
                <p class="text">专业特长：眼底疾病，神经眼科，眼肿瘤。</p>
              </dd>
            </dl>
            <dl>
              <dt><img src="/Public/images/index/img1.png" alt=""></dt>
              <dd>
                <p class="title">刘宁朴</p>
                <p class="desc">主任医师、教授、博士生导师；眼底病专业首席专家</p>
                <p class="text">专业特长：擅长视网膜脱离、玻璃体出血、糖尿病视网膜病变等视网膜玻璃体疾病的显微手术治疗。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/index/img4.png" alt=""></dt>
              <dd>
                <p class="title">刘毅</p>
                <p class="desc">主任医师</p>
                <p class="text">专业特长：擅长视网膜脱离、玻璃体出血、糖尿病视网膜病变等视网膜玻璃体疾病的显微手术治疗。</p>
              </dd>
            </dl>
            <dl>
              <dt><img src="/Public/images/index/default.png" alt=""></dt>
              <dd>
                <p class="title">马凯</p>
                <p class="desc">主任医师</p>
                <p class="text">专业特长：擅长视网膜脱离、玻璃体出血、糖尿病视网膜病变等视网膜玻璃体疾病的显微手术治疗。</p>
              </dd>
            </dl>
            <dl>
              <dt><img src="/Public/images/index/default.png" alt=""></dt>
              <dd>
                <p class="title">宋茹</p>
                <p class="desc">主治医师</p>
                <p class="text">专业特长：常见眼科疾病诊疗。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/index/default.png" alt=""></dt>
              <dd>
                <p class="title">尹令妥</p>
                <p class="desc">副主任医师</p>
                <p class="text">专业特长：常见眼科疾病诊疗。</p>
              </dd>
            </dl>
            <dl>
              <dt><img src="/Public/images/index/default.png" alt=""></dt>
              <dd>
                <p class="title">于伟泓</p>
                <p class="desc">副主任医师</p>
                <p class="text">专业特长：各种眼底疾病如黄斑疾病、糖尿病视网膜病变、视网膜脱离等的激光和手术治疗。</p>
              </dd>
            </dl>
            <dl>
              <dt><img src="/Public/images/index/img5.png" alt=""></dt>
              <dd>
                <p class="title">张亚琳</p>
                <p class="desc">副主任医师；眼底病与眼科影像诊断中心主任</p>
                <p class="text">专业特长：综合眼科、眼底病内科、眼底病激光治疗。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/index/default.png" alt=""></dt>
              <dd>
                <p class="title">张永鹏</p>
                <p class="desc">副主任医师</p>
                <p class="text">专业特长：眼底病。</p>
              </dd>
            </dl>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>

    </div>
  </div>

  <!-- 底部start -->
    <include file="Public:footer"/>
  <!-- 底部end -->
  <!-- 公共js部分 -->
  <script src="/Public/Common/js/jquery.js" charset="utf-8"></script>
  <script src="/Public/Common/js/header.js" charset="utf-8"></script>
  <!-- 当前js部分 -->
  <script src="/Public/Common/js/swiper.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var mySwiper = new Swiper ('.swiper-container', {
      loop: true,
      pagination: '.swiper-pagination',
      nextButton: '.swiper-button-next',
      prevButton: '.swiper-button-prev',
    })
  </script>
</body>
</html>
