<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="{$seoarr['69942716']['KEYWORDS']}" name="keywords">
  <meta content="{$seoarr['69942716']['DESCRIPTION']}" name="description">
  <title>{$seoarr['69942716']['TITLE']}</title>
  <!-- 公共样式 -->
  <link rel="stylesheet" href="/Public/Common/css/header_ft.css">
  <!-- 当前样式 -->
  <link rel="stylesheet" href="/Public/Common/css/swiper.min.css">
  <link rel="stylesheet" href="/Public/css/service/minSug.css">
</head>
<body>
  <!-- 头部start -->
  <include file="Public:header"/>
  <!-- 头部end -->
  <div class="banner">
    <!-- <img src="/Public/images/service/minSug/banner.jpg" alt=""> -->
  </div>
  <div class="con1 con">
    <div class="w1020">
      <h2>糖网眼病如此猖獗 <em>源于患</em>者的医学知识匮乏</h2>
      <p>糖尿病视网膜病变就是糖尿病最常见、最严重的并发症之一，也是成年人低视力和致盲的主要原因，它严重影响着全球成千上万人的生活质量。</p>
      <p>在中国：有1.14亿人正饱受糖尿病困扰，其潜在发病人群也约有1.5亿人左右，其中仍有60.7%的人未得到诊断。糖尿病正以前所未有的速度成为当今中国的流行病！中国已经取代印度，成为世界糖尿病第一大国。</p>
      <p>糖尿病已成为严重威胁人类健康的慢性疾病。糖尿病视网膜病变正在成为全世界范围内 ……</p>
      <a href="/Focus/69885644">查看更多</a>
    </div>
  </div>
  <div class="con2 con">
    <div class="w1200">
      <h2>“糖网眼病<em>”调查</em>结果如下</h2>
      <p class="tTitle active">您了解糖网眼病吗？</p>
      <p class="tTitle">您认为糖网眼病能治疗吗？</p>
      <p class="tTitle">不能接受导致的哪种后果？</p>
      <p class="tTitle">哪些因素与糖网眼病有关？</p>
      <img src="/Public/images/service/minSug/pic1.jpg" alt="" class="img1">
      <p class="text"><i></i>据统计，国内患者患糖尿病后发生视网膜病变的概率为：10-15年25%；25年以上60%；30年以上95%。在我国，糖网病已上升到致盲眼病的第四位。<i></i></p>
    </div>
  </div>
  <div class="con3 con">
    <div class="w1020">
      <h2>警惕危害 糖网<em>眼病久</em>治不愈会致盲</h2>
      <p class="text">调研数据显示，虽然在6278名被访者中，有4480人表示，自己听说过糖尿病眼病，疾病的知晓率达71%，但却有高达57%的被访者不清楚黄斑是人眼中的一个正常结构。</p>
      <dl>
        <dt><img src="/Public/images/service/minSug/pic5.jpg" alt=""></dt>
        <dd>
          <p class="title">影响生活</p>
          <p class="desc">糖尿病引起的视网膜水肿可引起光散射而使患者有眼前闪光感、黄斑水肿、缺血或渗出累及中心凹，可引起不同程度的视力减退或视物变形等，严重影响患者的生活</p>
        </dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/service/minSug/pic6.jpg" alt=""></dt>
        <dd>
          <p class="title">无法阅读</p>
          <p class="desc">黄斑是视网膜中最重要的部位，直径仅有1.5mm，却控制着一个人白天所有的视力，主管视力和中心视野。黄斑区的视神经细胞一旦被破坏，视力便永久受损</p>
        </dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/service/minSug/pic7.jpg" alt=""></dt>
        <dd>
          <p class="title">精神崩溃</p>
          <p class="desc">因视物障碍而产生的心理压力，脾气暴躁，不合群，养成孤僻的性格，影响人的心情，加之生活压力的增大，容易精神崩溃</p>
        </dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/service/minSug/pic8.jpg" alt=""></dt>
        <dd>
          <p class="title">交通事故</p>
          <p class="desc">眼睛是人类最重要的感官，视觉变形，视物模糊，势必会影响人的反应灵敏度，从而降低处理事故的反应速度，容易发生交通事故，造成生命威胁</p>
        </dd>
      </dl>
      <a href=""><img src="/Public/images/service/minSug/pic9.jpg" alt="" class="bottom"></a>
    </div>
  </div>
  <div class="con4 con">
    <div class="w1200">
      <h2>团<em>队介</em>绍</h2>
      <div class="swiper-container1 swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img1.png" alt=""></dt>
              <dd>
                <p class="title">刘宁朴</p>
                <p class="desc">主任医师、教授、博士生导师</p>
                <p class="text">专业特长：擅长视网膜脱离、玻璃体出血、糖尿病视网膜病变等视网膜玻璃体疾病的显微手术治疗。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img7.png" alt=""></dt>
              <dd>
                <p class="title">董方田</p>
                <p class="desc">主任医师、教授、博士生导师</p>
                <p class="text">专业特长：眼科疑难病诊治、玻璃体视网膜手术、黄斑病变手术、眼底病激光治疗。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img2.png" alt=""></dt>
              <dd>
                <p class="title">刘毅</p>
                <p class="desc">主任医师</p>
                <p class="text">专业特长：擅长视网膜脱离、玻璃体出血、糖尿病视网膜病变等视网膜玻璃体疾病的显微手术治疗。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img3.png" alt=""></dt>
              <dd>
                <p class="title">张亚琳</p>
                <p class="desc">副主任医师；眼底病与眼科影像诊断中心主任</p>
                <p class="text">专业特长：综合眼科、眼底病内科、眼底病激光治疗。</p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev1"></div>
      <div class="swiper-button-next1"></div>
    </div>
  </div>
  <div class="con5 con">
    <div class="w1200">
      <h2>糖尿<em>病眼病</em>常识</h2>
      <ul>
        <li>
          <img src="/Public/images/service/minSug/icon1.png" alt="">
          <p class="title"><em>眼底</em>病的激光疗法</p>
          <p class="desc">眼底病也可通过内科治疗来进行调节治疗，从治疗原发病、控制全身情况控制高血糖,长期稳定控制血糖可延缓DR发展</p>
          <a href="/Focus/69722432">阅读更多</a>
        </li>
        <li>
          <img src="/Public/images/service/minSug/icon2.png" alt="">
          <p class="title"><em>糖网</em>患者要拒食高盐高脂肪食物</p>
          <p class="desc">糖尿病的饮食疗法就是通过控制饮食，合理膳食，从而控制总热量的摄入，减轻胰岛负担，消除症状，改善糖代谢的紊乱</p>
          <a href="/Focus/68820144">阅读更多</a>
        </li>
        <li>
          <img src="/Public/images/service/minSug/icon3.png" alt="">
          <p class="title"><em>眼底</em>病出血的症状</p>
          <p class="desc">眼底出血的症状表现主要是眼胀、视物模糊、眼前闪光等，但还有一些不是很容易发现的症状表现</p>
          <a href="/Focus/68789680">阅读更多</a>
        </li>
        <li>
          <img src="/Public/images/service/minSug/icon4.png" alt="">
          <p class="title"><em>糖尿</em>病性视网膜病变</p>
          <p class="desc">糖尿病可以引起眼部多组织的损害，如眼运动神经痉挛、虹膜新生血管性青光眼、糖尿病性白内障、眼屈光力的改变等</p>
          <a href="/Focus/68886072">阅读更多</a>
        </li>
        <li>
          <img src="/Public/images/service/minSug/icon5.png" alt="">
          <p class="title"><em>糖尿</em>病患者应定期到眼科医院进行检查</p>
          <p class="desc">糖尿病视网膜病变是一种主要的致盲疾病，然而糖尿病患者如果能及时发现并且获得规范的治疗，多数可以摆脱失明的危险</p>
          <a href="/Focus/68821656">阅读更多</a>
        </li>
        <li>
          <img src="/Public/images/service/minSug/icon6.png" alt="">
          <p class="title"><em>糖网</em>眼病激光治疗后就"一劳永逸"了吗</p>
          <p class="desc">糖尿病眼病是糖尿病的并发症之一，它严重危害糖尿病患者眼部健康，甚至可导致永久性失明。</p>
          <a href="/Focus/69722056">阅读更多</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="con6 con">
    <div class="w1200">
      <h2>专<em>业设</em>备</h2>
      <div class="swiper-container2 swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img4.png" alt=""></dt>
              <dd>
                <p class="title">光学相干性断层扫描仪</p>
                <p class="desc">OCT--通过光学原理进行诊断成像的设备，可以提供视网膜横断面的图像，用于在检测青光眼和视网膜病时进行客观定量测量和定性临床分析。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img5.png" alt=""></dt>
              <dd>
                <p class="title">BX900裂隙灯</p>
                <p class="desc">使表浅的病变观察得十分清楚，而且可以调节焦点和光源宽窄，做成“光学切面”，使深部组织的病变也能清楚地显现,当用弥散照明法时，利用集合光线，低倍放大，可以对角膜、虹膜、晶体作全面的观察。</p>
              </dd>
            </dl>
          </div>
          <div class="swiper-slide swiper-no-swiping">
            <dl>
              <dt><img src="/Public/images/service/minSug/img6.png" alt=""></dt>
              <dd>
                <p class="title title1">黄斑完整性评估仪</p>
                <p class="desc">适用于评估黄斑功能，为黄斑变性及其他视网膜病变的早期诊断及长期随访提供有力的诊断依据，激光线性扫描眼底成像（LSLO）—保证了成像的清晰和高分辨率，EyedBTM 统计分析软件—拥有正常人及AMD的数据库，可迅速将测试结果与正常值比较动眼跟踪系统—可对患者的固视稳定性及固视点位置进行定量分析简单易用，分析精确，可用于筛查，受检者舒适度佳，单眼检查可在3分钟内完成便于随访视网膜疾病的病程进展及疗效分析在诊断年龄相关性黄斑变性的早期和中期，拥有高于90%的敏感性及特异性。</p>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev2"></div>
      <div class="swiper-button-next2"></div>
    </div>
  </div>

  <!-- 底部start -->
    <include file="Public:footer"/>
  <!-- 底部end -->
  <!-- 公共js部分 -->
  <script src="/Public/Common/js/jquery.js" charset="utf-8"></script>
  <script src="/Public/Common/js/header.js" charset="utf-8"></script>
  <!-- 当前js部分 -->
  <script src="/Public/Common/js/swiper.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    var imgSrc = ['/Public/images/service/minSug/pic1.jpg', '/Public/images/service/minSug/pic2.jpg', '/Public/images/service/minSug/pic3.jpg', '/Public/images/service/minSug/pic4.jpg']
    var tTitle = document.getElementsByClassName('tTitle');
    var img1 = document.getElementsByClassName('img1')[0];
    for(var i=0; i<tTitle.length; i++) {
      tTitle[i].index = i;
      tTitle[i].onmouseover = function() {
        for(var i=0; i<tTitle.length; i++) {
          tTitle[i].classList.remove('active');
        }
        this.classList.add('active');
        img1.src = imgSrc[this.index];
      }
    }

    var mySwiper1 = new Swiper ('.swiper-container1', {
      loop: true,
      nextButton: '.swiper-button-next1',
      prevButton: '.swiper-button-prev1',
    })

    var mySwiper2 = new Swiper ('.swiper-container2', {
      loop: true,
      nextButton: '.swiper-button-next2',
      prevButton: '.swiper-button-prev2',
      pagination: '.swiper-pagination'
    })

  </script>
</body>
</html>
