<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<link type="text/css" rel="stylesheet" href="/weixin/Public/Member/css/card/portal.min.css">
<link type="text/css" rel="stylesheet" href="/weixin/Public/Member/css/card/style.css">
<title>心脑护照卡</title>
</head>
<body class="ui-mobile-viewport ui-overlay-c" style="background:#fafafa" >
<div data-role="page" data-title="" id="gp-home" data-goto="" data-url="gp-home" tabindex="0" class="ui-page ui-body-c ui-page-active" style="min-height: 480px;">
    <div class="con">
    	<h2 class="index_top">会员卡商城</h2>

        <div class="index_bottom">
        	<div style="position:relative;">
                <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6a3d881182f88c74&redirect_uri=https%3A%2F%2Fweidian.com%2Fi%2F1927804008%3Fwfr%3Dwx%26share_id%3D980425292&response_type=code&scope=snsapi_base&state=H5WXshare#wechat_redirect&wfr=wx">
                    <p style="text-align: center;">                                        
                        <img src="/weixin/Public/Member/images/card/index/card1.jpg">
                    </p><br>
                    <p style="text-align: center; display:none;">心脏护照卡</p>
                    
                </a>
            </div>
        </div>
        <div class="index_banner">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6a3d881182f88c74&redirect_uri=https%3A%2F%2Fweidian.com%2Fi%2F1935370148%3Fwfr%3Dwx%26share_id%3D980425292&response_type=code&scope=snsapi_base&state=H5WXshare#wechat_redirect&wfr=wx">
                <img src="/weixin/Public/Member/images/card/index/card2.jpg" width="640" height="280" alt=""/> 
            </a>
        </div>
        
    </div>
    
</div>
<!-- analytics code -->
<div class="hide"> 
    <script src="http://s95.cnzz.com/z_stat.php?id=1253891981&web_id=1253891981" language="JavaScript"></script> 
</div>
<div class="ui-loader ui-corner-all ui-body-a ui-loader-default"><span class="ui-icon ui-icon-loading"></span>
    <h1>载入中...</h1>
</div>
<div class="ui-loading-screen" style="display: none;"> </div>
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?></div>
</body>
</html>