<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <title>端午大作战</title>
    <link rel="stylesheet" type="text/css" href="/weixin/Public/Member/Lott/css/duanwu_style.css">
    <script type="text/javascript" src="/weixin/Public/Member/Lott/js/jquery.js"></script>
    <script type="text/javascript" src="/weixin/Public/Member/Lott/js/remControl.js"></script>
</head>
<body>
	<div class="details-bxo">
		<!--zza-details.jpg对应爱心卡，zzb-details.jpg对应肺保卡 zzc-details.jpg对应肝保卡 zzd-details.jpg对应VIP眼保卡（重疾）  -->
		<img src="/weixin/Public/Member/Lott/images/zza-details.jpg">
	</div>
	<iframe src="http://wx-heartorg.yk2020.com/weixin/index.php?m=Member&c=Huzhu&a=bbk_z" id="iframepage" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%"></iframe>
</body>
</html>