<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>详细页</title>
<!--CSS库文件-->
<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer.css" type="text/css" rel="stylesheet">
<link href="/weixin/Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="/weixin/Public/Expert/css/union/gongYiCiShan.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="pad_15 mainCon">
        <div class="huoDongTongZhi_info">
            <h1>{$act_info[0]['ACT_TITLE']}</h1>
            <div class="quarry"><span class="time">{$act_info[0]['CREATE_DATE']|Dtodiy='Y.m.d',###}</span></div>
            {$act_info[0]['ACT_DESC']|htmlspecialchars_decode|Strimgurl='/upload','http://weixin.yk2020.com/upload',###}
       </div>
</div>
<!--通底的引用开始-->
<include file="Public:footer_fd" /> 
<script>var over_footer = '1';</script>
<!--通底的引用结束--> 
<include file="Public:tj" />
 <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>