<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>合作申请</title>
<!--CSS库文件-->
<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonBtn/btn.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="/weixin/Public/Expert/css/college/heZuoShenQing.css" type="text/css" rel="stylesheet"/>
<style type="text/css">
	.shenqing img{ width: 100%; }
</style>
</head>
<body>
<div class="line"></div>
<div class="pad_15 mainCon">
        <div class="pad_15"> <a class="ui-btn-purchase-default" href="/weixin/Public/Expert/files/hzsqb.docx">申请表点击下载</a> </div>
        <div class="shenqing">
        	<img src="/weixin/Public/Expert/images/down/down.jpg">    
        </div>
		<div class="pad_15"> <a class="ui-btn-purchase-default" href="/weixin/Public/Expert/files/hzsqb.docx">申请表点击下载</a> </div>
</div>
<include file="Public:tj" />
 <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>