<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<!--CSS库文件-->
<link rel="stylesheet" href="/weixin/Public/Member/css/base.css">
<link rel="stylesheet" href="/weixin/Public/Member/css/h5_bbaxktc.css">
<title>医院列表</title>
</head>
<body class="ui-mobile-viewport ui-overlay-c">
    <div class="ka_box">
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img1.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img2.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img3.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img4.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img41.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img42.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img43.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img5.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img6.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img7.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img8.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img9.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img10.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img11.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img12.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img13.jpg" alt=""/>
        <img src="/weixin/Public/Member/images/h5_bbaxktc/img14.jpg" alt=""/>
        <footer class="box">
            <a href="/weixin/index.php?m=Member&amp;c=Huzhu&amp;a=wxlogin&amp;user_id=3572&amp;link_mobile=15101612857&amp;attach=share_7&amp;user_name=5LiB5paH5rab" class="text-center">立即加入</a>
        </footer>
    </div>
</body>
</html>