<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >
<!--CSS库文件-->
<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonTable/table.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonBtn/btn.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonSearch/search.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer_v2.min.css" type="text/css" rel="stylesheet"/>
<!--CSS当前页面文件-->
<link href="/weixin/Public/Member/css/hezuo.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet"/>
<title>基地医院信息</title>
<!--meta-->
</head>
<body>
<h1>合作医院信息</h1>


<!--医院模块 start-->
<div class="hezuoBox">
	<h2>内蒙古乌拉特旗人民医院</h2>
	<div class="hezuoHos">
		<img src="/weixin/Public/Member/images/hos/hos.jpg" alt="内蒙古乌拉特旗人民医院">
		<p>等级：三级甲等</p>
		<p>类型：公立医院/民营医院</p>
		<p>地址：北京东城区北京东城区北京东城区北京东城区北京东城区北京东城区北京东城区</p>
	</div>
</div>
<!--医院模块 end-->
<!--科室模块 start-->
<div class="hezuoKeShiBox">	
			<!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw1 onHong"></span>眼科</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			 <!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw2 onCheng"></span>心血管</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			 <!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw3 on"></span>妇科</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			 <!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw4"></span>肝病</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			 <!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw5 on"></span>耳鼻喉</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			 <!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw6 on"></span>肿瘤</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			 <!--一组科室 start-->
			<table class="mar_bot15">
				<tr><td style="border-bottom: none;" rowspan="12" class="keshiL"><span class="ktyw7"></span>脑卒中</td><th class="fs16" colspan="4">申请表</th></tr>
				<tr><th >提交状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">三方协议</th></tr>
				<tr><th>审核状态</th><th >签约日期</th><th >对接人</th><th >协议编号</th></tr>
				<tr><td></td><td></td><td></td><td></td></tr>
				<tr><th class="fs16" colspan="4">设备租赁<em>（协议编号:暂无）</em></th></tr>
				<tr><th >包含项目</th><th >提交状态</th><th >审核状态</th><th >日期</th></tr>
				<tr><td>资料状态</td><td>已提交</td><td>李潘</td><td>2015.12.12</td></tr>
				<tr><td>清单状态</td><td></td><td></td><td></td></tr>
				<tr><td>考察状态</td><td></td><td></td><td></td></tr>
				<tr><td>签约状态</td><td></td><td></td><td></td></tr>	
			</table>
			 <!--一组科室 end-->
			



</div>
<!--科室模块 end-->


<!--通底的引用开始-->
<!--通底的引用结束-->
</body>
</html>