<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>申请提现</title>
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Member/css/take.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/12 + 'px';
    </script>
</head>
<body>
   <section class="sec">
       <ul>
           <li class="tit"><h3>本月</h3></li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li><li class="tit"><h3>11月</h3></li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
           <li class="box">
               <div class="pleft">
                   <p>提现</p>
                   <p><small>2016-12-13</small></p>
               </div>
               <div class="pright">
                   <p class="text-right">-20</p>
                   <p class="text-right"><small>余额：￥20</small></p>
               </div>
           </li>
       </ul>
   </section> 
</body>
</html>