<html class="ui-mobile">
<head>
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<title>为诚--药商帮手</title>
</head>
<style>
body,img{ margin:0; padding:0;}
</style>
<body   style=" background: url(/weixin/Public/Member/images/wcyy.jpg) center; background-size:center; background-size: 100%;">
<!-- <img src="/weixin/Public/Member/images/wcyy.jpg" style=" width:100%;">  -->
<img src="/weixin/Public/Member/images/wcyy01.png" style=" width:100%; position: absolute; top:3%;">
<img src="/weixin/Public/Member/images/wcyy02.png" style=" width:100%; position: absolute; bottom: 3%;">

</body>
</html>