<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/weixin/Public/Common/css/swiper.min.css">
  <link rel="stylesheet" href="/weixin/Public/Member/css/xiehe.css">
</head>
<body>
  <header><img src="/weixin/Public/Member/images/xiehe/pic1.jpg" alt=""></header>
  <div class="con1">
    <div class="w960">
      <dl>
        <dt><img src="/weixin/Public/Member/images/xiehe/img1.png" alt=""></dt>
        <dd>
          <h2>王忠海</h2>
          <p><strong>北京协和医院眼科主治医师</strong><br />
          <strong>中国协和医科大学讲师</strong><br />
          北京协和医院工作多年<br />
          北京协和医院激光治疗近视主刀医师<br />
          成功完成手术上万例<br />
          准分子激光治疗近视多项研究<br />
          擅长领域：近视、远视、散光矫治；包括全飞秒、半飞秒、LASIK、<br />
          EK、PRK、 TPRK、EPILASIK等手术方式。<br />
          <strong>咨询电话：0873-7235259（24小时）</strong><br />
               <strong>182 1361 1303 崔先生</strong></p>
        </dd>
      </dl>
    </div>
  </div>
  <div class="con2">
    <div class="w960">
      <h2>近视手术“六大<i>安全保障” 开</i>启精准医疗新方向</h2>
      <p>开远市人民医院全飞秒激光手术由王忠海专家亲自操刀，积累多年眼科行业经验，同时为国内多家近视治疗中心提供业务指导，帮助提高医疗水平，深受同行及患者的信赖。根据王忠海专家的要求，我院为近视患者制定了六大安全体系，并严格执行，为近视手术患者提供安全保障！</p>
      <img class="ensure" src="/weixin/Public/Member/images/xiehe/img2.png" alt="">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img3.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img4.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img5.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img6.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img7.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img8.png" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <div class="tel">摘镜热线：0873-7235259 或 182-1361-1303</div>
  <div class="con3">
    <div class="w960">
      <h2>近视矫<i>正攻略 还您清</i>晰视觉</h2>
      <p>开远市人民医院眼科开展的近视矫正手术有：全飞秒Smile手术，半飞秒V-Lasik、准分子激光等手术方式，开远市人民医院眼科的每一位矫视患者，都需要通过21项术前检查、与医生沟通需求及手术方式，最后再定制适合自己的近视手术方案，以保障术后的视觉效果。</p>
      <div class="content first">
        <h3>全飞秒Smile</h3>
        <p>全飞秒Smile：无瓣、微创、一步完成。<br />
          新一代近视激光矫正手术 全飞秒smile新3.0。<br />
          矫正范围：适用于1000度以下近视高端矫治技术。<br />
          适用人群：适合眼部情况较好的患者属于微创手术，无瓣切口小，全程均用飞秒激光，安全性更高。
        </p>
        <img src="/weixin/Public/Member/images/xiehe/pic2.jpg" alt="">
      </div>
      <div class="content">
        <h3>半飞秒V-Lasik</h3>
        <p>半飞秒V-Lasik：提升视觉质量。<br />
          精准角膜塑形，矫正近视更安全。<br />
          矫正范围：适用于1200度以下近视高端矫治技术。<br />
          适用人群：适合大部分人群。尤其是对视觉质量要求较高的职业如飞行员、军人、司机、运动员等。
        </p>
        <img src="/weixin/Public/Member/images/xiehe/pic3.jpg" alt="">
      </div>
      <div class="content">
        <h3>LASEK手术</h3>
        <p>准分子激光上皮下角膜磨镶术（LASEK）：安全性高、准确性高、稳定性高。<br />
          矫正范围：超高度近视眼矫正技术。<br />
          适用人群：角膜比较薄、职业特点容易产生眼部外伤而导致角膜瓣移位或其他不宜进行LASIK的屈光不正患者。
        </p>
        <img src="/weixin/Public/Member/images/xiehe/pic4.jpg" alt="">
      </div>
      <div class="content">
        <h3>PRK手术</h3>
        <p>激光光学角膜切削术（PRK）：操作简单、手术费用低。<br />
          矫正范围：700度以下中低度近视矫正技术。<br />
          手术缺点：<br />
          1.术后病人有明显疼痛。<br />
          2.视力恢复较慢。<br />
          3.需长期使用激素。<br />
          目前PRK已经基本被Lasik手术所取代。
        </p>
        <img src="/weixin/Public/Member/images/xiehe/pic5.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="tel">摘镜热线：0873-7235259 或 182-1361-1303</div>
  <div class="con4">
    <div class="w960">
      <h2>开远市<i>人民医院摘镜</i>案例分享</h2>
      <div class="swiper-container swiper-container1">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img9.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img10.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img11.png" alt=""></div>
            <div class="swiper-slide"><img src="/weixin/Public/Member/images/xiehe/img12.png" alt=""></div>
        </div>
        <div class="swiper-pagination swiper-pagination1"></div>
      </div>
    </div>
  </div>
  <div class="tel">摘镜热线：0873-7235259 或 182-1361-1303</div>
  <div class="con5">
    <div class="w960">
      <img src="/weixin/Public/Member/images/xiehe/img13.png" alt="">
    </div>
  </div>
  <div class="tel">摘镜热线：0873-7235259 或 182-1361-1303</div>
  <script src="/weixin/Public/Member/js/jquery.min.js" charset="utf-8"></script>
  <script src="/weixin/Public/Common/js/date/swiper.min.js" charset="utf-8"></script>
  <script type="text/javascript">
  var mySwiper = new Swiper ('.swiper-container', {
    loop: true,
    // 如果需要分页器
    pagination: '.swiper-pagination'
  })
  var mySwiper1 = new Swiper ('.swiper-container1', {
    loop: true,
    // 如果需要分页器
    pagination: '.swiper-pagination1'
  })
  </script>
</body>
</html>
