<html class="ui-mobile">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="cache-control" content="public">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="format-detection" content="telephone=no">
		<meta name="share-title" content="">
		<!--公用样式调用-->
		<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
		<link href="/weixin/Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet" >
		<link href="/weixin/Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
		<link href="/weixin/Public/Common/css/commonFooter/footer.css" type="text/css" rel="stylesheet">
		<link href="/weixin/Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet" >
		<link href="/weixin/Public/Common/css/commonLabel/label.css" type="text/css" rel="stylesheet" >
		<!--分享页面样式调用-->		
		<link href="/weixin/Public/Expert/css/fenXiang/fenXiang.css" type="text/css" rel="stylesheet"/>
		<!-- title -->
		<title>个人列表</title>
	</head>
	<body>
		<header class="header">
			<div class="bottom bottom2 pr">
				<dl class="pa tar">
					<dd>
						<a href="javascript:void(0)">
							<img src="{$doc.SMALL_PIC}"/>
						</a>
					</dd>
					<dt><a class="fs20" href="javascript:void(0)">{$doc.EXPERT_NAME}</a></dt>
				</dl>
			</div>
		</header>
		<div class="content mt65">
			<ul class="list_fir list_sec" id="share-list">
				<li class="myself" {$str}>
					<div class="pic fl fs30">今天</div>
					<section class="fr">
						<a class="sc_pic" href="/weixin/index.php?m=Expert&c=Share&a=add_info&doc_id={$doc['EXPERT_ID']}"><img src="/weixin/Application/Expert/View/images/icon3.png"/></a>
					</section>
					<div class="clear"></div>
				</li>
				<volist name="share_list" id="share">
					<li>
						<div class="pic fl">
			            <span class="fs24">{$share['CREATE_DATE']|substr=3,5}</span><span class="fs14">{$share['CREATE_DATE']|substr=0,2}月</span>
			            </div>
						<section class="fr">
							<div class="tw fs14">
								<a href="/weixin/index.php?m=Expert&c=Share&a=share_info&record_id={$share['RECORD_ID']}">
									<img src="{$share['SHARE_PIC']}"/>{$share['SHARE_CONTENT']}......
									<div class="clear"></div>
								</a>
							</div>
			                <!--
			                审核中则有<div class="time fs16 tar"><span class="fc2587c6">{$share['SHARE_CHECK']}</span></div>
			                已审核就没有<div class="time fs16 tar"><span class="fc2587c6">{$share['SHARE_CHECK']}</span></div>
			                -->
						</section>
						<div class="clear"></div>
					</li>
				</volist>
			</ul>
		</div>
		<div class="ui-jiazai"><a href="javascript:void(0);" onClick="load_more();">加载更多</a></div>
		<div id="current_pagenum" style="display:none">2</div>
		<include file="Public:footer_fd" />
		<!--公用js调用-->
		<script src="/weixin/Public/Expert/js/jquery.min.js" type="text/javascript"></script>
		<script src="/weixin/Public/Common/js/load_more.js" type="text/javascript"></script>
		<script>
			var over_footer = '3';
			function load_more()
			{
				loadmore('#current_pagenum','/weixin/index.php?m=Expert&c=Share&a=other_share_list_append&doc_id={$doc_id}','#share-list');
			}
		</script>
	</body>
</html>