<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="为您和您的家人获取最高30万元大病保障金">
<title>账单</title>
<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/qscui.css">
<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/insurance.min.css">
</head>
<body ontouchstart="">
<div class="mod-insurance-bill">
        <table class="bill-table">
                <tbody>
                        <tr>
                                <td><p>周二</p>
                                        <p>11-15</p></td>
                                <td class="avatar"><i class="icon icon-pay bank-weixin"></i></td>
                                <td class=""><strong>+10.00元</strong>
                                        <p>订单号:201611150000164245383054</p></td>
                        </tr>
                </tbody>
                <tbody>
                        <tr>
                                <td><p>周一</p>
                                        <p>11-15</p></td>
                                <td class="avatar"><i class="icon icon2 icon-pay bank-weixin"></i></td>
                                <td class=""><strong>-10.00元</strong>
                                        <p>被资助人：李*宇</p></td>
                        </tr>
                </tbody>
                <tbody>
                        <tr>
                                <td><p>周二</p>
                                        <p>11-15</p></td>
                                <td class="avatar"><i class="icon icon-pay bank-weixin"></i></td>
                                <td class=""><strong>+10.00元</strong>
                                        <p>订单号:201611150000164245383054</p></td>
                        </tr>
                </tbody>
                <tbody>
                        <tr>
                                <td><p>周一</p>
                                        <p>11-15</p></td>
                                <td class="avatar"><i class="icon icon2 icon-pay bank-weixin"></i></td>
                                <td class=""><strong>-10.00元</strong>
                                        <p>被资助人：李*宇</p></td>
                        </tr>
                </tbody>
        </table>
</div>
<div id="cli_dialog_div"></div>
</body>
</html>
