.header{padding:.13rem 0;background: #ff647c;position:relative;height:auto;}    
.header a.icon{left:.1rem;top:.13rem;font-size:30px;color:#fff;position:absolute;border-width:0;}    
.header h2{width:100%;color:#fff;font-size:24px;text-align:center;height:26px;line-height:26px;font-weight:normal;}   