<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <!--公用样式调用-->
    <link href="/weixin/Public/Common/css/common/basic.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/weixin/Public/Common/css/commonIcon/icon.css">
    <!--分享页面样式调用-->
    <link rel="stylesheet" href="/weixin/Public/Member/css/subject/sub.min.css">
    <title>健康专题</title>
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/10 + 'px';
    </script>
</head>
<body>
    <header>
        <h2 class="text-center clear"><a class="ui-icon-return" href="javascript:history.go(-1)"></a>健康专题</h2>
    </header>
    <article>
        <section class="sec">
            <ul class="clear">
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt1.jpg" width="100%" />
                        <div class="font">
                            <h2>心脏支架手术</h2>
                            <h3>延续心生命</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt2.jpg" width="100%" />
                        <div class="font">
                            <h2>心脏搭桥手术</h2>
                            <h3>搭建生命的桥梁</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt3.jpg" width="100%" />
                        <div class="font">
                            <h2>心脏移植手术</h2>
                            <h3>新科技  新生活</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt4.jpg" width="100%" />
                        <div class="font">
                            <h2>二尖瓣置换</h2>
                            <h3>置换你的生命</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt5.jpg" width="100%" />
                        <div class="font">
                            <h2>主动脉瓣置换</h2>
                            <h3>定制你的心脏</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt6.jpg" width="100%" />
                        <div class="font">
                            <h2>动脉导管未闭手术</h2>
                            <h3>挽回心生命</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt7.jpg" width="100%" />
                        <div class="font">
                            <h2>冠心病</h2>
                            <h3>别让它关心你</h3>
                        </div>
                    </a>
                </li>
                <li class="fl">
                    <a href="#">
                        <img src="/weixin/Public/Member/images/subject/lt8.jpg" width="100%" />
                        <div class="font">
                            <h2>心力衰竭</h2>
                            <h3>小心别衰了</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </section>
    </article>
</body>
</html>