<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <!--公用样式调用-->
    <link href="/weixin/Public/Common/css/common/basic.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/weixin/Public/Common/css/commonIcon/icon.css">
    <!--分享页面样式调用-->
    <link rel="stylesheet" href="/weixin/Public/Member/css/subject/sub.min.css">
    <title>健康专题</title>
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/10 + 'px';
    </script>
</head>
<body>
    <header>
        <h2 class="text-center clear"><a class="ui-icon-return" href="javascript:history.go(-1)"></a>健康专题</h2>
    </header>
    <article>
        <section class="unit">
            <div class="image">
                <img src="/weixin/Public/Member/images/subject/bg1.jpg" width="100%" />
                <div class="title">
                    <div class="doc">
                        <h2 class="text-center">什么情况下可以做心脏支架手术？</h2>
                        <small class="text-center">科技带来心生命 心脏护航新管家</small>
                        <span class="text-center">查看详情</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>心脏支架手术是近20年来治疗冠心病的最新技术。然而这一技术并不是所有患者都可以接受...<i>了解更多>></i></p>
            </div>
            <a href="list.htm"></a>
        </section>
        <section class="unit">
            <div class="image">
                <img src="/weixin/Public/Member/images/subject/bg1.jpg" width="100%" />
                <div class="title">
                    <div class="doc">
                        <h2 class="text-center">什么情况下可以做心脏支架手术？</h2>
                        <small class="text-center">科技带来心生命 心脏护航新管家</small>
                        <span class="text-center">查看详情</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>心脏支架手术是近20年来治疗冠心病的最新技术。然而这一技术并不是所有患者都可以接受...<i>了解更多>></i></p>
            </div>
            <a href="list.htm"></a>
        </section>
        <section class="unit">
            <div class="image">
                <img src="/weixin/Public/Member/images/subject/bg1.jpg" width="100%" />
                <div class="title">
                    <div class="doc">
                        <h2 class="text-center">什么情况下可以做心脏支架手术？</h2>
                        <small class="text-center">科技带来心生命 心脏护航新管家</small>
                        <span class="text-center">查看详情</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>心脏支架手术是近20年来治疗冠心病的最新技术。然而这一技术并不是所有患者都可以接受...<i>了解更多>></i></p>
            </div>
            <a href="list.htm"></a>
        </section>
        <section class="unit">
            <div class="image">
                <img src="/weixin/Public/Member/images/subject/bg1.jpg" width="100%" />
                <div class="title">
                    <div class="doc">
                        <h2 class="text-center">什么情况下可以做心脏支架手术？</h2>
                        <small class="text-center">科技带来心生命 心脏护航新管家</small>
                        <span class="text-center">查看详情</span>
                    </div>
                </div>
            </div>
            <div class="text">
                <p>心脏支架手术是近20年来治疗冠心病的最新技术。然而这一技术并不是所有患者都可以接受...<i>了解更多>></i></p>
            </div>
            <a href="list.htm"></a>
        </section>
    </article>
</body>
</html>