<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>加薪利器</title>
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/swiper.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/mbase.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/icon.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/icons.css">
    <style>
        #lList{padding-top:0;}
    </style>
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/3 + 'px';
    </script>
</head>
<body class="mine">  
    <article id="lList">
        <section>
            <div class="lt">
            <span align="center">暂无,正在开发中~~~</span>
            <!--
                <div class="lImg">
                    <img src="/weixin/Public/Expert/images/zhengcejiedu/img1.jpg" />
                </div>
                <div class="lTxt">
                    <p>内容内容内容内容内容内容内容内容内容内容</p>
                    <p>
                        <i>156</i>
                        <em>更新完成</em>
                    </p>
                </div>
                <strong>利器</strong>

             -->
            </div>
            <a href="#"></a>
        </section>
       
      
       
     
    </article>
    <!--<a href="javascript:;" id="load" class="text-center">加载更多</a>-->
     <include file="Public:footer_kc" />
      <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
<script src="/weixin/Public/Expert/js/jquery.min.js"></script>
</html>