<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>药店列表</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/weixin/Public/Member/css/yd/yd_list.css">
<script type="text/javascript">
	document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.getBoundingClientRect().width / 15 + "px";
</script>
</head>
<body>
	<header>
		<div class="search-box clear">
			<input type="text" class="text" placeholder="请输入药店名称">
			<input type="button" value="搜索" class="btn">
		</div>
		<div class="search">
			<div class="search-content"><b>地区</b><span></span></div>
			<div class="tiaojian">
				<a href="javascript:;">全部</a>
				<a href="javascript:;">北京</a>
				<a href="javascript:;">山东</a>
				<a href="javascript:;">福建</a>
				<a href="javascript:;">上海</a>
				<a href="javascript:;">河北</a>
				<a href="javascript:;">全部</a>
				<a href="javascript:;">北京</a>
				<a href="javascript:;">山东</a>
				<a href="javascript:;">福建</a>
				<a href="javascript:;">上海</a>
				<a href="javascript:;">河北</a>
				<a href="javascript:;">全部</a>
				<a href="javascript:;">北京</a>
				<a href="javascript:;">山东</a>
				<a href="javascript:;">福建</a>
				<a href="javascript:;">上海</a>
				<a href="javascript:;">河北</a>
				<a href="javascript:;">全部</a>
				<a href="javascript:;">北京</a>
				<a href="javascript:;">山东</a>
				<a href="javascript:;">福建</a>
				<a href="javascript:;">上海</a>
				<a href="javascript:;">河北</a>
				<a href="javascript:;">全部</a>
				<a href="javascript:;">北京</a>
				<a href="javascript:;">山东</a>
				<a href="javascript:;">福建</a>
				<a href="javascript:;">上海</a>
				<a href="javascript:;">河北</a>
			</div>
		</div>
	</header>
	<section>
		<ul class="list">
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
			<li class="clear">
				<img src="" class="img">
				<div class="list-info">
					<h2>心脑血管专用药店</h2>
					<p class="add">北京市 北京市</p>

					<div class="xingji">
						<i>
							<b style="width:90%;">
								<img src="/weixin/Public/Member/images/icon/start.png">
							</b>
						</i>
					</div>
					
					<span class="distance">12.12km</span>
				</div>
			</li>
		</ul>
	</section>
	<script type="text/javascript" src="/weixin/Public/Common/js/jquery.min.js"></script>
	<script type="text/javascript">
		//初始化
		(function(){
			var iTop = $('header').css('height');
			var iH = $(window).height() - parseFloat(iTop);
			$('section').css('margin-top',iTop);
			$('.tiaojian').css('height',iH);
		})();

		//筛选功能
		(function(){
			$('.search-content').on('touchend',function(){
				$('.tiaojian').slideToggle(function(){
					$('.tiaojian >a').on('touchend',function(){
						$('.tiaojian').slideUp();
						$('.search-content >b').html($(this).html());
					})
				});
			})
		})()		
	</script>
</body>
</html>