<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Home/css/medical/medical.css">
    <title>订单信息</title>
    <script>
    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/12 + 'px';
    </script>
</head>
<body>
    <article>
        <nav class="nav">
            <ul class="box">
                <li class="active"><a href="#" class="text-center">订单信息</a></li>
                <li><a href="#" class="text-center">备注订单</a></li>
            </ul>
        </nav>
        <section>
            <div class="content">
                <header>
                    <h2><span>2016年12月16日</span><span>11:30:12</span></h2>
                </header>
                <footer>
                    <p><em>订单ID：20170111</em></p>
                    <p><span>购买人：xxx</span></p>
                    <p><span>金额：12元</span></p>
                </footer>
            </div>
            <div class="content">
                <header>
                    <h2><span>2016年12月16日</span><span>11:30:12</span></h2>
                </header>
                <footer>
                    <p><em>订单ID：20170111</em></p>
                    <p><span>购买人：xxx</span></p>
                    <p><span>金额：12元</span></p>
                </footer>
            </div>
        </section>
    </article>
</body>
</html>