<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="keywords" content="百倍爱心卡" />
	<meta name="description" content="" />
	<title>百倍爱心-高血压健康套装</title>
	<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/znphone.css">
</head>
<body>
	<div class="wrapper">
		<!-- 头部 -->
		<div class="header">
			<img src="/weixin/Public/Member/images/h5_blood/pic0.jpg" alt="">
		</div>
		<!-- 切换 -->
		<ul class="tab">
			<li class="active">概述</li>
			<li>参数</li>
		</ul>
		<!-- 切换内容 -->
		<div class="content active">
			<div class="open">
			    <img src="/weixin/Public/Member/images/h5_blood/pic1.jpg" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic2.jpg"  class="lazy" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic3.jpg" class="lazy" alt="">
                <div class="more">
                    <p>
                        <img src="/weixin/Public/Member/images/h5_blood/text.png" alt="" >
                        <a href="#">点击了解</a>
                    </p>
                    <img data-original="/weixin/Public/Member/images/h5_blood/pic10.jpg" class="lazy" alt="">
                </div>
                <img data-original="/weixin/Public/Member/images/h5_blood/pic4.jpg" class="lazy" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic5.jpg" class="lazy" alt="">
                <p class="add text-center"><span>展开了解蓝牙血压计</span><i><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22"><path class="path" style="fill-rule:evenodd;clip-rule:evenodd;fill:#795759;" d="M22,11c0-6.075-4.925-11-11-11C4.925,0,0,4.925,0,11c0,6.075,4.925,11,11,11
	C17.075,22,22,17.075,22,11z M4.5,11.5v-1h6v-6h1v6h6v1h-6v6h-1v-6H4.5z"/></svg></i></p>
			</div>
			<div class="close">
			    <img src="/weixin/Public/Member/images/h5_blood/pic6.jpg" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic7.jpg" class="lazy" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic8.jpg" class="lazy" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic9.jpg" class="lazy" alt="">
			</div>
			<div class="open">
			    <img data-original="/weixin/Public/Member/images/h5_blood/pic11.jpg" class="lazy" alt="">
			    <p class="add text-center"><span>展开了解智能健康手环</span><i><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22"><path class="path" style="fill-rule:evenodd;clip-rule:evenodd;fill:#795759;" d="M22,11c0-6.075-4.925-11-11-11C4.925,0,0,4.925,0,11c0,6.075,4.925,11,11,11
	C17.075,22,22,17.075,22,11z M4.5,11.5v-1h6v-6h1v6h6v1h-6v6h-1v-6H4.5z"/></svg></i></p>
			 </div>
			<div class="close">
			    <img src="/weixin/Public/Member/images/h5_blood/pic12.jpg" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic13.jpg" class="lazy" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic14.jpg" class="lazy" alt="">
                <img data-original="/weixin/Public/Member/images/h5_blood/pic15.jpg" class="lazy" alt="">
			</div>
			<img data-original="/weixin/Public/Member/images/h5_blood/pic16.jpg" class="lazy" alt="">
		</div>
		<div class="content">
			<img src="/weixin/Public/Member/images/h5_blood/para1.jpg" alt="">
			<img src="/weixin/Public/Member/images/h5_blood/para2.jpg" alt="">
			<img src="/weixin/Public/Member/images/h5_blood/para3.jpg" alt="">
			<img src="/weixin/Public/Member/images/h5_blood/para4.jpg" alt="">
		</div>
		<div class="block"></div>
		<!-- 链接 -->
        <if condition="$footer neq 'hide'">
            <div class="link">
                    <span>￥980元</span>
                    <a href="http://wx-heartorg.yk2020.com/weixin/index.php?m=Member&c=Huzhu&a=wxlogin&user_id={:I('get.user_id','0')}&link_mobile={:I('get.link_mobile','0')}&sale_type={:C('SALE_TYPE_4')}&attach=<?php echo urlencode(base64_encode('m='.$type.'&c=Huzhu&a=blood'));?>&user_name={:I('get.user_name','')}">立即购买</a>

            </div>
        </if>
	</div>
	<!-- CNZZ统计代码 -->
    <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?></div>
    <!-- CNZZ统计代码  百倍爱心卡498健康套装 单独统计-->
    <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1261123499).'" width="0" height="0"/>';?></div>
	<script src="/weixin/Public/Common/js/jquery.min.js"></script>
	<script src="/weixin/Public/Common/js/jquery.lazyload.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		//图片懒加载
		$("img.lazy").lazyload();

		tabFn();
		scorllFn();
        
        $('.add').click(function(){
            if(!$(this).hasClass('down')){
                $(this).find('span').fadeOut();
                $(this).addClass('down'); $(this).find('i').addClass('rotate').find('.path').css('fill','#e2e2e2');
                $(this).parent().next().slideDown('slow');
            }else{
                $(this).find('span').fadeIn();
                $(this).removeClass('down fixed'); $(this).find('i').removeClass('rotate').find('.path').css('fill','#795759');
                $(this).parent().next().slideUp('slow');
            }
        });
        
		function set_log(act){
            var type = "{$type}"+"_blood";
            var link_mobile = '{:I("get.link_mobile","")}';
            var openid = "{$homeid}";
            var path = "{$path}";
            $.ajax(
                    {
                        type: "post",
                        url: "/weixin/index.php?m=Member&c=Index&a=set_log",
                        data: {'type':type,'openid':openid,'link_mobile':link_mobile,'url_path':path,'act':act},
                        dataType: "json",
                        success: function(data)
                        {
                            console.log('set_log:success');
                        }
                });
        }
        wx.config({
            debug: false,
            appId: '<?php echo $appId;?>',
            timestamp: '<?php echo $timestamp;?>', // 必填,生成签名的时间戳
            nonceStr:'<?php echo $NonceStr;?>', // 必填，生成签名的随机串
            signature: '<?php echo $signature;?>',// 必填，签名，见附录1
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        var wx_share_title = '百倍爱心高血压健康管理套装带给你健康舒心的呵护';
        var wx_share_desc = '为您提供快捷、全面、专业的血压监测及健康运动的咨询、管理服务';
        var wx_share_imgUrl = "http://wx-heartorg.yk2020.com/weixin/Public/Member/images/huzhu/share_icon/blood.png";

        wx.ready(function() {
            wx.onMenuShareTimeline({
                title: wx_share_title,
                desc: wx_share_desc,
                link: 'http://wx-heartorg.yk2020.com/weixin/index.php?m=Member&c=Huzhu&a=blood&user_id={:I("get.user_id","0")}&link_mobile={:I("get.link_mobile","0")}&user_name='+encodeURIComponent("{:I('get.user_name','')}"),
                imgUrl: wx_share_imgUrl,
                success: function() {
                     set_log('朋友圈');
                },
                cancel: function() {}
            });
            wx.onMenuShareAppMessage({
                title: wx_share_title,
                desc: wx_share_desc,
                link: 'http://wx-heartorg.yk2020.com/weixin/index.php?m=Member&c=Huzhu&a=blood&user_id={:I("get.user_id","0")}&link_mobile={:I("get.link_mobile","0")}&user_name='+encodeURIComponent("{:I('get.user_name','')}"),
                imgUrl: wx_share_imgUrl,
                success: function() {
                    set_log('微信');
                },
                cancel: function() {}
            });
        });

        //切换控制函数
        function tabFn(){
        	$('.tab > li').each(function(index){
        		$(this).click(function(){
	        		$(this).addClass('active').siblings().removeClass('active')
	        		$('.content').eq(index).addClass('active').siblings().removeClass('active')
	        	})
        	})
        }

        //滑动时tab固定函数
        function scorllFn(){
        	$(document).on('scroll',function(){
        		if( $(document).scrollTop() >= $('.header').height()){
        			$('.tab').css({
        				'position':'fixed',
        				'left':0,
        				'top':0
        			})
        		}else if($(document).scrollTop() < $('.header').height()){
        			$('.tab').css({
        				'position':'relative'
        			})
        		}
                
                //判断距离顶部文档位置动态赋予.add的位置
                $('.add').each(function(){
                    if(!$(this).hasClass('down')) return;
                    if($(this).parent().next().offset().top-$(window).scrollTop() <= $('.tab').height() && $(this).parent().next().next().offset().top-$(window).scrollTop() > 2*$('.tab').height()){
                        
                        $(this).addClass('fixed');
                    }else{
                        $(this).removeClass('fixed');
                    }
                })
                
        	})
        }

	</script>
</body>
</html>