<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
	<link rel="stylesheet" href="/weixin/Public/Common/css/Swiper/swiper.min.css">
	<link rel="stylesheet" href="/weixin/Public/Common/css/Swiper/animate.min.css">
	<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/theme/pace-theme-material.css">
	<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/father.css">
    <meta name="description" content="父亲节百倍爱心卡不仅买一送一，留下父亲电话和想要和父亲说的话，满满的爱意我们来替您传达！">
    <meta name="keywords" content="百倍爱心卡">
	<title>【父亲节】百倍爱心卡买一送一 “霸”气归来</title>
	<script type="text/javascript">
		(function(){
			var html = document.documentElement;
			html.style.fontSize = html.clientWidth / 12 + "px";
		})()
	</script>
</head>
<body>
<section class="swiper-container swiper-container1">
    <div class="swiper-wrapper" data-time="5000">

        <div class="swiper-slide s1">
            <div class="paint text-center ani opacity0" swiper-animate-effect="seal" swiper-animate-duration="1s" swiper-animate-delay="0s">
                <img src="/weixin/Public/Member/images/huzhu/father/thankDad.png" width="80%" />
                <i class="opacity0 ani infinite" swiper-animate-effect="flash" swiper-animate-duration="3s" swiper-animate-delay="1s"></i>
                <i class="opacity0 ani infinite" swiper-animate-effect="flash" swiper-animate-duration="3s" swiper-animate-delay="1.2s"></i>
                <i class="opacity0 ani infinite" swiper-animate-effect="flash" swiper-animate-duration="3s" swiper-animate-delay="1.4s"></i>
                <i class="opacity0 ani infinite" swiper-animate-effect="flash" swiper-animate-duration="3s" swiper-animate-delay="1.6s"></i>
            </div>
            <p class="text-center ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="3s" swiper-animate-delay="1s"><img src="/weixin/Public/Member/images/huzhu/father/time.png" width="60%" alt=""></p>
            <p class="text-center ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="3s" swiper-animate-delay="1.2s"><img src="/weixin/Public/Member/images/huzhu/father/hello.png" width="80%" alt=""></p>
            <p class="text-center ani infinite" swiper-animate-effect="rubberBand" swiper-animate-duration="1s" swiper-animate-delay="5s"><img src="/weixin/Public/Member/images/huzhu/father/happy.png" width="80%" alt=""></p>
            <div class="arrow ani infinite" swiper-animate-effect="fadeOutDown" swiper-animate-duration="2s"></div>
        </div>

        <div class="swiper-slide s3" data-time="5000">
            <div class="pic ani text-center" swiper-animate-effect="moveLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s">
                <img src="/weixin/Public/Member/images/huzhu/father/hand.png" width="80%" />
            </div>
            <article class="art">
                <p class="text-center ani" swiper-animate-effect="flys" swiper-animate-duration="2s" swiper-animate-delay="1.5s"><img src="/weixin/Public/Member/images/huzhu/father/little.png" width="80%" /></p>
            </article>
            <img class="ani fatherLove" swiper-animate-effect="scales" swiper-animate-duration="6s" src="/weixin/Public/Member/images/huzhu/father/fatherLove.png" width="100%" />
            <div class="arrow ani infinite" swiper-animate-effect="fadeOutDown" swiper-animate-duration="2s"></div>
        </div>

        <div class="swiper-slide s4" data-time="4000">
            <div class="lamp text-center"><img src="/weixin/Public/Member/images/huzhu/father/lamp.png" width="30%" /></div>
            <div class="light text-center ani" swiper-animate-effect="fadeIn" swiper-animate-duration="1s" swiper-animate-delay="2s" ><img src="/weixin/Public/Member/images/huzhu/father/light.png" width="90%" /></div>
            <div class="black ani" swiper-animate-effect="fadeOut" swiper-animate-duration="1s" swiper-animate-delay="2s"></div>
            <article class="art">
                <p class="text-center ani" swiper-animate-effect="flys" swiper-animate-duration="1s" swiper-animate-delay="2s"><img src="/weixin/Public/Member/images/huzhu/father/busy.png" width="80%" class="busy" /></p>
            </article>
            <img class="ani parent" swiper-animate-effect="fadeIn" swiper-animate-duration="2s" swiper-animate-delay="1s" src="/weixin/Public/Member/images/huzhu/father/parent.png" width="60%" />
            <img src="/weixin/Public/Member/images/huzhu/father/nothing.png" class="care ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="1s" swiper-animate-delay="2s" />
            <div class="arrow ani infinite" swiper-animate-effect="fadeOutDown" swiper-animate-duration="2s"></div>
        </div>

        <div class="swiper-slide s5" data-time="3000">
            <div class="tis text-center">
                <img src="/weixin/Public/Member/images/huzhu/father/sayLove.png" width="80%" class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="1s" swiper-animate-delay="0.6s" />
                <img src="/weixin/Public/Member/images/huzhu/father/help.png" width="80%" class="ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="1s" swiper-animate-delay="0.6s" />
            </div>
            <img src="/weixin/Public/Member/images/huzhu/father/fs.png" width="50%" class="fs ani infinite" swiper-animate-effect="bounce" swiper-animate-duration="1s" swiper-animate-delay="4s" style="z-index: 100; " />
            <article class="art">
                <p class="text-center ani" swiper-animate-effect="flys" swiper-animate-duration="2s" swiper-animate-delay="1.5s"><img src="/weixin/Public/Member/images/huzhu/father/phone.png" width="100%" style="margin-top:20px; z-index: 10000;" /></p>
            </article>
            <div class="arrow ani infinite" swiper-animate-effect="fadeOutDown" swiper-animate-duration="2s"></div>
        </div>
        <div class="swiper-slide s6" data-time="1500">
            <p class="pic text-center">
                <img src="/weixin/Public/Member/images/huzhu/father/love1.png" width="80%" class="ani"  swiper-animate-effect="flipInX" swiper-animate-duration="1s" swiper-animate-delay="0s" />
            </p>
            <article class="art">
                <p class="text-center ani" swiper-animate-effect="flys" swiper-animate-duration="2s" swiper-animate-delay="1.5s"><img src="/weixin/Public/Member/images/huzhu/father/gift.png" width="100%" style="margin-top:20px;" /></p>
            </article>
            <div class="arrow ani infinite" swiper-animate-effect="fadeOutDown" swiper-animate-duration="2s"></div>
        </div>
        <div class="swiper-slide s7" data-time="3000">
            <p class="pic text-center">
                <img src="/weixin/Public/Member/images/huzhu/father/protect1.png" width="80%" class="ani" swiper-animate-effect="flipInX" swiper-animate-duration="1s" swiper-animate-delay="0s" style="margin-top:20px;" />
            </p>
            <article class="art">
                <p class="text-center ani" swiper-animate-effect="flys" swiper-animate-duration="2s" swiper-animate-delay="1.5s"><img src="/weixin/Public/Member/images/huzhu/father/detail.png" width="100%" style="margin-top:20px;" /></p>
            </article>
        </div>
        <div class="swiper-slide s7" data-time="3000">
            <p class="pic text-center">
                
            </p>
            <article class="art">
               <p style="text-align: center; font-size: 0.5em; line-height: 1.5em;"><img src="/weixin/Public/Member/images/huzhu/father/ewm.png" style="width: 60%;margin-top: 2em; margin-bottom: 1em;"><br>
               微信扫一扫<br>
               或至微信公共号“心脑管家”<br>
              参与父亲节买一送一活动</p>
            </article>
            <div class="says">
                <a href="/weixin/index.php?m=Member&c=Huzhu&a=share_yf" class="fl"><img src="/weixin/Public/Member/images/huzhu/father/btn3.png" width="100%" /></a>
                <a href="/weixin/index.php?m=Member&c=Huzhu&a=msg_dd" class="fr animated pulse infinite"><img src="/weixin/Public/Member/images/huzhu/father/btn2.png" width="100%" /></a>
            </div>
        </div>
    </div>
    <div class="buy box" id="buy">
        
    </div>
    <div id="music" class="music rotate"></div>
    <audio style="display:none; height: 0" id="bg-music" preload="auto" src="/weixin/Public/Member/images/huzhu/father/music.mp3" loop></audio>
</section>
<!-- 百倍爱心卡重疾保障CNZZ统计代码 -->
<div style="height:0px;overflow:hidden;"><script src="https://s22.cnzz.com/z_stat.php?id=1262266996&web_id=1262266996" language="JavaScript"></script></div>
<script src="/weixin/Public/Common/js/jquery.min.js"></script>
<script src="/weixin/Public/Common/js/swiper.min.js"></script>
<script src="/weixin/Public/Common/js/swiper.animate.min.js"></script>
<script src="/weixin/Public/Common/js/snowfall.jquery.js"></script>
<script src="/weixin/Public/Common/js/pace.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
    Pace.on('done', function () {
        $('.swiper-container').addClass('return')
        //上下滑动
        var mySwiper1 = new Swiper ('.swiper-container1', {
            direction: 'vertical',
            onInit:function(swiper){
                swiperAnimateCache(swiper); //隐藏动画元素 
                swiperAnimate(swiper); //初始化完成开始动画	
                $('#buy').addClass('move');
            },
            onSlideChangeStart: function(){
                $('#buy').removeClass('move');  
            },
            onSlideChangeEnd: function(swiper){ 
                var time = $('.swiper-slide-active').data('time');
                swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                setTimeout(function(){
                    $('#buy').addClass('move');
                },time);
            } 
        });
    });

    //播放音乐
    var audio = document.getElementById('bg-music');
    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
    $('#music').click(function(){
        if(audio.paused){
            $(this).addClass('rotate');
            audio.play();
        }else{
            $(this).removeClass('rotate');
            audio.pause();
        }
    })
    
    //花瓣飘落
    $('.s6').snowfall('clear');
    $('.s6').snowfall({
        image: "/weixin/Public/Member/images/huzhu/father/leaf.png",
        flakeCount:10,
        minSize: 2,
        maxSize: 20
    });

    function set_log(act)
    {
        var type = "{$type}"+"_mother";
        var link_mobile = '{:I("get.link_mobile","")}';
        var openid = "{$homeid}";
        var path = "{$path}";
        $.ajax(
                {
                    type: "post",
                    url: "/weixin/index.php?m=Member&c=Index&a=set_log",
                    data: {'type':type,'openid':openid,'link_mobile':link_mobile,'url_path':path,'act':act},
                    dataType: "json",
                    success: function(data)
                    {
                        console.log('set_log:success');
                    }
            });
    }


    //微信分享
    wx.config({
        debug: false,
        appId: '<?php echo $appId;?>',
        timestamp: '<?php echo $timestamp;?>', // 必填,生成签名的时间戳
        nonceStr:'<?php echo $NonceStr;?>', // 必填，生成签名的随机串
        signature: '<?php echo $signature;?>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    var wx_share_title = '【父亲节】百倍爱心卡买一送一 “霸”气归来';
    var wx_share_desc = '父亲节百倍爱心卡不仅买一送一，留下父亲电话和想要和父亲说的话，满满的爱意我们来替您传达！';
    var wx_share_imgUrl = "http://wx-heartorg.yk2020.com/weixin/Public/Member/images/huzhu/father/icon.jpg";

    wx.ready(function() {
        wx.onMenuShareTimeline({
            title: wx_share_title,
            desc: wx_share_desc,
            link: 'http://wx-heartorg.yk2020.com/weixin/index.php?m=Member&c=Huzhu&a=father&user_id={:I("get.user_id","0")}&type={:I("get.type","Member")}&link_mobile={:I("get.link_mobile","0")}&user_name='+encodeURIComponent("{:I('get.user_name','')}"),
            imgUrl: wx_share_imgUrl,
            success: function() {
                 set_log('朋友圈');
            },
            cancel: function() {}
        });
        wx.onMenuShareAppMessage({
            title: wx_share_title,
            desc: wx_share_desc,
            link: 'http://wx-heartorg.yk2020.com/weixin/index.php?m=Member&c=Huzhu&a=father&user_id={:I("get.user_id","0")}&type={:I("get.type","Member")}&link_mobile={:I("get.link_mobile","0")}&user_name='+encodeURIComponent("{:I('get.user_name','')}"),
            imgUrl: wx_share_imgUrl,
            success: function() {
                set_log('微信');
            },
            cancel: function() {}
        });
    });
</script>
</body>
</html>