<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="为您和您的家人获取最高30万元大病保障金">
<title>互助次数</title>
<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/qscui.css">
<link rel="stylesheet" href="/weixin/Public/Member/css/huzhu/insurance.min.css">
</head>
<body ontouchstart="" style=" background:#fff;">
<div class="cishu_top"> 您已成功救助<span>{:I('get.consume_num','0')}</span>次 | 累计资助<i>{:I('get.consume_money','0')}</i>元 </div>
<div style=" height:10px; background:#f5f6f9"></div>
<div class="huzhucishu mod-insurance-bill ">
        <if condition="empty($hzcs_list)">
                <div style=" text-align: center;">
                        <br/> 
                        <img src="/weixin/Public/Common/images/icon/icon1.png"><br>
                        <i style=" line-height: 30px;font-size:14px;font-style: normal;">暂无数据</i>
                </div>
        <else />
                <table class="bill-table">
                        <volist name="hzcs_list" id="hzcs">
                                <tbody>
                                        <tr>
                                                <td class="avatar"><i class="icon icon-pay bank-weixin"></i></td>
                                                <td class="">
                                                    <strong>被资助人  <b>{$hzcs.PERSON_NAME}</b></strong>
                                                    <p>资助金额<span>￥{$hzcs.CONSUME_MONEY}</span></p>
                                                    <p>{$hzcs.CREATE_DATE}</p>    
                                                </td>
                                                <td class="">已救助</td>
                                        </tr>
                                </tbody>
                        </volist>
                </table>
                <div class="ui-jiazai" ><a href="javascript:void(0);" onClick="load_more();" >加载更多</a></div>  
                <div id="current_pagenum" style="display:none">2</div>
        </if>
        <!-- <table class="bill-table">
                <tbody>
                        <tr>
                                <td class="avatar"><i class="icon icon-pay bank-weixin"></i></td>
                                <td class="">
                                	<strong>被资助人  <b>李*宇</b></strong>
                                    <p>资助金额<span>￥6.00</span></p>
                                    <p>2016-09-28  14:47</p>    
                                </td>
                                <td class="">已救助</td>
                        </tr>
                </tbody>
        </table> -->
</div>
<div id="cli_dialog_div"></div>

<script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
<script src="/weixin/Public/Common/js/load.js " type="text/javascript"></script> 
<script type="text/javascript">

var onOff = true;
window.onload = function()
{
    window.onscroll();
}
window.onscroll = function () 
{
    load_more('.bill-table');
}
function load_more(obj) 
{
    if (!onOff) return;
    if ($(obj).height() <= $(document).scrollTop() + $(window).height()) {
        onOff = !onOff;
        loadmore('#current_pagenum', '/weixin/index.php?m=Member&c=Huzhu&a=huzhucishu_append&person_id='+{$person_id},'.bill-table');
    }
}

</script>
<!-- CNZZ统计代码 -->
<div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?></div>
</body>
</html>
