<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no" />
	<title>暂无数据</title>
	<style type="text/css">
		img{margin: 100px auto 0; display: block; width: 120px;}
		p{line-height: 30px; font-size: 14px; text-align: center; color: #333;}
	</style>
</head>
<body>
	<img src="/weixin/Public/Member/images/huzhu/data.png">
	<p>您还处于观察期，生效后可查看保险信息。</p>
</body>
</html>