<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta content="{$seoarr['69942747']['KEYWORDS']}" name="keywords">
  <meta content="{$seoarr['69942747']['DESCRIPTION']}" name="description">
  <title>{$seoarr['69942747']['TITLE']}</title>
  <!-- 公共样式 -->
  <link rel="stylesheet" href="/Public/Common/css/header_ft.css">
  <!-- 当前样式 -->
  <link rel="stylesheet" href="/Public/css/keyService/imgDiagnosis.css">
</head>
<body>
  <!-- 头部start -->
  <include file="Public:header"/>
  <!-- 头部end -->
  <div class="banner"></div>
  <div class="con1 con">
    <div class="w1020">
      <h2>眼科影像诊断服务<em>中心 开</em>启远程诊疗新模式</h2>
      <p>眼科影像诊断服务中心是北京圣康华眼科医院的一个独立第三方影像诊断服务单位，服务的对象是医疗机构（包括本医疗机构）。作为第三方服务机构，中心的所有影像诊断工作都经过阅片和质控阅片程序，确保影像诊断的准确、可靠。中心以业务平台方式运作，阅片医生、质控阅片医生、确认阅片医生主要来自于中国和欧美国家。</p>
    </div>
  </div>
  <div class="con2 con"></div>
  <div class="con3 con">
    <div class="w1020">
      <dl>
        <dt>
          <p class="title"><em>远程</em>智能阅片系统</p>
          <p class="desc">眼科影像诊断服务中心采用河谷远程智能阅片系统，<br />
  系统运用先进的互联网影像传输技术和CNN人工智<br />
  能，通过专业阅片团队利用完善的报告审核体系，<br />
  为医疗机构提供远程眼科影像阅片服务优化眼科医<br />
  疗资源配置，有效助力分级诊疗的开展。</p>
        </dt>
        <dd>
          <img src="/Public/images/keyService/imgDiagnosis/pic1.jpg" alt="">
          <p class="text">基于神经网络算法（CNN）及临床大数据</p>
        </dd>
      </dl>
    </div>
  </div>
  <div class="con4 con">
    <div class="w1200">
      <dl>
        <dt><img src="/Public/images/keyService/imgDiagnosis/img1.png" alt=""></dt>
        <dd>
          <p class="title">远程影像诊断专<em>家团队</em></p>
          <p class="desc">基地医院医生和远程会诊中心医生双方进行监控患<br />
者病情评估，专业阅片不仅要识别不同阶段病变的<br />
热点，还要识别正常眼底的多样性，避免过度诊治。</p>
        </dd>
      </dl>
    </div>
  </div>
  <div class="con5 con">
    <div class="w1020">
      <p class="title"><em>全天</em>候诊，阅片诊断速度快</p>
      <p class="desc">工作日全天侯阅片服务 ，14:00之前当天出报告 ，14:00之后隔天出报告，速度快，正确率超过95%。</p>
    </div>
  </div>
  <div class="con6 con">
    <div class="w1020">
      <p class="title">大数据的图像<em>分析</em></p>
      <p class="desc">北京圣康华眼科医院所用的超广角免散瞳眼底照相机采用云平台数据管理，医生和患者只要上网就可获得清晰的影像数据。目前这种利用云平台数据管理来存储影像资料的历史已达26年，现已收录180万人的影像，这些庞大的数据库能够帮助医生分析详细的影像特征和对应的疾病，大大提高患者复明率。</p>
    </div>
  </div>
  <div class="con7 con">
    <div class="w1020">
      <h2>远程智<em>能破</em>冰难点</h2>
      <dl>
        <dt><img src="/Public/images/keyService/imgDiagnosis/img2.png" alt=""></dt>
        <dd>眼底影像互联互通</dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/keyService/imgDiagnosis/img3.png" alt=""></dt>
        <dd>落地分级诊疗实施</dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/keyService/imgDiagnosis/img4.png" alt=""></dt>
        <dd>医疗资源合理分配</dd>
      </dl>
      <dl>
        <dt><img src="/Public/images/keyService/imgDiagnosis/img5.png" alt=""></dt>
        <dd>提高眼底影像诊断率</dd>
      </dl>
    </div>
  </div>

  <!-- 底部start -->
    <include file="Public:footer"/>
  <!-- 底部end -->
  <!-- 公共js部分 -->
  <script src="/Public/Common/js/jquery.js" charset="utf-8"></script>
  <script src="/Public/Common/js/header.js" charset="utf-8"></script>
</body>
</html>
