<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >
<!--CSS库文件-->
<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer_v2.min.css" type="text/css" rel="stylesheet"/>
<!--CSS当前页面文件-->
<link href="/weixin/Public/Member/css/user/user_info.css?time={$csstime}.css" type="text/css" rel="stylesheet"/>
<link rel="stylesheet" href="/weixin/Public/Member/css/baozhang/qscui.css">
<link rel="stylesheet" href="/weixin/Public/Member/css/baozhang/insurance.min.css">
<link rel="stylesheet" href="/weixin/Public/Member/css/100card.css">
<style>
    .hezuoHos{background:none;padding:0 10px 0 100px;height:auto;}   
    .info2 a{padding:20px 0;border-bottom:1px solid #e7e7e7;}
    .hezuoHos .yiyuanpic{top:0;left:10px;width:80px;height:auto;}
    .txt{width:60%;}
    .over{overflow:hidden;}
    .code{text-align:center;width:35%;padding-top:5px;margin-left:5%;border-left:1px solid #e7e7e7;}
    .code p{font-size:12px;}
</style>
<script src="/weixin/Public/Member/js/jquery.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/10 + 'px';
    wx.config({
        debug: false,
        appId: '<?php echo $appId;?>',
        timestamp: '<?php echo $timestamp;?>', // 必填，生成签名的时间戳
        nonceStr:'<?php echo $NonceStr;?>', // 必填，生成签名的随机串
        signature: '<?php echo $signature;?>',// 必填，签名，见附录1
        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
     var wx_share_title = '百倍爱心卡宣传';
    var wx_share_desc = '百倍爱心卡贴近老百姓需求，一经问世，就受到老百姓的热烈欢迎!';
    var wx_share_imgUrl = "http://wx-heartorg.yk2020.com/weixin/Public/Home/images/kalist/00.jpg";

    wx.ready(function() {
        wx.onMenuShareTimeline({
            title: wx_share_title,
            desc: wx_share_desc,
            link: 'http://wx-heartorg.yk2020.com/weixin/index.php?m=Home&c=Baibei&a=ka_list',
            imgUrl: wx_share_imgUrl,
            success: function() {

            },
            cancel: function() {}
        });
        wx.onMenuShareAppMessage({
            title: wx_share_title,
            desc: wx_share_desc,
            link: 'http://wx-heartorg.yk2020.com/weixin/index.php?m=Home&c=Baibei&a=ka_list',
            imgUrl: wx_share_imgUrl,
            success: function() {
                
            },
            cancel: function() {}
        });
    });
</script>
<title>百倍爱心宣传列表</title>
</head>
<body>
<div class="info2" style=" margin:0; padding:0; background:#fff; border:0;">
        <ul id="hos-list">
                <li> <a class="yylist_a" href="{:U('Home/Baibei/bb_list')}">
                        <div class="hezuoHos">
                                <div class="yiyuanpic"> <img class="" src="/weixin/Public/Member/images/huzhu/share_icon/chuandi.png" alt="百倍爱心卡 火热传递中"> </div>
                                <div class="over">
                                    <div class="txt left">
                                    <h2>百倍爱心卡 火热传递中 </h2>
                                    <p>百倍爱心卡,火热售卖中</p>
                                </div>
                                <!--<div class="code right" data-code="1.jpg"><img src="/weixin/Public/Member/images/huzhu/code.png" width="32px"  alt="百倍爱心卡 火热传递中" /><p>扫一扫</p></div>-->
                                </div>
                        </div>
                        </a> </li>
                <li> <a class="yylist_a" href="{:U('Member/Huzhu/share_init',array('user_id'=>$user_info['user_id'],'link_mobile'=>$user_info['link_mobile'],'user_name'=>$user_info['user_name']))}">
                        <div class="hezuoHos">
                                <div class="yiyuanpic"> <img class="" src="/weixin/Public/Member/images/baozhang/top_ban.jpg" alt="百倍爱心卡 火热传递中"> </div>
                                <div class="over">
                                    <div class="txt left">
                                    <h2>关爱身边人,{$user_info.user_name}送您10万健康援助</h2>
                                    <p>百倍爱心卡，老年人专属心血管援助。我觉得很适合您，抽空看看呗</p>
                                </div>
                                <div class="code right" data-code="share_init"><img src="/weixin/Public/Member/images/huzhu/code.png" width="32px"  alt="百倍爱心卡 火热传递中" /><p>扫一扫</p></div>
                                </div>
                        </div>
                        </a> </li>
                <li> <a class="yylist_a" href="{:U('Member/Huzhu/share_yf',array('user_id'=>$user_info['user_id'],'link_mobile'=>$user_info['link_mobile'],'user_name'=>$user_info['user_name']))}">
                        <div class="hezuoHos">
                                <div class="yiyuanpic"> <img class="" src="/weixin/Public/Member/images/huzhu/share_icon/share.png" alt="百倍爱心卡 火热传递中"> </div>
                                <div class="over">
                                    <div class="txt left">
                                    <h2>好友{$user_info.user_name}喊你一起开始慢病管理啦</h2>
                                    <p>慢病管理百元援助项目，我们更懂你的身体</p>
                                </div>
                                <div class="code right" data-code="share_yf"><img src="/weixin/Public/Member/images/huzhu/code.png" width="32px"  alt="百倍爱心卡 火热传递中" /><p>扫一扫</p></div>
                                </div>
                        </div>
                        </a> </li>
                <li> <a class="yylist_a" href="{:U('Member/Huzhu/share_parent',array('user_id'=>$user_info['user_id'],'link_mobile'=>$user_info['link_mobile'],'user_name'=>$user_info['user_name']))}">
                        <div class="hezuoHos">
                                <div class="yiyuanpic"> <img class="" src="/weixin/Public/Member/images/huzhu/share_icon/parent.png" alt="百倍爱心卡 火热传递中"> </div>
                                <div class="over">
                                    <div class="txt left">
                                    <h2>{$user_info.user_name}告诉您，百元送父母10万健康援助</h2>
                                    <p>感恩回馈，百元爱心援助项目，关爱父母身体健康</p>
                                </div>
                                <div class="code right" data-code="share_parent"><img src="/weixin/Public/Member/images/huzhu/code.png" width="32px"  alt="百倍爱心卡 火热传递中" /><p>扫一扫</p></div>
                                </div>
                        </div>
                        </a> </li>
                <li> <a class="yylist_a" href="{:U('Member/Huzhu/share_des',array('user_id'=>$user_info['user_id'],'link_mobile'=>$user_info['link_mobile'],'user_name'=>$user_info['user_name']))}">
                        <div class="hezuoHos">
                                <div class="yiyuanpic"> <img class="" src="/weixin/Public/Member/images/huzhu/share_icon/share_des.png" alt="百倍爱心卡 火热传递中"> </div>
                                <div class="over">
                                    <div class="txt left">
                                        <h2>号外号外！！好友{$user_info.user_name}喊你快来领取十万援助</h2>
                                        <p>给健康100分的呵护，百倍爱心卡健康援助计划。是您援助心血管健康的上上之选</p>
                                    </div>
                                    <div class="code right" data-code="share_des"><img src="/weixin/Public/Member/images/huzhu/code.png" width="32px"  alt="百倍爱心卡 火热传递中" /><p>扫一扫</p></div>
                                </div>
                        </div>
                        </a> </li>
                        <li> <a class="yylist_a" href="{:U('Member/Huzhu/share_5',array('user_id'=>$user_info['user_id'],'link_mobile'=>$user_info['link_mobile'],'user_name'=>$user_info['user_name']))}">
                        <div class="hezuoHos">
                                <div class="yiyuanpic"> <img class="" src="/weixin/Public/Member/images/huzhu/share_icon/thanks.png" alt="百倍爱心卡 火热传递中"> </div>
                                <div class="over">
                                    <div class="txt left">
                                        <h2>好友{$user_info.user_name}送您的亲人一份十万援助</h2>
                                        <p>老年人健康不可大意！百倍爱心卡，多一份援助，多一份安心</p>
                                    </div>
                                    <div class="code right" data-code="share_5"><img src="/weixin/Public/Member/images/huzhu/code.png" width="32px"  alt="百倍爱心卡 火热传递中" /><p>扫一扫</p></div>
                                </div>
                        </div>
                        </a> </li>
        </ul>
        <br>
</div>
<div id="pop">
    <div class="mask"></div>
    <div class="pop-content">
        <div class="close"></div>
        <div class="pop-main">
            <img src="" alt="">
            <p>扫一扫，即刻加入慢病管理</p>
        </div>
        <p class="pop-des">百倍爱心卡</p>  
    </div>
</div>
<div style="display: none;" id="member_vip">{$member_vip}</div>


<!--通底的引用结束--> 
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
<div style="height:0px;overflow:hidden;">
        <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?>
</div>
</body>
<script>
$('.code').click(function(){
    var a = $(this).data('code');
    var username = encodeURI("{$user_info['user_name']}");
    var code = "http://weixin.yk2020.com/include/get_share_code.aspx?user_id={$user_info['user_id']}&link_mobile={$user_info['link_mobile']}&user_name="+username+"&a="+a;
    console.log(code);
    $('#pop').show();
    $('.pop-main img').attr('src',code);
    return false;
});
$('.close').click(function(){
    $('#pop').hide();
});
 
</script>
</html>