
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta content="页面关键字" name="keywords">
<meta content="页面描述" name="description">
<title>北京圣康华</title>
</head>
<body>
    <!-- 头部start -->
    <div class="header">
        <div class="h_top">
            <div class="fl"><span>欢迎来到北京圣康华</span></div>
            <div class="fr tr"><span>客服热线：400-656-2020</span></div>
        </div>
        <div class="h_bottom clear">
            <div class="fl"></div>
            <div class="fl">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li>
                        <a href="#">知名专家<i></i></a>
                        <ol>
                            <li><a href="#">特需专家</a></li>
                            <li><a href="#">会诊专家</a></li>
                            <li><a href="#">眼底病科</a></li>
                            <li><a href="#">白内障科</a></li>
                            <li><a href="#">眼外伤科</a></li>
                            <li><a href="#">神经眼科</a></li>
                            <li><a href="#">眼视光与功能视觉</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#">就诊服务<i></i></a>
                        <ol>
                            <li><a href="#">糖网</a></li>
                            <li><a href="#">白内障</a></li>
                            <li><a href="#">眼底病</a></li>
                            <li><a href="#">眼视光</a></li>
                            <li><a href="#">眼整形</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#">特色服务<i></i></a>
                        <ol>
                            <li><a href="#">远程眼科会诊中心</a></li>
                            <li><a href="#">眼科影像诊断中心</a></li>
                            <li><a href="#">糖尿病眼病远程医疗服务中心</a></li>
                            <li><a href="#">视觉医疗质控管理服务中心</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#">聚焦圣康华<i></i></a>
                        <ol>
                            <li><a href="#">圣康华简介</a></li>
                            <li><a href="#">新闻动态</a></li>
                        </ol>
                    </li>
                    <li>
                        <a href="#">联系我们<i></i></a>
                        <ol>
                            <li><a href="#">患者就医指南</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 头部end -->
</body>
</html>