<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="为您和您的家人获取最高10万元大病保障金">
    <meta name="keywords" content="肺保卡">
	<title>肺保卡重疾保障</title>
	<link rel="stylesheet" type="text/css" href="/weixin/Public/Member/css/baoxian-zt.css">
</head>
<body style="background: url('/weixin/Public/Member/images/baoxian-zt/fbk-bg.jpg') no-repeat #b3e780;background-size: 100%; position:relative;">
	<div class="bni-box">
		<ul class="bni-intro">
			<li>
				<div class="fbk-ad">
					<img src="/weixin/Public/Member/images/baoxian-zt/fbk-ad.png" alt="">
				</div>
			</li>
			<li class="fbk-one">
				<div class="fbk-title1">
					<img src="/weixin/Public/Member/images/baoxian-zt/fbk01-title.png">
				</div>
				<img src="/weixin/Public/Member/images/baoxian-zt/fbk01.png" alt="">
			</li>
			<li>
				<div class="fbk-title2">
					<img src="/weixin/Public/Member/images/baoxian-zt/fbk02-title.png">
				</div>
				<img src="/weixin/Public/Member/images/baoxian-zt/fbk02.png" alt="">
			</li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/fbk03.png" alt=""></li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/fbk04.png" alt=""></li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/fbk05.png" alt=""></li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/fbk06.png" alt=""></li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/fbk07.png" alt=""></li>
		</ul>
		<!-- 常见问题 -->
		<div class="rongyb-data ryb-be05">
			<img src="/weixin/Public/Member/images/baoxian-zt/fbk-cjwt.png" class="fbk-cjwt">
			<ul>
				<li>
					<div class="question rmd-proquestion">
						<em>Q1.什么是肺保卡重疾保障？</em>
						<span></span>
					</div>
					<div class="rmd-pro-answer-box bni-pro-answer-box">
						<img class="rmd-sj bni-sj" src="/weixin/Public/Member/images/baoxian-zt/hsj.png">
						<div class="rmd-pro-answer bni-pro-answer">
							<p> 肺保卡重疾保障是一种全新的健康保障机制，加入会员，经过90天/180天的观察  期可获得相应的健康保障和相关健康管理服务,除此之外，符合条件的加入者还能获得基金会最高10万元的手术健康援助,不幸罹患肺癌可获得10万保障。</p>
						</div>
					</div>
				</li>
				<li>
					<div class="question rmd-proquestion">
						<em>Q2.什么是观察期？</em>
						<span></span>
					</div>
					<div class="rmd-pro-answer-box bni-pro-answer-box">
						<img class="rmd-sj bni-sj" src="/weixin/Public/Member/images/baoxian-zt/hsj.png">
						<div class="rmd-pro-answer bni-pro-answer">
							<p>观察期又称等待期或免责期，是为了防止参与行动的会员明知道将发生风险事故，而马上加入以获得利益的行为。观察期内可以享受健康管理，观察期过后可以享受保障和援助</p>
						</div>
					</div>
				</li>
				<li>
					<div class="question rmd-proquestion">
						<em>Q3.没有社保和新农合的用户可以买卡并享受保障吗？</em>
						<span></span>
					</div>
					<div class="rmd-pro-answer-box bni-pro-answer-box">
						<img class="rmd-sj bni-sj" src="/weixin/Public/Member/images/baoxian-zt/hsj.png">
						<div class="rmd-pro-answer bni-pro-answer">
							<p>可以，申请保障的时候需到村委会开据说明（为什么没有缴纳社保或新农合）</p>
						</div>
					</div>
				</li>
				<li>
					<div class="question rmd-proquestion">
						<em>Q4.什么是恶性肿瘤?</em>
						<span></span>
					</div>
					<div class="rmd-pro-answer-box bni-pro-answer-box">
						<img class="rmd-sj bni-sj" src="/weixin/Public/Member/images/baoxian-zt/hsj.png">
						<div class="rmd-pro-answer bni-pro-answer">
						 	<p>指恶性细胞不受控制的进行性增长和扩散，浸润和破坏周围正常组织，可以经血管、淋巴管和体腔扩散转移到身体其它部位的疾病。经病理学检查结果明确诊断，临床诊断属于世界卫生组织《疾病和有关健康问题的国际统计分类》（ICD-10）的恶性肿瘤范畴。</p>
						</div>
					</div>
				</li>
				<li>
					<div class="question rmd-proquestion">
						<em>Q5.非保障范围疾病？</em>
						<span></span>
					</div>
					<div class="rmd-pro-answer-box bni-pro-answer-box">
						<img class="rmd-sj bni-sj" src="/weixin/Public/Member/images/baoxian-zt/hsj.png">
						<div class="rmd-pro-answer bni-pro-answer">
							<p>1) 原位癌；</p>
							<p>2) 相当于 Binet 分期方案A 期程度的慢性淋巴细胞白血病；</p>
							<p>3) 相当于 Ann Arbor 分期方案I 期程度的何杰金氏病；</p>
							<p>4) 皮肤癌（不包括恶性黑色素瘤及已发生转移的皮肤癌）；</p>
							<p>5) TNM 分期为T1N0M0 期或更轻分期的前列腺癌；</p>
							<p>6) 感染艾滋病病毒或患艾滋病期间所患恶性肿瘤。</p>
						</div>
					</div>
				</li>
				<li>
					<div class="question rmd-proquestion">
						<em>Q6.什么情况下可以获得援助？</em>
						<span></span>
					</div>
					<div class="rmd-pro-answer-box bni-pro-answer-box">
						<img class="rmd-sj bni-sj" src="/weixin/Public/Member/images/baoxian-zt/hsj.png">
						<div class="rmd-pro-answer bni-pro-answer">
						 	<p>只有在成为百倍爱心卡重疾保障正式会员且过了观察期后，且在北京远程视界集团合作的基地医院进行的冠心病支架介入手术、心脏搭桥手术、心律失常介入射频消融手术手术项目，会员本人即可进行申请援助金，经第三方权威机构核实后符合条件的会员即可获得援助金。</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="binvited-btn-box fbk-btn-box">
			<a href="javascript:;" class="left-btn">马上加入</a>
	</div>
	<script type="text/javascript" src="/weixin/Public/Member/js/jquery.min.js"></script>
  <script type="text/javascript" src="/weixin/Public/Member/js/remControl.js"></script>
	<script type="text/javascript"> 
		$('.rmd-proquestion').click(function(){  
			$(this).toggleClass('show').siblings().find('.rmd-proquestion').removeClass('show');
    	$(this).next().slideToggle().parent().siblings().find('.rmd-pro-answer-box').slideUp();
		});
	</script> 
</body>
</html>