<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >

<!--CSS库文件-->

<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer_v2.min.css" type="text/css" rel="stylesheet"/>

<!--CSS当前页面文件-->

<link href="/weixin/Public/Member/css/dingdan.min.css" type="text/css" rel="stylesheet"/>
<title>订单详情</title>
</head>

<body style=" background:#fff;">
<div id="J_Account_Info" class="gp GJ_Gp g-items gp-profile" style=" background:#fff">
  <div class="xq1">
    <div class="detal_shoushu"> <span class="img"><img src="{$array.0.HOS_PIC}"   class="g-left expert-img"/> </span> <span class="meta">
      <div class="name_dj"> <strong class="mingcheng">{$array.0.HOS_NAME}</strong> </div>
      <p>{$array.0.SERVE_NAME}</p>
      </span> </div>
  </div>
  <div class="xq2">
    <h2>订单详情</h2>
    <ul>
      <li>订单号：{$array.0.ORDER_ID}</li>
      <if condition="$array[0][ORDER_NAME] eq '患者根据处方订单下单'">
        <li>预约药店：{$array.0.HOS_NAME}</li>
      <else />
        <li>预约医院：{$array.0.HOS_NAME}</li>
      </if>
      <li>下单时间：{$array.0.ORDER_DATE}</li>
      <li>订单名称：{$array.0.ORDER_NAME}</li>
      <li>会员姓名：{$array.0.MEMBER_NAME}</li>
      <li>订单价格：{$array.0.ORDER_MONEY}元</li>
      <li>订单状态：{$array.0.ORDER_STATUS}--
      <if condition="$array[0][O2O_FLAG] eq '1' ">已核销
      <elseif condition="$array[0][O2O_FLAG] eq '2'"/>已过期
      <else />待核销
      </if>
      </li>
      <li>地址：{$array.0.HOS_ADDRESS}</li>
      <li>联系电话：{$array.0.HOS_PHONE}</li>
    </ul>
  </div>
  <div style="width:250px; height:250px;margin:20px auto;"><img style="width:250px; " src="http://weixin.yk2020.com/program/get_qrcode.aspx?qrcode={$array.0.ORDER_CODE}" /></div>
  <input type="hidden" id="order_id" value="{$array.0.ORDER_ID}">
  <if condition="$array[0][ORDER_STATUS] eq '待付款'">
    <form action="{:U('Order/pay')}" method="post" class="form_tijao" style="height:auto;">
      <input type="hidden" name="price" value="{$array.0.ORDER_MONEY}">
      <input type="hidden" name="serve_name" value="{$array.0.ORDER_NAME}">
      <input type="hidden" name="order_id" value="{$array.0.ORDER_ID}">
      <input type="hidden" name="time" value="{$array.0.ORDER_DATE}">
      <input type="hidden" name="sj_type" id="sj_type" value="{$sj_type}">
      <if condition="$array[0][O2O_FLAG] neq '2' ">
      <input type="submit" value="立即支付" id="sub2" >
      <elseif condition="$array[0][ORDER_NAME] eq '患者根据处方订单下单'">
      <a href="javascript:;"><input type="button" value="到店支付" id="sub1" ></a>
      </if>
      <!-- <input type="submit" value="立即支付" id="sub2" disabled="disabled"> -->
      
      <a href="javascript:void(0)" onClick="tpay()">
      <input type="button" value="取消订单" id="quexiao1">
      </a>
    </form>
    <else/>
  </if>
  <if condition="($array[0][ORDER_STATUS] eq '已付款') && ($array[0][O2O_FLAG] eq '0')"> <a href="javascript:void(0)" onClick="order()" class="form_tijao" style=" height:45px; margin-bottom:80px; display:block;">
    <input type="button" value="我要退款" style="width:60%; margin:0 auto">
    </a>
    <else/>
  </if>
</div>
<!-- 提示框 -->
<div class="tishi">
  <p>您已确定去药店支付</p>
  <a href="javascript:;">好</a>
</div>
<script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
<include file="Public:footer_fd" /> 
<script>

	var over_footer = '4';

	function tpay(){

		var order_id = $("#order_id").val();

		 $.ajax({

             type: "GET",

             url: "/weixin/index.php?m=Member&c=Order&a=tpay&order_id="+order_id,

             success: function(msg){

            	 if(msg=="ok"){

            		 alert("取消成功");

            		 location.href="/weixin/index.php?m=Member&c=Order&a=order_list";

            	 }else{

            		 alert("取消失败")

            	 }

             } 	

		 });

		

	}

	function order(){

		alert("请联系客服：400-656-2020");

	}

  /*提示框*/
	 $("#sub1").click(function(){
      $(".tishi").show();
   });
   $(".tishi a").click(function(){
    $(".tishi").hide();
   })


</script>
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?></div>
</body>
</html>
