<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >
<link rel="stylesheet" href="/weixin/Public/Member/css/order/order_state.css">
<title>付款失败</title>
</head>
<body>
	<div class="bar"></div>
	<div class="fail">
		<img src="/weixin/Public/Member/images/order/cuo.jpg" alt="">
		<p>您的订单已作废</p>
	</div>
	<h1>订单详情</h1>
	<ul class="detail">
		<li>订单状态：{$array.0.ORDER_STATUS}--
	      <if condition="$array[0][O2O_FLAG] eq '1' ">已核销
	      <elseif condition="$array[0][O2O_FLAG] eq '2'"/>已过期
	      <else />待核销
	      </if>
      	</li>
		<li>订单名称：{$array.0.ORDER_NAME}</li>
		<li>下单时间：{$array.0.ORDER_DATE}</li>
		<li>订单号：{$array.0.ORDER_ID}</li>
		<li>会员姓名：{$array.0.MEMBER_NAME}</li>
		<li>预约药店：{$array.0.HOS_NAME}</li>
		<li>药店地址：{$array.0.HOS_ADDRESS}</li>
		<li>联系电话：{$array.0.HOS_PHONE}</li>
		<li>订单价格：<span>{$array.0.ORDER_MONEY}元</span></li>
	</ul>
</body>
</html>