h1{ height: 0; width: 100%; display: none;}
.hezuoBox{ background-color: #f6f6f6; padding-bottom: 5px; position: relative;}
.hezuoBox h2{ height: 40px; font-size: 16px; line-height: 30px; padding: 10px 10px 0; background-color: #fff; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.ui-search{ background-color: #fff;}
.ui-search .ui-searchtxt input{ background-color: #eee; border:0;}
.ui-search input.ui-btn-search{ background-color: #ff6600;}
.shengShiXian{ width: 100%; height: 40px; border-top:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; background-color: #fff; }
.shengShiXian .sear{ display:block; width: 33.33%; height: 40px; line-height: 40px; text-align: center; float: left; border-right: 1px solid #e8e8e8; padding: 0 20px; -webkit-box-sizing:border-box;box-sizing:border-box;}
.shengShiXian .sear span{ display: block; width: 100%; height: 100%; text-align: center; position: relative;}
.shengShiXian .sear span i{ display: block; position: absolute; top: 15px; right:10px; width:12px; height: 10px;background: url(/weixin/Public/Member/images/icon/down.png) no-repeat center;  }
.shengShiXian .sear .tiaojian{   background: #fff;   border-bottom: 1px solid #e3e3e3;   display: none;   height: auto;   left: 0;   padding-top: 1px;   position: absolute;   top: 95px;   width: 100%;    z-index: 10000;}
.shengShiXian .sear .tiaojian a{ display: block; color: #333; height: 50px; line-height: 50px; padding-left: 20px; border-top: 1px solid  #e3e3e3;}
.shengShiXian ul.shengShiXianXuanZe{ position: absolute; top: 97px; left: 0; width: 100%; z-index: 100; background-color: #fff; padding-bottom: 20px;}
.shengShiXian ul.shengShiXianXuanZe li{ width: 100%; height: 40px; line-height: 40px; text-align: center;}
.hezuoHos{ width: 100%; height: auto; padding: 10px 10px 10px 130px; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; position: relative;  background-color: #fff;-webkit-box-sizing:border-box;box-sizing:border-box;}
.hezuoHos img{ position: absolute; left: 10px; top: 10px; width: 110px; max-height: 65px; border-radius: 5px; }
.hezuoHos p{ line-height: 24px; font-size: 14px;  text-overflow:ellipsis;white-space:nowrap;overflow:hidden; width: 100%;}
.toHos{ display: block; position: absolute; left: 0; top: 0; bottom: 0; right: 0; z-index: 100;}
.hezuoBox ul.hezuoBoxList{ width: 100%; height: 190px; padding: 10px 10px 20px; background-color: #fff; -webkit-box-sizing:border-box;box-sizing:border-box;}
.hezuoBox ul.hezuoBoxList li{ width: 25%; height: 80px; line-height: 40px; display:inline-block; text-align: center; float: left; padding-bottom: 40px; position: relative; -webkit-box-sizing:border-box;box-sizing:border-box;}
.hezuoBox ul.hezuoBoxList li span{ position: absolute; left: 50%; margin-left: -20px; top:40px; width: 40px; height: 40px; border-radius: 20px; background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) no-repeat; }
.hezuoBox ul.hezuoBoxList li span.ktyw1{ background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png);}
.hezuoBox ul.hezuoBoxList li span.ktyw2{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -100px;}
.hezuoBox ul.hezuoBoxList li span.ktyw4{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -200px; }
.hezuoBox ul.hezuoBoxList li span.ktyw6{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -300px; }
.hezuoBox ul.hezuoBoxList li span.ktyw3{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -400px; }
.hezuoBox ul.hezuoBoxList li span.ktyw5{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -500px; }
.hezuoBox ul.hezuoBoxList li span.ktyw7{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -600px; }
.hezuoBox ul.hezuoBoxList li span.on{ background-color: #ff647c;}

.hezuoKeShiBox{ padding:20px 10px; width: 100%; -webkit-box-sizing:border-box;box-sizing:border-box;}
.hezuoKeShiBox ul{ border-bottom: 1px solid #dedede;}


.shengShiXianXuanZe{ display: none;}
.hezuoKeShiBox ul li table{ border-bottom: 0;}
.hezuoKeShiBox ul li:last-child table{ border-bottom: 1px;}

table{ font-size: 12px;}
table td,table th{ line-height:30px; color:#666; }
table th{ background:#ededed;}

tr th.keshiL{ position: relative; width:60px; background-color:#fff; padding-top:50px; -webkit-box-sizing:border-box;box-sizing:border-box;}
th span{ display: block; width: 40px; height: 40px; border-radius: 20px; position:absolute; left:50%; margin-left:-20px; top:30px; background:#ccc url(/weixin/Public/Member/images/hezuo/icon_yan01.png) no-repeat center; background-size: 40px;}
th span.ktyw1{ background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png);}
th span.ktyw2{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -100px;}
th span.ktyw4{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -200px; }
th span.ktyw6{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -300px; }
th span.ktyw3{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -400px; }
th span.ktyw5{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -500px; }
th span.ktyw7{background:#ccc url(/weixin/Public/Member/images/hezuo/iconKeshi.png) 0 -600px; }
th span.on{ background-color: #ff647c;}
th h3 b{ position: absolute; display: block; top: 50%; text-align: center; width: 100%; margin-top: 20px;}