<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="为您和您的家人获取最高10万元大病保障金">
    <meta name="keywords" content="E倍爱眼卡">
	<title>E倍爱眼卡意外保障</title>
	<link rel="stylesheet" type="text/css" href="/weixin/Public/Member/css/baoxian-zt.css">
  <script type="text/javascript" src="/weixin/Public/Member/js/remControl.js"></script>
</head>
<body style="background: #b6f6ff;position:relative;">
	<div class="bni-box e-box">
		<ul class="bni-intro">
			<li class="e-one" style="margin-bottom: .6rem;">
				<div class="e-title1">
					<img src="/weixin/Public/Member/images/baoxian-zt/E-01-title.png">
				</div>
				<img src="/weixin/Public/Member/images/baoxian-zt/E-01.png" style="width:100%;" alt="">
			</li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/E-02.png" alt=""></li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/E-03.png" alt=""></li>
			<li><img src="/weixin/Public/Member/images/baoxian-zt/E-04.png" alt=""></li>
		</ul>
	</div>
	<div class="binvited-btn-box e-btn-box">
			<a href="javascript:;" class="left-btn">马上购买</a>
	</div>
</body>
</html>