<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>提现规则</title>
<link rel="stylesheet" href="/weixin/Public/Expert/css/user/wenzhengz.css">
<script>
	document.getElementsByTagName("html")[0].style.fontSize= document.documentElement.clientWidth / 16 + "px";
</script>
</head>
<body>
	<h1 class="title">联盟医生提现规则</h1>
	<div class="main">
		<b>Q:</b><h2>联盟医生问诊功能使用指南</h2>
	</div>
    <div class="main">
		<b class="aa">A:</b><h2>联盟医生问诊包含四大功能</h2>
        <p>于苹果的整体体验设计理念全面解析，加入了大量对品牌传播的理解。什么样的设计能被称为伟大，这样的设计如何达成，这本书都给出了答案 。
“真正的好设计对于使用者来说就像空气一样，因为它确实有用。精良的设计是为客户定义并维持良好体验的连接机制，能否意识到这一点对企业的未来至关重要。</p>
<p>设计是我们生活中如此基本的一部分，我们无时无刻都在享受着为我们而设计的体验。”</p>
	</div>
     <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>