<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="share-title" content="">
    <title>我的申请记录</title>
    <link href="/weixin/Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/chufang/cf_lst.min.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/10 + 'px';
    </script>
    <style>
        .cLeft{width:9rem;}
        .clearfix:after{content: ''; display: block; clear: both;}
        section.unit header h2{font-weight: bold;}
        .ctxt{width: 8.6rem; padding: 0 0.2rem;}
        .go{border: 1px solid #ff647c; border-radius: 6px;}
        .ui-icon-arrow{color: #ff647c;}
        .ctxt p{line-height:20px; padding-bottom: 5px;}
        section .ctxt strong{float: left; width: 2.6rem;}
        .ctxt em{float: left; width: 6rem;}
        .ui-jiazai{height: 30px; text-align: center; line-height: 30px; margin-bottom: 30px;}
        .ui-jiazai a{color: #999;}
    </style>
    <link href="__PUBLIC__/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet">
</head>
<body class="grey">
    <header>
        <a class="ui-icon-prev" href="javascript:history.go(-1)"></a>
        <h2 class="text-center">我的申请记录</h2>
    </header>
    <div class="chufang_list" id="ss_list">
        <!--<volist name="ss_list" id="ss" empty="暂时没有数据">
            <section class="unit">
                <header class="box">
                    <h2>{$ss.PROJECT_NAME}</h2>
                    <p class="text-right"><span class="warn">
                    <if condition="$ss['CHECK_FLAG'] eq '0'">
                    待审
                    <elseif condition="$ss['CHECK_FLAG'] eq '1'"/>
                    通过
                    <else/>
                    拒绝
                    </if>
                    </span></p>
                </header>
                <div class="ct box">
                    <div class="cLeft box">
                        <div class="ctxt">
                            <p class="clearfix"><strong>医院名称：</strong><em>{$ss.HOS_NAME}</em></p>
                            <p class="clearfix"><strong>医院地址：</strong><em>{$ss.HOS_ADDRESS}</em></p>
                            <p class="clearfix"><strong>描述：</strong>
                                <if condition="$ss['CHECK_DESC'] eq ''">
                                    <em>暂无</em>
                                <else />
                                    <em>{$ss.CHECK_DESC}</em>
                                </if>
                            </p>
                            <p class="clearfix"><strong>申请时间：</strong><em>{$ss.APPLY_DATE}</em></p>
                            <p class="clearfix"><strong>手术时间：</strong><em>{$ss.QD_DATE}</em></p>
                            <p class="clearfix"><strong>审核时间：</strong><em>{$ss.CHECK_DATE}</em></p>
                        </div>
                    </div>
                </div>
            </section> 
        </volist>-->
    </div>
    <div class="ui-jiazai">
        <a href="javascript:void(0);" onclick="load_more();"></a>
    </div>
    <div id="emptyData"></div>
   <div id="current_pagenum" style="display:none">1</div>

   <!--Js库文件--> 
    <script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
   <!--加载更多-->
    <script src="/weixin/Public/Common/js/load.js " type="text/javascript"></script> 
<script>

    var onOff = true;
    window.onload = function(){
        window.onscroll();
    }
    window.onscroll = function()
    {
        load_more('.chufang_list');
    }

    function load_more(obj)
    {   
        if(!onOff) return;
        if($(obj).height()+$('header').outerHeight() <= $(document).scrollTop() + $(window).height())
        {
            onOff = !onOff;
            loadmore('#current_pagenum','/weixin/index.php?m=Expert&c=Declare&a=myapply_list_append','#ss_list',function(){
                $('.empty_data').css({'top':0,'z-index':-1});
            });
        }
    }

    function ajaxsear()
    {
        var name = $("#search").val();
        location.href="/weixin/index.php?m=Expert&c=Declare&a=cf_list&name="+name;
    }
</script>
</body>
</html>