<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >

<!--CSS库文件-->

<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer_v2.min.css" type="text/css" rel="stylesheet"/>

<!--CSS当前页面文件-->

<link href="/weixin/Public/Expert/css/index/portal.min.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Member/css/index/weiguanwang.min.css" type="text/css" rel="stylesheet"/>

<!-- title -->

<title>微官网</title>

<!--meta-->

</head>

<body class="ui-mobile-viewport ui-overlay-c" style="background:rgb(240, 240, 240);" >
<div  id="gp-experts"  class="ui-page ui-body-c ui-page-active" style="min-height: 480px;position:inherit;">
        <div data-role="content" class="ui-content" role="main">
                <div class="head">
                        <ul>
                                <li><a  href="{:U('Member/Index/index')}">
                                        <p><img src="/weixin/Application/Member/View/images/weiguanwang/head1_2.png" width="35px" height="35px"></p>
                                        <p class=" mat_10 font14">官网首页</p>
                                        </a></li>
                                <li><a href="{:U('Member/Hos/hos_list')}">
                                        <p><img src="/weixin/Application/Member/View/images/weiguanwang/head2.png" width="35px" height="35px"></p>
                                        <p class=" mat_10 font14">快速办理</p>
                                        </a></li>
                                        
                                <li><a class="curr" href="{:U('Member/Index/index_rmwt')}" >
                                        <p><img src="/weixin/Application/Member/View/images/weiguanwang/head3_3.png" width="35px" height="35px"></p>
                                        <p class=" mat_10 font14">帮助中心</p>
                                        </a></li>
                        </ul>
                </div>
                <div class="experts" style=" background:#fff;">
                        <div class="head_ul">
                                <li class="curr"><a href="#">咨询</a></li>
                                <li><a href="#">阅片</a></li>
                                <li><a href="#">会诊</a></li>
                                
                                <!--                <li><a href="#">新手</a></li>

--> </div>
                        <div class="qiehuan">
                                <div class="tabCon xianshi">
                                        <ul>
                                                <li class="QAndA">
                                                        <h3>1.你们可以提供哪些咨询方式？</h3>
                                                        <p>我们能为您提供3种咨询方式：在线咨询、视频咨询和电话咨询。</p>
                                                </li>
                                                <li class="QAndA">
                                                        <h3>2.如何进行在线咨询、视频咨询和电话咨询？</h3>
                                                        <p>点击“远程门诊”在弹出的菜单中选择“医生咨询”在医生列表选择“在线咨询”即可进行在线咨询。或进入微官网，点击“官网首页”即可找到“在线咨询”。
                                                                视频咨询和电话咨询：视频咨询和电话咨询均属于预约服务，需要提前预约，按照预约时间进行视频咨询和电话咨询。 </p>
                                                </li>
                                                <li class="QAndA">
                                                        <h3>3.你们提供的咨询方式都是收费项目吗，是如何收费的？</h3>
                                                        <p>在线咨询目前属于免费项目。<br>
                                                                视频咨询和电话咨询均属于收费项目，都是按照专家医生的实际收费标准进行收费的。（具体金额请在专家页面内查询。）</p>
                                                </li>
                                        </ul>
                                </div>
                                <div class="tabCon">
                                        <ul>
                                                <li class="QAndA">
                                                        <h3>1.什么是远程阅片？</h3>
                                                        <p>患者通过心脑血管微信患者端或心脑血管专科专病网站，将医学影像资料上传给远程中心专家及医疗机构，心脑血管专家对上传的影像资料进行病情分析，并给出诊断方案及治疗指导意见 。</p>
                                                </li>
                                                <li class="QAndA">
                                                        <h3>2.如何进行远程阅片？</h3>
                                                        <p>点击“远程门诊”在弹出的菜单中选择“心电阅片”，在医院列表里选择“心电阅片”服务，线上填写资料并提交订单，按照预约时间按时去基地医院检查阅片，远程会诊专家通过患者影像资料进行病情分析及诊断，基地医生及患者等待诊断结果，阅片完毕</p>
                                                </li>
                                                <li class="QAndA">
                                                        <h3>3.远程阅片如何收费？</h3>
                                                        <p>远程阅片是按照专家医生的实际收费标准进行收费的。（具体金额请在专家页面内查询。）</p>
                                                </li>
                                        </ul>
                                </div>
                                <div class="tabCon">
                                        <ul>
                                                <li class="QAndA">
                                                        <h3>1.什么是远程会诊？</h3>
                                                        <p>心脑血管远程会诊是利用计算机、通讯及网络技术，建立的心脑血管远程会诊系统，通过远程会诊系统，心脑血管专家、基地医生可与患者远程在线实时动态地交流，专家通过患者阐述身体症状及查阅基地医院上传的心脑血管疾病影像资料，对患者病情进行分析，并给出诊断方案及治疗指导意见
</p>
                                                </li>
                                                <li class="QAndA">
                                                        <h3>2.如何进行远程会诊？</h3>
                                                        <p>点击“远程门诊”，在弹出的菜单中选择“会诊医院”进入医院列表选择“远程会诊”服务，线上填写资料并提交订单，耐心等待客服与患者联系，安排患者会诊前相关检查，选择远程会诊日期，会诊当日给出诊断结果。</p>
                                                </li>
                                                <li class="QAndA">
                                                        <h3>3.远程会诊如何收费？</h3>
                                                        <p>远程会诊是按照专家医生的实际收费标准进行收费的。（具体金额请在专家页面内查询）。</p>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                        <div class="hot_foot">
                                <p>如有其他问题，请点击免费咨询，<br>
                                        咨询专家！</p>
                                <a href="{:U('Member/Doc/doc_list')}">免费咨询</a> </div>
                </div>
        </div>
        
        <!-- analytics code --> 
        
</div>
<include file="Public:footer_fd" /> 
<script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
<script>

var over_footer = '1';

</script> 
<script>

  $(function(){ 

  $('.head_ul li').click(function(){

        $(this).addClass('curr').siblings().removeClass('curr');

        var ww=$(this).index();

        $('.qiehuan>div').eq(ww).addClass('xianshi').siblings().removeClass('xianshi');

        });

  

  

        $('.tabCon li h3').click(function(){

        	$(this).parent('li').siblings().children('p').slideUp();

			$(this).parent('li').siblings().children('h3').removeClass('bg');

            if($(this).siblings('p').is(':visible')){

                $(this).removeClass('bg');

                $(this).siblings('p').slideUp();

                }else{

                $(this).addClass('bg');

                $(this).siblings('p').slideDown();  

                    }

            })

})



  </script> 
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
<div style="height:0px;overflow:hidden;">
        <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?>
</div>
</body>
</html>