<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >

<!--CSS库文件-->

<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer_v2.min.css" type="text/css" rel="stylesheet"/>

<!--CSS当前页面文件-->

<link href="/weixin/Public/Expert/css/index/portal.min.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Member/css/index/weiguanwang.min.css" type="text/css" rel="stylesheet"/>

<!-- title -->

<title>微官网</title>

<!--meta-->

</head>

<body class="ui-mobile-viewport ui-overlay-c" style="background:rgb(240, 240, 240);" >
<div  id="gp-experts"  class="ui-page ui-body-c ui-page-active" style="min-height: 480px;position:inherit;">
        <div data-role="content" class="ui-content" role="main">
                <div class="head">
                        <ul>
                                <li><a  href="{:U('Member/Index/index')}">
                                        <p><img src="/weixin/Application/Member/View/images/weiguanwang/head1_2.png" width="35px" height="35px"></p>
                                        <p class=" mat_10 font14">官网首页</p>
                                        </a></li>
                                <li><a class="curr" href="{:U('Member/Hos/hos_list')}">
                                        <p><img src="/weixin/Application/Member/View/images/weiguanwang/head2_2.png" width="35px" height="35px"></p>
                                        <p class=" mat_10 font14">快速办理</p>
                                        </a></li>
                                <li><a href="{:U('Member/Index/index_rmwt')}">
                                        <p><img src="/weixin/Application/Member/View/images/weiguanwang/head3.png" width="35px" height="35px"></p>
                                        <p class=" mat_10 font14">帮助中心</p>
                                        </a></li>
                        </ul>
                </div>
                <div class="experts">
                        <ul class="switch_con">
                                <ul class="index_list">
                                        <li>
                                                <div class="index_list_box"> <a href="/yuyueguahao/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico1_1.png"  /></p>
                                                                <p>按医院挂号</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/orederByDiseaseList.php">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico2.png"  /></p>
                                                                <p>按疾病挂号</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/shoushuzhuyuan/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico4.png"  /></p>
                                                                <p>预约手术住院</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/shipinhuizhen/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico6.png"  /></p>
                                                                <p>预约视频会诊</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/ychz/ychzzx/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico8.png"  /></p>
                                                                <p>会诊中心</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/ychz/ychzjd/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico9.png"  /></p>
                                                                <p>会诊基地</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/yuanchengyuepian/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico1_3.png"  /></p>
                                                                <p>预约远程阅片</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="{:U('Member/Doc/doc_list')}">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico11.png"  /></p>
                                                                <p>在线咨询</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/yydh/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico12.png"  /></p>
                                                                <p>预约电话咨询</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/shipinzixun/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico10.png"  /></p>
                                                                <p>预约视频咨询</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/daoyipeitong/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico1_2.png"  /></p>
                                                                <p>预约眼科陪诊</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/card/">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico5.png"  /></p>
                                                                <p>会员卡</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="/kno.php">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico14.png"  /></p>
                                                                <p>眼病知识</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="{:U('Member/Doc/doc_list')}">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico16.png"  /></p>
                                                                <p>问答中心</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <li>
                                                <div class="index_list_box"> <a href="{:U('Member/User/user_info')}">
                                                        <div class="index_list_img">
                                                                <p><img src="/weixin/Application/Member/View/images/weiguanwang/ico17.png"  /></p>
                                                                <p>会员中心</p>
                                                        </div>
                                                        </a> </div>
                                        </li>
                                        <div class="clearfix"></div>
                                </ul>
                        </ul>
                </div>
        </div>
        
        <!-- analytics code --> 
        
</div>
<div style=" height:60px;"></div>
<include file="Public:footer_fd" /> 
<script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
<script>

var over_footer = '1';

</script> 
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
<div style="height:0px;overflow:hidden;">
        <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?>
</div>
</body>
</html>