<volist name="cf_list" id="cf">
<li>
	<a class="list_img" href="{:U('Member/Cf/cf_detail',array('record_id'=>$cf['RECORD_ID'],'order_status'=>$cf['ORDER_STATUS'],'cf_pic'=>$cf['CF_PIC']))}"><img src="{$cf['CF_PIC']}" width="40px" height="40px" /></a>
    <div class="list_txt">
        <h3><span>{$cf['EXPERT_NAME']}<b></b></span></h3>
        <p><a href="{:U('Member/Cf/cf_detail',array('record_id'=>$cf['RECORD_ID'],'order_status'=>$cf['ORDER_STATUS'],'cf_pic'=>$cf['CF_PIC']))}">{$cf['CF_CONTENT']}</p></a>
        <h4><span>处方状态：{$cf['ORDER_STATUS']}</span><time>{$cf['CREATE_DATE']}</time></h4>
    </div>
    <a class="list_right" href="{:U('Member/Cf/cf_detail',array('record_id'=>$cf['RECORD_ID'],'order_status'=>$cf['ORDER_STATUS'],'cf_pic'=>$cf['CF_PIC']))}"></a>
</li>∮
</volist>


















