<!doctype html>
<html>
<head>
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Expires" content="-1" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<title>无标题文档</title>
</head>
<link href="/weixin/Public/Home/css/kalist.css" type="text/css" rel="stylesheet" >
<body>
<ul class="list">
	<li>
    	<a href="#">
        <div class="img"><img src="/weixin/Public/Home/images/yonghu/123.jpg"></div>
        	
            <div class="con">
            	<h2>12月6日 山东、安徽多地药店筛查活动火热进行中</h2>
                <p>山东漱玉平民大药房董家镇店筛查活动火热进行中
</p>
                <span>2016-12-06</span>
            </div>
        </a>
    </li>
    
</ul>
</body>
</html>
