<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">

<!--CSS库文件-->

<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="/weixin/Public/Common/css/commonFooter/footer_v2.min.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet"/>

<!--CSS当前页面文件-->

<link href="/weixin/Public/Member/css/dingdan.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Member/css/personalCenter.min.css" type="text/css" rel="stylesheet"/>
<title>百倍爱心助手成果</title>
</head>

<body style=" background:#fff">
<div id="J_Account_Info" class="gp GJ_Gp g-items gp-profile"  style=" background:#fff">
    <div style="text-align:center; font-size: 12px;margin:8 10;line-height: 25px;color: #eb5376">此功能只显示在“百倍爱心助手”提交的会员信息
</div>
    <div class="diandan_list">
        <ul id="bz_list">
            <volist name="bz_list" id="list"> 
                <li> 
                    <h2>姓名：{$list['PERSON_NAME']}</h2>
                    <i class="tongguo" style="line-height: 40px">状态： 
                        <if condition="$list[CHECK_FLAG] eq '0'">
                            待审
                        <elseif condition="$list[CHECK_FLAG] eq '1'"/>
                            成功 
                        <else />
                            拒绝
                            <br/>
                        </if>
                    </i>
                    <h2>身份证号：{$list.PERSON_IDCARD|substr=0,4}***{$list.PERSON_IDCARD|substr=-4}</h2>
                    <h2>手机号：{$list['PERSON_MOBILE']}</h2> 
                    <if condition="$list[CHECK_DESC]"><div style="float: right;color:#ff6600;font-size: 12px;max-width: 40%";>拒绝理由：{$list[CHECK_DESC]}</div></if>
                    <h2>时间：{$list['CREATE_DATE']}</h2>             
                </li>
            </volist>
        </ul>
    </div>
</div>
<div class="ui-jiazai" ><a style=" border-top:0px;" href="javascript:void(0);" onClick="load_more();">加载更多</a></div>
<div id="current_pagenum" style="display:none">2</div>
<!--通底的引用开始--> 

<include file="Public:footer_fd" /> 
<script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
<script src="/weixin/Public/Common/js/load.js" type="text/javascript"></script>
<script>

	var onOff = true;
    window.onload = function(){
        window.onscroll();
    }
    window.onscroll = function(){
        load_more('#bz_list');
    }

  
    function load_more(obj)
    {   
        if(!onOff) return;
        if($(obj).height() <= $(document).scrollTop() + document.body.clientHeight){
            onOff = !onOff;
            loadmore('#current_pagenum','/weixin/index.php?m=Home&c=BaoZ&a=bz_list_append','#bz_list',function(){
                $('.empty_data').css({'top':0,'z-index':-1});
            });
        }
    }   

</script> 

<!--通底的引用结束--> 
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
<div style="height:0px;overflow:hidden;">
        <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?>
</div>
</body>
</html>