<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<link rel="stylesheet" href="/weixin/Public/Member/css/follow/index.css">
<!-- title -->

<title>引导</title>

<!--meta-->

</head>

<body>
<div class="yindao" style=" position:relative;"><img src="/weixin/Application/Member/View/images/follow/yindao1.png"><img src="/weixin/Application/Member/View/images/follow/saoma.png" style=" position:absolute; top:19.8%; left:30%; width:40%;"> <img src="/weixin/Application/Member/View/images/follow/yindao2.png"> <img src="/weixin/Application/Member/View/images/follow/yindao3.png"></div>
<!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
<div style="height:0px;overflow:hidden;">
        <?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145768).'" width="0" height="0"/>';?>
</div>
</body>
</html>