<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>米补贴服务协议</title>
<style type="text/css">
body{ padding:1em; }
h1{ font-size: 1.8em; text-align: center; }
h3{ font-size: 1.5em; }
p{ text-indent: 2em; font-size: 1em; line-height: 1.6em;  }
</style>
</head>
<body>
<h1>阿米健康米补贴服务协议</h1>
<p>米补贴服务协议（以下简称“本协议”）是北京阿米金服科技有限公司（以下简称“本公司”或“米补贴”）与预付卡用户（以下简称“您”或“用户”或“持卡人”）就余米补贴服务相关事项所订立的有效合约。 <u>用户通过网络页面点击确认或以其他方式选择接受本协议，即表示您与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的已经发布或将来可能发布的各项规则、页面提示、操作流程、公告和通知（以下统称“本协议”）。 </u></p>
<p>在接受本协议之前， 请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作。</p>

<h3>一、释义</h3>
除本协议另有规定外，下列用语具有如下含义：<br>
1、阿米健康：阿米健康是一款会员应用工具型软件，主要为会员提供便利快捷的消费与查账功能，可随时随地的查看自己的入账、支出以及获的奖励的明细。<br>
2、主账户：是指远程集团与阿米健康给您发行的预付卡账户。包括实体卡片和无实际制卡的虚拟卡片；<br>
3、奖励金账户：是指根据您主账户的余额，远程集团与阿米健康给予您一定奖励金的账户；<br>
4、米补贴服务（阿米健康补贴卡）：指远程集团为跟您更好的合作，远程集团与阿米金服公司联合推出的针对基地医院、站点、医院专家、代理商等机构的结算资金进行奖励的产品。用户可以把远程会诊经营中的结算资金充值到米补贴账户，并享有一定比例的经营奖励金；<br>
5、身份认证要素：指在交易中本公司用于识别用户身份的信息要素，包括但不限于持卡人注册时设置的手机号码、短信校验服务、身份证信息等及本公司认可的其他要素；<br>

</p>
<h3>二、重要约定</h3>

	<u><strong>1、</strong>身份认证要素是本公司识别用户的依据，用户必须妥善保管，不得将身份认证要素提供给任何第三方或交于任何第三方使用。使用上述身份要素所发出的一切指令均视为用户本人所为，投资者应对此产生的后果负责。对非本公司原因造成的账户、密码等信息被冒用、盗用或非法使用，由此引起的一切风险、责任、损失、费用等应由用户自行承担。</u><br>
	<u><strong>2、</strong>您理解并同意本协议签订之日起，您并同意开通米补贴（补贴卡）账户。</u><br>
	3、如果您是个人用户，您向我们保证您已经年满16周岁，并具备完全民事行为能力。<br>
	4、您知晓并同意，本协议签订之日起，停止您原有结算及分账方式，结算日远程集团会把您的结算款自动充值到您的补贴卡账户，需您主动进行转出操作后方可进行打款至您的结算银行卡。<br>
	<strong>5、账户充值成功后，您可以根据情况进行自主转出，没有转出的金额部分享受一定比例的奖励金，且补贴卡里的充值金额和产生的奖励金金额可以在合作机构进行购药，医疗服务等消费（例如：药店、眼镜店、医院）。</strong><br>
	6、关于资金的转入（充值）和转出规则如下：<br>
	资金转入（充值）成功后的第二个工作日开始产生奖励金，第三个工作日可在APP上查看前一天奖励金（如遇节假日顺延） 。<br>
</p>
<h3>三、服务对象范围</h3>

	<strong>适用对象：包括远程集团合作下的基地医院、代理商、基地医院下的医疗站点、医师专家、药店等，且同意签订本协议的预付卡用户；</strong>

</p>
<h3><u>四、特别约定</u></h3>
	<u>
	因下列原因导致本公司无法正常提供服务，使您无法使用或无法正常使用各项服务时，本公司不承担任何损害赔偿责任，该状况包括但不限于： <br>	（一）本公司系统停机维护或升级期间。  <br>（二）因台风、地震、海啸、洪水、战争、雷电或恐怖袭击等不可抗力之因素，造成本公司系统不能正常执行业务的。<br>（三）您的电脑软硬件和通信线路、供电线路出现故障的；  <br>
	（四）您操作不当或通过非本公司授权或认可的方式使用本公司服务的；  <br>
	（五）因病毒、木马、恶意程序攻击、网络拥堵、系统不稳定、系统或设备故障、通讯故障、电力故障、银行原因 、第三方服务瑕疵或政府行为等原因，造成本服务中断或者延迟。  <br>
	（六）其他不可归因于阿米金服的原因。<br>
	</u>
 </p>
<h3>五、服务限制及终止</h3>  
您同意如您违反以下保证或发生相关情形，我们将有权限制或终止向您提供本协议项下的部分或全部服务。<br>
1、您保证，在我们为您提供服务期间，您向我们提供的所有资料和信息都是真实、完整、准确的并能够及时更新。为了保障为您提供有效完整的服务，您同意在我们发现您的身份存疑或涉嫌冒用他人身份信息时，有权基于保护您及（或）其他第三方合理利益的需要，要求您配合补全或更新相关身份信息及资料。
<br>
2、您保证，您不会授权他人使用我们的服务。比如您将使用本协议项下服务所需的载体，包括但不限于用于登录的账户、手机等披露或提供给其他人代替您操作、使用我们的服务。我们善意的提醒您，上述操作可能导致他人冒用您的身份使用本协议项下服务，因此给您造成损失或导致不良行为记录。<br>

3、若您提供任何不真实、不准确、不完整或过时的身份信息，或者本公司有合理理由怀疑您所提供的信息为不真实、不准确、不完整或过时的，本公司有权中止（或终止）向您提供服务，并拒绝您现在或未来使用本服务之各项服务之全部或部分功能，对此本公司不承担任何责任。同时，因此所产生的任何直接或间接的支出、损失、费用、处罚将由您来承担。若由于您未及时更新您的信息，而导致本服务无法提供或本服务的有关流程及操作发生任何错误，您不得以此为由取消交易、拒绝支付交易款项和服务手续费或采取其它不当行为，并将独立承担因此产生的所有责任和后果。<br>

4、如果我们认为您没有遵守本协议的约定，或者我们认为继续为您提供服务将会导致我们或第三方的合理利益受到损失。<br>

5、服务终止后，为了后续异议或纠纷处理及未来查询相关信息的需要，从而保障我们及您的合法权益，您同意在服务终止后，我们仍可继续保留您使用我们的服务期间形成的所有信息和数据，但我们不会再主动采集您的任何信息。<br>

</p>
<h3>六、关于通知</h3>
	1、关于本协议条款和其他协议、告示或其他有关您使用米补贴服务的通知，本公司将以电子形式或纸张形式通知您，包括但不限于依据您向本公司提供的电子邮件地址发送电子邮件的方式、于本公司网站或合作伙伴网站上公布、或发送手机短信和电话通知等方式。
	<strong>2、作为本协议服务的提供方，我们将根据国家法律、法规及其他规范性文件的规定变化，有权随时对本协议进行修改、增加、变更了新的服务类型或服务方式。同时，您同意未来我们可以通过我们或合作伙伴的网站、客户端或其他适当的地方进行公布的方式通知您，而不需要另行单独通知您协议发生变更。您在本协议内容公告变更后继续使用本服务，表示您已充分阅读、理解并接受变更后的协议内容；若您不同意修改后的协议内容，您应停止使用本服务。</strong>
</p>

<h3>七、服务费用</h3>
您知晓并同意，目前本服务不涉及任何服务费手续费，但本公司保留向您收取服务费、手续费的权利。一旦本公司确定收取或调整服务费、手续费的收取方式及标准，将以在本公司网站发布公告的方式通知您，而不再作个别通知。
</p>
<h3>八、一般规定</h3>
1、本协议与本网站上其他条款和规则的名词解释、意思理解，可互相引用参照，如有不同理解，应以本协议为准。本协议未做规定的，未约定的内容，双方需按照本网站其他相关的条款为准。  <br>
2、如果本协议条款中的部分条款被有管辖权的法院认定为违法，则并不影响其他条款的有效性。  <br>
3、本公司保有制定和单方随时修改包括但不限于上述规则的各项规则。所有规则均构成本协议的有效组成部分。新制定和经修改的规则将在本网站上进行公布，不做逐一通知。新制定和经修改的规则一旦公布则立即生效，且对生效前的投资者同样适用。  <br>
4、如果您就米补贴服务中所涉及相关事宜（包括但不限于支付、资金流转、米补贴账户安全、资金及补贴查询等）有任何疑问的，您可向当地经营人员或拨打客服热线咨询。<br>
</p>
<h3>九、法律适用</h3>

1、因本协议引起的或与本协议有关的争议，均适用中华人民共和国法律。  <br>
<strong><u>2 、因本协议引起的或与本协议有关的争议，本公司可与投资者协商解决。协商不成的，任何一方均有权提起诉讼，并以被告住所地人民法院为第一审管辖法院。</u></strong> 
</p>
</body>
</html>