<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>邀请我的专家</title>
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Member/css/eight.min.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/20 + 'px';
    </script>
</head>
<body>
    <section class="li">
        <div href="#" class="box">
            <div class="image"><img src="/weixin/Public/Member/images/first/baby.jpg" width="100%" /></div>
            <div class="text">
                <h2>刘冰</h2>
                <p><span>北京医院</span><strong>主任医师</strong></p>
            </div>
            <div class="links text-right"><a href="#1" class="text-center">接受</a></div>
            <a href="#" class="lks"></a>
        </div>
    </section>
    <section class="li">
        <div href="#" class="box">
            <div class="image"><img src="/weixin/Public/Member/images/first/baby.jpg" width="100%" /></div>
            <div class="text">
                <h2>刘冰</h2>
                <p><span>北京医院</span><strong>主任医师</strong></p>
            </div>
            <div class="links text-right"><a href="#1" class="text-center">接受</a></div>
            <a href="#" class="lks"></a>
        </div>
    </section>
    <section class="li">
        <div href="#" class="box">
            <div class="image"><img src="/weixin/Public/Member/images/first/baby.jpg" width="100%" /></div>
            <div class="text">
                <h2>刘冰</h2>
                <p><span>北京医院</span><strong>主任医师</strong></p>
            </div>
            <div class="links text-right"><a href="#1" class="text-center">接受</a></div>
            <a href="#" class="lks"></a>
        </div>
    </section>
    <section class="li">
        <div href="#" class="box">
            <div class="image"><img src="/weixin/Public/Member/images/first/baby.jpg" width="100%" /></div>
            <div class="text">
                <h2>刘冰</h2>
                <p><span>北京医院</span><strong>主任医师</strong></p>
            </div>
            <div class="links text-right"><a href="#1" class="text-center">接受</a></div>
            <a href="#" class="lks"></a>
        </div>
    </section>
</body>
</html>