<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>服务详情</title>
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Member/css/eight.min.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/20 + 'px';
    </script>
</head>
<body>
    <header>
        <img src="/weixin/Public/Member/images/eight/detail.jpg" width="100%" />
    </header>
    <section class="explain">
        <h2>服务说明</h2>
        <div class="ex-child">
            <p>每月2次私人家庭医生咨询会诊回访</p>
            <p class="grey"><i></i>时间： 每月初和月中</p>
            <p class="grey"><i></i>工具： 电话/APP患者端/机器人端远程进行</p>
            <p class="grey"><i></i>谁做： 心界会员管理中心</p>
            <p class="grey">流程：</p>
            <p class="grey">1.会员管理中心对通过电话对会员进行定期回访；</p>
            <p class="grey">2.会员管理中心对会员进行病理建议、用药提示、日常护理等回访；</p>
            <p class="grey">3.回访人员将每次会诊结果反馈至集团云平台。</p>
        </div>
    </section>
    <div class="yy clear">
        <a href="tel:4006562020" class="phone fl"></a>
        <a href="#" class="text-center yya fr">立即预约</a>
    </div>
</body>
</html>