<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>服务详情</title>
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Member/css/eight.min.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/20 + 'px';
    </script>
</head>
<body>
    <header>
        <img src="/weixin/Public/Member/images/eight/detail.jpg" width="100%" />
    </header>
    <section class="explain">
        <h2>服务说明</h2>
        <div class="ex-child">
            <p>一年内2次北京三甲医院专家预约挂号服务</p>
            <p class="grey"><i></i>时间： 提前10个工作日预约</p>
            <p class="grey"><i></i>工具： 患者终端/电话预约</p>
            <p class="grey"><i></i>谁做： 客服中心、（刘景红、王学杰、潘铭）</p>
            <p class="grey">流程：</p>
            <p class="grey">1.会员拨打400客服电话/患者终端设备申请预约挂号服务；</p>
            <p class="grey">2.客服跟资源建设部（刘景红、王学杰、潘铭）进行对接，确认挂号结果；</p>
            <p class="grey">3.客服人员确定挂号结果反馈至会员，在会员希望日期未挂号成功的，可协助挂其他的会员接受的日期/医院/专家；</p>
            <p class="grey">4.会员更改或取消挂号，需至少提前五个工作日反馈公司客服部，五个工作日内不接受取消或更改服务；</p>
            <p class="grey">5.挂号成功后，会员在对应日期来京就诊。</p>
        </div>
    </section>
    <div class="yy clear">
        <a href="tel:4006562020" class="phone fl"></a>
        <a href="#" class="text-center yya fr">立即预约</a>
    </div>
</body>
</html>