<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>服务详情</title>
    <link rel="stylesheet" href="/weixin/Public/Common/css/common/basic.css">
    <link rel="stylesheet" href="/weixin/Public/Member/css/eight.min.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/20 + 'px';
    </script>
</head>
<body>
    <header>
        <img src="/weixin/Public/Member/images/eight/detail.jpg" width="100%" />
    </header>
    <section class="explain">
        <h2>服务说明</h2>
        <div class="ex-child">
            <p>一年内2次专家健康评估和健康指导</p>
            <p class="grey"><i></i>时间： 提前3个工作日预约</p>
            <p class="grey"><i></i>工具： 健康一体机</p>
            <p class="grey"><i></i>谁做： 北京专家医生</p>
            <p class="grey">流程：</p>
            <p class="grey">1.会员在我公司投放一体机设备的基地医院或药店进行体检；</p>
            <p class="grey">2.会员体检结果将反馈至专家医生PAD端；</p>
            <p class="grey">3.专家医生根据会员体检的结果进行评估及健康指导；</p>
            <p class="grey">4.专家医生通过PAD端反馈至会员，会员在APP患者端、微信患者端查看。</p>
        </div>
    </section>
    <div class="yy clear">
        <a href="tel:4006562020" class="phone fl"></a>
        <a href="#" class="text-center yya fr">立即预约</a>
    </div>
</body>
</html>