<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta id="viewport" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="/weixin/Public/Member/css/consult/consult_state.css" type="text/css" rel="stylesheet"/>
<script>
	document.getElementsByTagName('html')[0].style.fontSize=document.documentElement.clientWidth/10 + "px";
</script>
<title>远程会诊</title>
</head>
<body>
	<div class="state">
		<img src="/weixin/Public/Expert/images/consult/icon_paid.png" alt="">
		<p>订单已支付</p>
	</div>
	<div class="content">
		<!-- 患者信息 -->
		<div class="patient">
			<div class="title">
				<h2>患者信息</h2>
				<a href="javascript:;">健康档案 ></a>
			</div>
			<p class="info">郝彤彤<span> 女 27 </span></p>
			<div class="mes">
				<p><span>详情:</span>发生的方式看附件是快递放假时看附件是快递费</p>
			</div>	
		</div>
		<!-- 发起医生 -->
		<div class="doctor">
			<h2 class="title">发起医生</h2>
			<div class="info">
				<div class="info-wrap clear">
					<img src="" alt="">
					<div class="mes">
						<p><span>李伟</span> 主任医师</p>
						<p>长阳县医院</p>
					</div>
				</div>	
			</div>
		</div>
		<!-- 参与医生 -->
		<div class="doctor">
			<h2 class="title">参与医生</h2>
			<div class="info">
				<div class="info-wrap clear">
					<img src="" alt="">
					<div class="mes">
						<p><span>李伟</span> 主任医师</p>
						<p>长阳县医院</p>
					</div>
				</div>	
			</div>
		</div>
		<div class="time">会诊时间：2016.10.23  13：00</div>
		<div class="price">会诊费用：<span>￥128元</span></div>
        <div class="state_con">
        	<a href="javascript:;" class="tongyi">返回</a>
            <a href="javascript:;">查看会诊报告</a>
        </div>
	</div>
</body>
</html>