<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>活动通知--点击报名</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBtn/btn.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/union/huoDongTongZhi.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="pad_15 mainCon">
        <div class="huoDongTongZhi_info">
                <h1> 2015年9月19日远程肝脏疾病精准诊疗技术平台中心在北京成立。 </h1>
                <div class="quarry"><span class="ui-icon-pin line_hei">&nbsp;</span><span class="address">西班牙（巴斯罗那）</span><span class="time">会议时间：2015-9-19</span></div>
                <input placeholder="请填写您的姓名" class="name">
                 <input placeholder="请填写您的手机号" class="phone">
                <div class=""> <a class="ui-btn-purchase-default" href="">确定</a> </div>
        </div>
</div>
<include file="Public:tj" /></body>
</html>