<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
   <!-- 暂无患者问诊 -->
    <div class="empty_data" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" /> 
            </div>
            <p style="text-align:center;font-size:16px;">暂无患者问诊</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 您没有接收记录 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-40px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">暂无患者问诊</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 暂无公告 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-80px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">暂无公告</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 暂无结薪记录 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-120px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">暂无结薪记录</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 银行卡有误 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-160px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">银行卡有误</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 没有收藏的医生 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-200px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">没有收藏的医生</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 没有收藏的医院 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-240px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">没有收藏的医院</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
    <!-- 没有阅片记录 -->
    <div class="empty_data2" style="width: 100%;height: 100%;display: box;display: -webkit-box;-webkit-box-pack: center;-webkit-box-align: center;position:absolute;top:0;left:0;right:0;bottom:0;display:none;">
        <div>
            <div style="text-align:center;width:50px;height:50px;margin:0 auto;overflow:hidden;margin-bottom:10px;"> 
                <img src="/weixin/Public/Common/images/icon/empty.png" width="100%" style="margin-top:-280px;" /> 
            </div>
            <p style="text-align:center;font-size:16px;">没有阅片记录</p>
            <br>
            <!--<a href="javascript:history.go(-1);" style="color:#fff;background:#ff7f35;display:block;width:100%;height:30px;line-height:30px;text-align:center;border-radius:3px;">返回上一步</a>-->
            </div>
    </div>
</body>

</html>