<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>各省联盟-各省联盟介绍详细页</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonLabel/label.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonTable/table.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/union/geShengLianMeng.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="Tab_CaiDan"> <a href="#">活动通知</a> <a href="#" class="curr">各省联盟介绍</a>
        <div class="clear"></div>
</div>
<div class="pad_15 mainCon">
        <div class="geShengLianMeng_info">
                <h1> 2015年9月19日远程肝脏疾病精准诊疗技术平台中心在北京成立。 </h1>
                <div class="quarry"><span>2015-9-19</span><span class="ower">亚太肝病联盟</span></div>
                <img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg" title="" alt=""/>
                <table class="ui-table ui-border-tb" cellspacing="5" cellpadding="5">
                        <tbody>
                                <tr>
                                        <td>成员人数：</td>
                                        <td>999</td>
                                </tr>
                                <tr>
                                        <td>成立时间：</td>
                                        <td>2015.09.19</td>
                                </tr>
                        </tbody>
                </table>
                <p>2015年10月31日 在甘肃省天水市第一人民医院召开了“北京亚太肝病诊疗技术联盟甘肃省联盟成立大会“。天水市相关领导参加了会议，并对会议将产生的医疗和社会价值给予了高度评价。</p>
        </div>
</div>
<include file="Public:tj" /></body>
</html>