<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>公益慈善详细页</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/union/gongYiCiShan.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="pad_15 mainCon">
        <div class="huoDongTongZhi_info">
                <h1> 2015年9月19日远程肝脏疾病精准诊疗技术平台中心在北京成立。 </h1>
                <div class="quarry"><span class="time">2015-9-19</span></div>
                <p>由成都市慈善总会、四川华西肝病研究所主办、华西传媒集群协办的“成都市慈善总会·华西肝病研究所肝健康专项基金”项目启动新闻发布会于2015年11月8日在成都召开。
                        
                        “马云乡村教师奖候选人”黄全清成为该基金的首位获益者。黄全清，是宜宾珙县红沙村小的一名普通山村教师，任教已经有20余年，7年前，他检查出身患肝硬化，但他为了不耽误学生的学习进程，依旧风雨无阻地给学生上课，一天都不曾离开过教师岗位。
                        
                        为了援助像黄全清一样对社会做出突出贡献的肝病患者（劳模、烈士军属等）、“因病致贫”的肝病家庭（低保户、五保户、农村无社保供养人员、优抚对象等）、特殊肝病患者（残疾智障人士等），“成都市慈善总会·华西肝病研究所肝健康专项基金”成立。即刻起，需要援助的肝病人群可向基金单位提交申请，申请专线：028-65859999。</p>
                <p><img src="../../../../Public/Expert/images/geShengLianMeng/img1.jpg" title="" alt=""/></p> </div>
</div>
<include file="Public:tj" /></body>
</html>