<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>肝病学院-合作申请</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBtn/btn.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/college/heZuoShenQing.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="line"></div>
<div class="pad_15 mainCon">
        <div class="pad_15"> <a class="ui-btn-purchase-default" href="">点击下载</a> </div>
        <div class="shenqing">
        <img src="/weixin/Public/Expert/images/ganBingXueYuan/shenqing.jpg">
        <img src="/weixin/Public/Expert/images/ganBingXueYuan/shenqing2.jpg">
        <img src="/weixin/Public/Expert/images/ganBingXueYuan/shenqing3.jpg">
        <img src="/weixin/Public/Expert/images/ganBingXueYuan/shenqing4.jpg">
        <img src="/weixin/Public/Expert/images/ganBingXueYuan/shenqing5.jpg">
        <img src="/weixin/Public/Expert/images/ganBingXueYuan/shenqing6.jpg">
        </div>
</div>
<div class="pad_15"> <a class="ui-btn-purchase-default" href="">点击下载</a> </div>
<include file="Public:tj" /></body>
</html>