<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>活动通知</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/union/huoDongTongZhi.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="title mainCon"> <span class="left"></span>
        <h1>活动预告</h1>
</div>
<div class="pad_15 pad_top">
        <ul class="hdtz_list">
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span class="ui-icon-pin"></span><span class="diZhi">日本东日本东京京</span><span>2016.2.19-25</span></div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
        </ul>
</div>
<div class="title"> <span class="left"></span>
        <h1>往期回顾</h1>
</div>
<div class="pad_15">
        <ul class="hdtz_list">
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
                <li> <a href="#" class="pic"><img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg"></a>
                        <div class="lm_right">
                                <h2><a href="#">2016年第25届亚太肝病研究协会肝病大会(APASL)于2016.2.20-24在日本东京召开</a> </h2>
                                <div class="time"> <span>2016.2.19-25</span><span class="ui-icon-pin"></span><span>日本东京</span> </div>
                        </div>
                </li>
        </ul>
        <div class="ui-jiazai"><a href="javascript:void(0);" onClick="load_more();">加载更多</a></div>
</div>
<include file="Public:tj" /></body>
</html>