<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<link href="/weixin/Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Expert/css/xiaoxi.css" type="text/css" rel="stylesheet"/>
<title>我的消息</title>
</head>
<body  style="background:#e7e7e7;">
<div class="xiaoxi_list">
	<div class="xiaoxi_info">
    	<span>10月24号</span>
        <div class="xiangq chakan_xq">
        	<b></b>
            <a>您的软件需要全面的升级，请尽快升级</a>
        </div>
        <div class="xiangq">
        	<b></b>
            <a>您的软件需要全面的升级，请尽快升级</a>
        </div>
    </div>
    <div class="xiaoxi_info">
    	<span>10月24号</span>
        <div class="xiangq chakan_xq">
        	<b></b>
            <a>您的软件需要全面的升级，请尽快升级</a>
        </div>
        <div class="xiangq">
        	<b></b>
            <a>您的软件需要全面的升级，请尽快升级</a>
        </div>
    </div>
</div>
</body>
</html>