<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>学术动态详细页</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonLabel/label.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonTable/table.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/ceses/xueShuDongTai.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="pad_15 mainCon">
        <div class="geShengLianMeng_info">
                <h1> 2015年9月19日远程肝脏疾病精准诊疗技术平台中心在北京成立。 </h1>
                <div class="quarry"><span class="ower">2015-9-19</span></div>
                <img src="/weixin/Public/Expert/images/geShengLianMeng/img1.jpg" title="" alt=""/>
                <h3>流行病学</h3>
                <p>中国第一个全口服药物治疗丙型肝炎的三期临床注册研究成功于今年完成。其研究结果在近日举办的美国肝病年会上发布。 参与研究的患者都是亚洲非日本（中国大陆、韩国、中国台湾）人群，他们感染了基因 1b 型丙肝病毒，而且对于干扰素治疗不耐受或无应答。
                        这些患者在接受 24 周的 Daclatasvir （DCV）（盐酸达拉他韦片）和 Asunaprevir（ASV）（阿舒瑞韦软胶囊）联合治疗后停药，并接受 24 周的停药后跟踪随访和观察，以了解联合治疗方案的疗效和安全性。Daclatasvir（DCV） 和 Asunaprevir （ASV） 是由百时美施贵宝研发的口服抗丙肝病毒治疗药物。 
                        停药后的第 12 周，在接受 DCV 和 ASV 的全口服药物联合治疗的患者中，91-99% 的患者可获得持续的病毒学应答。 无论有无肝硬化，患者都展现了对治疗药物的良好的耐受力。 由于研究结果突出，该研究结果被接受在本届美国肝病年会上发表。
                        虽然在发达国家全口服抗病毒药物治疗丙肝已经被广泛应用于临床，但在中国聚乙二醇化干扰素联合利巴韦林仍然是当前最常见的治疗方案。 然而对于那些对干扰素不耐受或治疗无效的基因 1b 型丙肝患者，聚乙二醇化干扰素联合利巴韦林的治疗无法带来很好的效果，当前治疗方案基本上是空白的，存在大量未被满足的治疗需求。 
                        北京大学附属肝病研究所所长魏来教授指出，基于干扰素的治疗疗程长，有严重的不良反应，不少患者也无法耐受干扰素，还有不少患者有明确的干扰素禁忌症，因此无法接受干扰素治疗。而此次发布的研究结果让中国患者看到了尽快获得口服抗病毒药物的希望。 
                        根据流行病学调查，估计中国大陆约有 1,000 万人感染丙肝病毒，中国汉族丙肝患者以基因 1b 型感染为主，占近 57%。丙肝带来的经济负担和其它医疗成本不可低估。魏来教授认为，通过这些高效的抗病毒治疗药物来治愈丙肝，对于降低患者、社会和政府的长期疾病负担具有重要的意义。 
                        DCV 和 ASV 的全口服药物联合治疗丙肝已于 2014 年在日本获批，成为日本第一个应用于临床的全口服、不含干扰素的治疗丙肝基因 1 型患者 - 包括失代偿肝硬化丙肝患者的临床方案。DCV 和 ASV 全口服药物尚未在中国市场获批。「中国对于新药的审批要比国外复杂，但是当前参与丙肝防控的各方正在积极共同努力，以加速这些能高效治愈丙肝的药物尽快进入中国，让患者获益。」魏来教授对未来充满信心。为此，今年十月底刚刚发布的 2015 年新版中国丙肝防治指南直接跟国际接轨，推荐使用 DCV 和 ASV 全口服药物联合治疗基因 1b 型丙肝感染。
                        百时美施贵宝特药研发的全球掌门人道格拉斯马尼恩，兼任主管百时美施贵宝中国研发，曾在不同场合强调百时美施贵宝一直致力于中国丙肝疾病治疗。他表示，百时美施贵宝将继续与中国各方积极沟通治愈丙肝的紧迫性，希望中国的广大丙肝患者都能尽快从 DCV 和 ASV 联合治疗方案中获益。 </p>
                <h3>流行病学</h3>
                <p>除旧版预防措施外，新增对高危人群的筛查。建议根据我国《丙型肝炎筛查及管理》对丙型肝炎高危人群进行筛查及管理。</p>
        </div>
        <div class="ui-jiazai"><a href="javascript:void(0);" onClick="load_more();">加载更多</a></div>
</div>
<include file="Public:tj" /></body>
</html>