<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>专家讲座--列表</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonLabel/label.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/ceses/zhuanJiaJiangZuo.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="ui-header"> <i class="ui-icon-return" onClick="history.back()"></i> </header>
<div class="line"></div>
<div class="gslmLabel">
        <div style=" width:15px; height:10px; float:left;"></div>
        <div style=" " class="labelCon">
                <div style=" width:700px;"> <a href="#" class="ui-label-s">智能排序</a> <a href="#" class="ui-label-s curr">病毒性肝病</a><a href="#" class="ui-label-s">酒精性肝病</a><a href="#" class="ui-label-s">药物性肝病</a><a href="#" class="ui-label-s">毒物性肝病</a> </div>
        </div>
        <div class="clear"></div>
        <div style=" width:15px; height:10px; float:left;"></div>
</div>
<div class="videoList">
        <div class="listTop"> <img src="../../../../Public/Expert/images/zhiNanJieDu/listTop.jpg"> <a href="#">给人委托IE无肉司法给热透给界阬案件司法啊放假</a> </div>
        <div class="video_list">
                <dl>
                        <dt><a href="#"><img src="../../../../Public/Expert/images/zhiNanJieDu/imglist.jpg"></a></dt>
                        <dd class="hei_40">给人委托IE无肉司法给加热透无肉司法给热透给界阬案件司法啊放假给为IE投入急哦IE</dd>
                        <dd class="">王城</dd>
                        <dd class="ui-icon-video">300</dd>
                </dl>
                <dl>
                        <dt><a href="#"><img src="../../../../Public/Expert/images/zhiNanJieDu/imglist.jpg"></a></dt>
                        <dd class="hei_40">给人委托IE无肉司法给加热透给为IE投入急哦IE</dd>
                        <dd class="">王城</dd>
                        <dd class="ui-icon-video">300</dd>
                </dl>
                <dl>
                        <dt><a href="#"><img src="../../../../Public/Expert/images/zhiNanJieDu/imglist.jpg"></a></dt>
                        <dd class="hei_40">给人委托IE无肉司法给加热透给为IE投入急哦IE</dd>
                        <dd class="">王城</dd>
                        <dd class="ui-icon-video">300</dd>
                </dl>
                <dl>
                        <dt><a href="#"><img src="../../../../Public/Expert/images/zhiNanJieDu/imglist.jpg"></a></dt>
                        <dd class="hei_40">给人委托IE无肉司法给加热透给为IE投入急哦IE</dd>
                        <dd class="">王城</dd>
                        <dd class="ui-icon-video">300</dd>
                </dl>
        </div>
</div>
<include file="Public:tj" /></body>
</html>