<!DOCTYPE html>
<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<title>注册须知</title>
<!--CSS库文件-->
<link href="../../../../Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBack/back.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonBtn/btn.css" type="text/css" rel="stylesheet" >
<link href="../../../../Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet" >
<!--CSS当前页面文件-->
<link href="../../../../Public/Expert/css/user/zhuce.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="shenqing">
    	<h2>注册须知</h2>
        <h1>1.背景优势：</h1>
        <p>作为北京亚太肝病诊疗技术联盟倡导主办的远程肝病学院——千县万医培训工程于2015年9月份正式启动以来，携手首都医科大学附属北京地坛医院、中日友好医院、解放军302医院等国家级远程培训会诊中心已有区域性省级远程培训会诊中心14个，初步形成了覆盖全国范围内的肝病专科培训网络体系。千县万医培训工程得到了国家及社会各界的关注支持，先后与美国哈佛大学、美国斯坦福大学、美国肝病研究学会、中国肝炎防治基金会等国内外医疗学术科研机构、公益组织确立了战略合作关系。</p>
        <p>北京亚太肝病诊疗技术联盟为注册会员提供线上及线下的培训、交流、进修、活动等，会员不仅可以通过系统化、专业化的渠道，获得肝病专科领域的学习培训提升，同样也可获得国内外合作机构间的互动学习、科研实践、同业交流、远程合作等机会，其将成为打造肝脏疾病精准化诊疗技术平台的重要发展基础。     </p>
        <h1>2.会员享有：</h1>
        <p class="bot_p">
        <span>A.线上资源：</span>系统化的培训、交流、学习；（通过网站、微信、APP）<br>
        <span>B.远程培训：</span>国家级、省级培训会诊中心远程培训；<br>
        <span>C.绿色通道：</span>肝病患者转诊、会诊的绿色通道服务；所在医院可优先成为联盟会员单位，实现学科建设和科室改善升级；<br>
        <span>D.顶层资源：</span>国家级会诊中心、斯坦福大学的进修实践交流机会；<br>
       <span> E.基金捐助：</span>为患者和所在医院申请中国肝炎防治基金会专项基金；<br>
        <span>F.平台资源：</span>联盟、专家、会员等平台信息资源实时了解；<br>
       <span> G.个人品牌：</span>优秀会员成为省联盟组委会成员并得到个人品牌的打造和宣传。</p>
       <h1>3.注册条件：</h1>
        <p class="bot_p">
        <span>A.所属机构：</span>国内正规资质二甲级以上公立医院的肝病相关科室医生或医务工作者；<br>
        <span>B.执业资质：</span>拥有国家认证的医生执业资格证。</p>
        <h1>4.注册流程：</h1>
        <p style=" text-indent:0px;">
           A.申请人填写《北京亚太肝病诊疗技术联盟——注册申请表》签字确认后提交联盟会员部；<br>
            B.申请人完成联盟网站或公众平台、APP终端医生注册；<br>
            C.联盟会员部进行注册条件审核并生成会员ID；<br>
            D.申请人获取联盟会员ID，利用其激活联盟各项参与权利与服务；<br>
            E.完成会员注册。<br>
        </p>
    </div>
    <div class="xz_bottom">
    	<span>合作机构：</span><img src="/weixin/Public/Expert/images/zhuce/hezuo1.jpg">
        <span>会诊中心：</span><img src="/weixin/Public/Expert/images/zhuce/hezuo2.jpg">
    </div>
    <div class="footer">
    	<img src="/weixin/Public/Expert/images/zhuce/ma.jpg" class="left">
        <span>扫一扫！加入远程肝病学院—千县万医</span>
                    <p>网址：www.apald.org
            微信号：远程亚太联盟
            会员部地址：
            北京市海淀区彩和坊路11号华一控股大厦9层
            邮编：100080
            邮箱：yatai_med@126.com</p>
            <img src="/weixin/Public/Expert/images/zhuce/foot.jpg" style=" display:block; margin:0 auto; padding:30px 0;">
    </div>
<include file="Public:tj" /></body>
</html>