<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<title>个人信息</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
<link href="/weixin/Public/Expert/css/gerenzhongxin/gerenzhongxin.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Expert/css/gerenzhongxin/yishengbangzs.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/weixin/Public/Common/js/jquery.min.js"></script>
<script type="text/javascript" src="/weixin/Public/Expert/js/user/birthday.js"></script>
</head>
<body>
<div id="J_Account_Info" class="gp GJ_Gp g-items gp-profile" style="padding-bottom: 100px;">  
 	<ul>    
		<li class="avatar ystx">
			<label>头像</label>			
			<b class="jiantou touxiang"><a href="#"><img class="docimg" src="../../images/yishengbangongzuoshi/touxiang.jpg" alt=""/></a></b>
		</li> 
		
		<li> 
			<label>姓名</label>	
			<span class="right" style="line-height:20px;">李阳</span>
		</li>
        <li class="link">
			<a href="#" class="g-arrow-r">
				<label class="nowidth">擅长</label>	
				<span class="right yirenz">擅长心脑血管疾病诊断....</span>  	 	 
			</a>
            	
		</li>
		<li class="link">
			<a href="#" class="g-arrow-r">
				<label class="nowidth">简介</label>	
				<span class="right yirenz">暂无</span>  	 	 
			</a>
            	
		</li>
	</ul> 
 	<ul>
    	<li class="link">
			<a href="#" class="g-arrow-r">
				<label>性别</label>			 
				<span class="right yirenz">男</span>
			</a>
		</li>
    	<li class="date">
				<label style="width:40px; line-height:30px;">生日</label>	
				<select class="sel_year" rel="2015"></select>年
        		<select class="sel_month" rel="1"></select>月
       		    <select class="sel_day" rel="1"></select>日
		</li>
        <li class="link">
			<a href="#" class="g-arrow-r">
				<label>身份证号码</label>			 
				<span class="right yirenz">110*****218</span>
			</a></li>
		<li class="avatar">
			<label>邮箱</label>			
			<b class="jiantou"><a href="#"><img src="../../images/gerenzhongxin/youjiantou.jpg"></a></b>
		</li> 
	</ul> 
 </div>

</body>
</html>