<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
<link type="text/css" rel="stylesheet" href="../../../../../Public/Expert/css/gerenzhongxin/gerenzhongxin.css" />
<script type="text/javascript" src="../js/jquery.js"></script>
<title>消息中心</title>
</head>
<body>
<div class="gp GJ_Gp gp-profile g-items gp-profile_index" style=" height:100%; background:#fff;">  
	<ul class="xiaoxi_li">   
		<li class="link link-ico">
			<a class="g-arrow-r xm_num duquzt" href=""> 
				<p>1、北京亚太肝病诊疗技术联盟倡导搭建...</p>
			</a>
		</li> 
        <li class="link link-ico">
			<a class="g-arrow-r xm_num duquzt" href=""> 
				<p>2、北京亚太肝病诊疗技术联盟倡导搭建...</p>
			</a>
		</li>   
        <li class="link link-ico">
			<a class="g-arrow-r xm_num duquzt" href=""> 
				<p>3、北京亚太肝病诊疗技术联盟倡导搭建...</p>
			</a>
		</li>   
        <li class="link link-ico">
			<a class="g-arrow-r xm_num duquzt" href=""> 
				<p>4、北京亚太肝病诊疗技术联盟倡导搭建...</p>
			</a>
		</li>   
        <li class="link link-ico">
			<a class="g-arrow-r xm_num duquzt" href=""> 
				<p>5、北京亚太肝病诊疗技术联盟倡导搭建...</p>
			</a>
		</li>   
	</ul>  
	  <div class="jiazai_after"><a >加载更多</a></div>
</div>  
<!--<footer>
<a class="shouye">微首页</a>
<a class="zixun">咨询</a>
<a class="yuepian">阅片</a>
<a class="dingdan">订单</a>
<a class="geren2">个人中心</a>
</footer>-->

</body>
</html>