<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<link href="/weixin/Public/Expert/css/gerenzhongxin/gerenzhongxin.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="/weixin/Public/Common/js/jquery.min.js"></script>
<title>修改密码</title>
</head>
<body>
<div class="gp GJ_Gp g-items gp-profile-auth"> 
		<ul> 
			<li> 
				<label>旧密码:</label>			
                <input type="text" placeholder="旧密码" class="weism">
			</li> 
			<li> 
				<label>新密码:</label>			
                <input type="text" placeholder="新密码" class="weism">
			</li> 
		</ul>  
 </div>
<div class="tuichu"><a href="#">确定</a></div>
</body>
</html>