<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">
<meta name="share-title" content="">
<link rel="apple-touch-icon-precomposed" href="http://weixin-yanke.yk2020.com/images/touch-icon.png" >
<title>去咨询患者</title>
<style>
    *{padding: 0; margin: 0;}
    body{background: #f4f4f4; text-align: center;}
    img{vertical-align: top; margin-bottom: 35px; margin-top: 110px;}
    p{font-size: 16px; color: #999; line-height: 24px;}
    p span{color: #ff647b;}
</style>
</head>
<body>
    <img src="/weixin/Public/Member/images/yonghu/noconsult_list.png" alt="">
    <p><a href="/weixin/index.php?m=Expert&c=Jtys&a=consult_list&member_id={$member['MEMBER_ID']}" class="zixun1">去咨询患者</a>
</body>
</html>
