<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>转诊详情</title>
	<link rel="stylesheet" type="text/css" href="/weixin/Public/Member/css/referral.css">
	<script type="text/javascript">
		document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/15 + 'px';
	</script>
</head>
<body>
	
	<ul class="referral user-info">
		<li class="re-title">基本信息</li>
		<li>
			<p>姓名：<em>张章</em></p>
		</li>
		<li>
			<p>电话：<em>13612345678</em></p>
		</li>
		<li>
			<p>身份证号：<em>132114567891234587</em></p>
		</li>
		<li>
			<p class="cardImg">证件照片：<em><img src="/weixin/Public/Member/images/referral_img/card.png"></em></p>
		</li>
	</ul>
	<ul class="referral user-info">
		<li class="re-title">转诊信息</li>
		<li>
			<p>转诊医院：<em>北京医院</em></p>
		</li>
		<li>
			<p>转诊描述：<em>心脏病，需要去该医院进行治疗</em></p>
		</li>
	</ul>
	<form action="" name="">
		<ul class="referral d-check">
			<li class="re-title">转诊审核</li>
			<li>
				<p>
					是否同意：	
					<label>
						<i class="radio on"></i><input name="agree" type="radio" class="agree" checked/>是
					</label> 
					<label>
						<i class="radio"></i><input name="agree" type="radio" class="agree" />否
					</label> 
				</p>
			</li>
			<li>
				<p>
					审核理由
					<textarea class="area" name="" maxlength="200" placeholder="200字以内"></textarea>
				</p>
			</li>
			<input type="submit" value="确认提交" class="re-btn">
		</ul>
	</form>
	<div class="bigImg">
		<div class="bg1"></div>
	</div>
	<script src="/weixin/Public/Common/js/jquery.min.js"></script>
	<script src="/weixin/Public/Member/js/referral.js"></script>
	<script>
		$('label').click(function(){
      $(this).children('i').addClass('on');
      $(this).siblings().children('i').removeClass('on');
  	})
	</script>

</body>
</html>