<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link type="text/css" rel="stylesheet" href="/weixin/Public/Common/css/commonBtn/btn.css"/>
	<link rel="stylesheet" href="/weixin/Public/Expert/css/user/404.css">
	<title>认证页面</title>
</head>
<body>
	
	<div class="img">
		<img src="/weixin/Public/Expert/images/user/404.jpg" alt="">
	</div>
	<p>您还没有认证</p>
	<div class="ui-btn-content btn1">
		<a class="ui-btn-a" href="javascript:;">马上认证</a>
	</div>
	<div class="ui-btn-content btn2">
		<a class="ui-btn-a" href="javascript:;" style="background:#fff; color:#ff647c; border: 1px solid #ff647c;">随便逛逛</a>
	</div>
</body>
</html>