<html class="ui-mobile">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="cache-control" content="public">
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="format-detection" content="telephone=no">

<!--公用样式调用-->
<link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
<!--分享页面样式调用-->
<link href="/weixin/Public/Expert/css/gerenzhongxin/gerenzhongxin.css" type="text/css" rel="stylesheet"/>
<link href="/weixin/Public/Expert/css/gerenzhongxin/yishengbangzs.css" type="text/css" rel="stylesheet"/>

<title>选择科室</title>
</head>
<body>
<div id="step1">
<div class="gp GJ_Gp g-items gp-profile-auth">

	<ul>
		<volist name='row' id='v' empty="暂未录入科室">
			<li>
				<a href="?m=expert&c=user&a=band_name&truename={$data.truename}&hos_id={$data.hos_id}&hosname={$data.hosname}&pro={$data.pro}&city={$data.city}&zhic={$data.zhic}&keshi={$v.DEP_ID}&keshiname={$v.DEP_NAME}">
					{$v.DEP_NAME}
				</a>
			</li>
		</volist>
	</ul>
 </div>
</div>
<div id="step1-1" style="display: none;">
    <div class="qita">
        <input type="text" placeholder="请输入您的科室名称" id="keshi">
    </div>
    <div class="xuanze_wanc"><a href="javascript:void(0)"  onclick="wc()">完成</a></div>
</div>
<div id="step2-1" style="display: none;">
    <div class="qita">
        <input type="text" placeholder="请输入您的科室名称" id="keshi2">
    </div>
    <div class="xuanze_wanc"><a href="javascript:void(0)"  onclick="wc2()">完成</a></div>
</div>
<input type="hidden" value="<?php echo $pro;?>" id="pro">
<input type="hidden" value="<?php echo $city;?>" id="city">
<input type="hidden" value="<?php echo $truename;?>" id="truename">
<input type="hidden" value="<?php echo $hos;?>" id="hos">
<input type="hidden" value="<?php echo $zhic;?>" id="zhic">

<script type="text/javascript" src="/weixin/Public/Common/js/jquery.min.js"></script>
<script type="text/javascript" src="/weixin/Public/Expert/js/erji_chengshi.js"></script>
<include file="Public:tj" />
 <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>