<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="share-title" content="">
    <title>帮助中心</title>
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/mbase.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/help.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/icon.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/head.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/3 + 'px'
    </script>
</head>
<body>
    <header class="header">
        <a href="index.php?m=Expert&c=User&a=mywork_house" class="icon">&#xf62b;</a>
        <h2>帮助中心</h2>
    </header>
    <article class="pages">
        <p>您好，欢迎使用全国心脑远程联盟微信公众平台帮助与反馈。为了保证您的问题能尽快得到解决，请查看以下常见问题解答。</p>
    </article>
    <section class="qList">
        <h2>注册登陆</h2>
        <div class="quesList">
            <div class="ques">
                <p data-on="1"><span>Q1：如何注册全国心脑远程联盟微信公众平台？</span><i>收起</i></p>
                <p><strong>点击“我的”=》注册有礼，输入手机号=》输入验证码=》获取手机短信验证码=》填写手机短信验证码=》点击提交。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q2：注册时收不到验证码怎么办？</span><i>展开</i></p>
                <p class="off"><strong>看首页出现的欢迎语下方出现的文字，通过手机号，请求人工注册。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q3：为什么一定要用手机号实名注册，有无其它注册方式？</span><i>展开</i></p>
                <p class="off"><strong>全国心脑远程联盟微信公众平台是眼科医生实名自助学习平台，只能通过手机号实名注册。</strong></p>
            </div>
        </div>
        <h2>实名认证问题</h2>
        <div class="quesList">
            <div class="ques">
                <p data-on="0"><span>Q1：为什么要进行实名认证？</span><i>展开</i></p>
                <p class="off"><strong>为了打造实名用户学习平台，只有实名认证用户才能加入站内的交流群和同行交流以及在线学习，手术申报，兑换礼品。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q2：怎样进行实名认证？</span><i>展开</i></p>
                <p class="off"><strong>点击“我的”=》注册有礼，进入信息完善页面，按要求进行操作填写=》提交=》等待审核。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q3：多久才能通过审核？</span><i>展开</i></p>
                <p class="off"><strong>—般1~3个工作日内能得到审核结果，在“我的工作室”页面可以查看颁发证书。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q4：实名认证安全吗？</span><i>展开</i></p>
                <p class="off"><strong>为了打造心血管医生实名学习平台，我们提倡实名全国心脑远程联盟微信公众平台官方不会泄露用户信息，为了保证用户信息安全，我们通过一系列技术手段包括国内最先进的防火墙系统、独立的加密协议和业务与数据库的屋里隔离三道防线进行防护。</strong></p>
            </div>
        </div>
        <h2>分享/邀请好友未获得积分</h2>
        <div class="quesList">
            <div class="ques">
                <p data-on="0"><span>Q1：通过哪些方式能获得积分？</span><i>展开</i></p>
                <p class="off"><strong>请前往“我的”=》“我的工作室”页面，在积分右上角点击问号查看详情。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q2：为什么正常分享后没有添加积分？</span><i>展开</i></p>
                <p class="off"><strong>1、与网络环境有关；<br>
     				2、分享文章、视频到朋友圈需要点击“返回”全国心脑远程联盟微信公众平台主页按钮，才能被系统检测到添加积分。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q3：为什么邀请好友，好友填写了邀请码，却没有获得积分？</span><i>展开</i></p>
                <p class="off"><strong>可能与网络环境有关。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q4：能邀请非医务人员（包括患者、普通大众等）加入全国心脑远程联盟微信公众平台吗？</span><i>展开</i></p>
                <p class="off"><strong>全国心脑远程联盟微信公众平台是医生护士等医疗相关从业者的学习交流平台，不希望非医务工作者加入。凡是为了获取积分，邀请大量非医务人员加入的用户，一经发现毕严肃处理，轻则积分全部清零，取消认证资格，重则直接封号。</strong></p>
            </div>
        </div>
        <h2>看文章/视频相关问题</h2>
        <div class="quesList">
            <div class="ques">
                <p data-on="0"><span>Q1：如何查看全国心脑远程联盟微信公众平台内的联盟头条？</span><i>展开</i></p>
                <p class="off"><strong>可前往“联盟动态”里选择自己感兴趣的频道查看。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q2：如何学习全国心脑远程联盟微信公众平台内的视频？</span><i>展开</i></p>
                <p class="off"><strong>可前往“心界联盟”=》“千县万医”=千县万医计划</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q3：为什么有的视频和图片打不开？</span><i>展开</i></p>
                <p class="off"><strong>①可能与网络环境有关，请您检查自己的手机网络设置;<br>
②或者在程序进程里面关闭全国心脑远程联盟微信公众平台，然后重新登录打开应用;<br>
③或者将手机型号、文章/视频名称通过意见反馈发送给后台进行技术测试;<br>
④也可尝试打开文章或视频后，多次滑动下滑按钮，给系统一定的缓存加载时间。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q4：以前能看视频，现在不能看了怎么办？</span><i>展开</i></p>
                <p class="off"><strong>有可能是网络问题，若确定不是网络问题可先取消关注，重新关注全国心脑远程联盟公众号(微信号：heartorg)。</strong></p>
            </div>
            <div class="ques">
                <p data-on="0"><span>Q5：看视频没有声音是怎么回事？</span><i>展开</i></p>
                <p class="off"><strong>请检查音量键是否打开？如果是iphone手机，是否关闭了左侧的物理静音键？如果确实打开了，换一个视频看看是否是同样情况？仍然无法解决问题，请手机机型以及版本通过意见反愦发送到后台，以便工作人员检查故障。</strong></p>
            </div>
        </div>
        <h2>看文章/视频相关问题</h2>
        <div class="quesList">
            <div class="ques">
                <p data-on="0"><span>Q1：推送文章没有及时关注，如何能看到历史消息？</span><i>展开</i></p>
                <p class="off"><strong>打开全国心脑远程联盟微信公众平台，点击右上角人形头像=》点击“查看历史消息” 即可找到。</strong></p>
            </div>
        </div>
    <article class="pages">
        <p>如果帮助无法解决您的问题，请通过意见反馈来反馈您的问题。</p>
    </article>        
    </section>
    <include file="Public:footer_bottom" />
     <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
<script>
    var ques = document.querySelectorAll('.ques');
    var arr = [];
    
    for(var i=0;i<ques.length;i++){
        arr.push(ques[i].getElementsByTagName('p')[0]);
    }
    
    arr.forEach(function(value,index){
        value.onclick = function(){
            if(Number(this.dataset.on)){
                this.getElementsByTagName('i')[0].innerHTML = '展开';
                this.nextElementSibling.className = 'off';
                this.dataset.on = 0;
            }else{
                this.getElementsByTagName('i')[0].innerHTML = '收起';
                this.nextElementSibling.className = '';
                this.dataset.on = 1;
            }
        }
    })
</script>
</html>