<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="share-title" content="">
    <title>版本历史</title>
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/mbase.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/aboult.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/icon.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/3 + 'px'
    </script>
</head>
<body>
    <header class="dDetail">
        <a href="index.php?m=Expert&c=User&a=aboultyc" class="icon">&#xf62b;</a>
        <h2>版本历史</h2>
    </header>
    <article class="wxvalue">
        <section>
            <div class="vLine"></div>
            <figure>
                <h3>版本3.1.1</h3>
                <p>1）【增加】关注远程功能</p>
                <p>2）【增加】关于我们功能</p>
                <p>3）【增加】我的积分功能</p>
                <p>4）【增加】我的意见功能</p>
            </figure>
        </section>
        <section>
            <div class="vLine"></div>
            <figure>
                <h3>版本3.1.0</h3>
                <p>1）【增加】帮助中心功能</p>
                <p>2）【优化】若干细节改进</p>
        </section>
        <section>
            <div class="vLine"></div>
            <figure>
                <h3>版本2.1.0</h3>
                <p>1）【增加】扫码核销功能</p>
                <p>2）【增加】开通咨询功能</p>
                <p>3）【增加】推荐二维码功能</p>
                <p>4）【优化】优化页面整体架构</p>
                <p>5）【优化】修改若干BUG等细节</p>
            </figure>
        </section>
        <section>
            <div class="vLine"></div>
            <figure>
                <h3>版本1.1.0</h3>
                <p>1）【优化】修改若干BUG等细节</p>
                <p>2）【优化】优化推送文章页面</p>
            </figure>
        </section>
        <section>
            <div class="vLine"></div>
            <figure>
                <h3>版本1.0.0</h3>
                <p>1）【优化】修改若干BUG等细节</p>
                <p>2）【优化】优化页面，升级用户体验</p>
                <p>3）【优化】政策解读功能走通</p>
                <p>4）【优化】千县万医计划走通</p>
            </figure>
        </section>
    </article>
    <include file="Public:footer_bottom" />
     <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>