<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="share-title" content="">
    <title>如何赚积分</title>
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/mbase.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/aboult.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/icon.css">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/3 + 'px'
    </script>
</head>
<body>
    <header class="dDetail">
        <a href="index.php?m=Expert&c=User&a=mywork_house" class="icon">&#xf62b;</a>
        <h2>如何赚积分</h2>
    </header>
    <article class="wxhow">
        <section>
            <h2>积分奖励规则：</h2>
            <ul>
                <li>1）每日签到,奖励5分。</li>
                <li>2）绑定手机号，奖励100分</li>
                <li>3）会员申请审核通过，奖励200分</li>
                <li>4）每推荐一名村医通过审核后，奖励100分</li>
                <li>5）每推荐一名专科医生通过审核后，奖励500分</li>
                <li>6）每推荐一名医生集团负责人通过审核后，奖励5000分</li>
            </ul>
        </section>
    </article>
    <section id="mask" class="smask">
        <div class="dialog">
            <a href="javascript:;" class="get text-center">完成</a>
        </div>
    </section>
    <include file="Public:footer_bottom" />
     <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
</html>