<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>设置</title>
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/mbase.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/set.min.css">
    <link rel="stylesheet" href="/weixin/Public/Expert/css/zhengcejiedu/icon.css">
    <style>
        body{height:100%;}
        .dataList section li b{width: 50%;height: 100%;display: block; overflow: hidden; text-align: center; float: left;}
        .dataList section li i.prep{float: right; display: block; width: 50%; font-style: normal;}
        .dataList section li a.signhref{position: relative;}
        .dataList section li.avatar{height: 70px; line-height: 70px;}
        .dataList section li.avatar img{height: 40px;}
    </style>
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth / 3 + 'px';
    </script>
</head>

<body class="data">
   <!--<input type="tel">-->
    <!--<form action="" method="POST" id="myform" name="form">-->
        <article id="page" class="dataList">
            <header>
                <div class="pics">
                <if condition="($user['EXPERT_SEX'] eq '未填写') && ($user['SMALL_PIC'] eq '/weixin/Application/Expert/View/images/dtdoctor.png')">
                    <img src="/weixin/Public/Expert/images/yonghu/girl.png" />

                <elseif condition="($user['EXPERT_SEX'] eq '男') && ($user['SMALL_PIC'] eq '/weixin/Application/Expert/View/images/dtdoctor.png')" />
                    <img src="/weixin/Public/Expert/images/yonghu/boy.png" />

                <elseif condition="($user['EXPERT_SEX'] eq '女') && ($user['SMALL_PIC'] eq '/weixin/Application/Expert/View/images/dtdoctor.png')" />
                    <img src="/weixin/Public/Expert/images/yonghu/girl.png" />

                <else />
                    <img src="{$user.SMALL_PIC}" />

               </if>
                </div>
                <!-- <i class="corner icon">&#xf600;</i> -->   
            </header>
            <section>
                <ul>
                    <li>
                        <p>我的积分</p>
                        <i class="corner icon"><em>
                       {$jifen['JF_NUM']}
                        </em>&#xf600;</i>
                        <a href="{:U('Expert/User/point')}"></a>
                    </li>
                </ul>
            </section>
            
            <section>
                <ul>
                    <li>
                        <p>姓名</p>
                            <input type="text" id="expert_name" name="expert_name" placeholder="姓名" 
                        value="{$user.EXPERT_NAME}" readOnly="true"/>
                    </li>
                    <li>
                        <p>性别</p>
                        <input type="text" id="sex" name="sex" placeholder="性别" value="{$user.EXPERT_SEX}" readOnly="true"/>
                    </li>
                    <li>
                        <p>出生年月</p>
                          <input type="text" id="BIRTH_DATE" name="BIRTH_DATE" placeholder="出生年月" value="{$user.BIRTH_DATE}" readOnly="true"/>
                    </li>
                    <li>
                        <p>医院</p>
                        <input type="text" id="hos_name" name="hos_name" placeholder="医院" value="{$user.HOS_NAME}" readOnly="true"/>
                    </li>
                    <li>
                        <p>科室</p>
                        <input type="text" id="dep_name" name="dep_name" placeholder="科室" value="{$user.DEP_NAME}" readOnly="true"/>
                    </li>
                    <li>
                        <p>职务职称</p>
                        <input type="text" id="dep_name" name="dep_name" placeholder="职务职称" value="{$user.EXPERT_ROLE}" readOnly="true"/>
                    </li>
                    <li data-name="position">
                        <p>从业资格证</p>
                        <input type="text" id="pos" name="pos" placeholder="从业资格证" value="{$user.EX_CID}" readOnly="true"/>
                    </li>
                    <li>
                        <p>手机号</p>
                        <input type="tel" id="link_mobile" name="link_mobile" value="{$user.LINK_MOBILE}" placeholder="手机号" maxlength="11" readOnly="true"/>
                    </li>
                    <li class="avatar ystx">
                    <p>签名</p>
                    <b class="jiantou touxiang">
                        <a href="/weixin/index.php?m=Expert&c=User&a=edit_sign&user_pic={$sign_pic_encode}" class="signhref">
                        <img  width="50" height="50" src="{$user.DOC_SIGNATURE}" style='_margin-top:expression(( 180 - this.height ) / 2);' />
                        </a>
                    </b>
                </li>
                </ul>
            </section>
          
            <!-- <h4>开通服务</h4>
            <section>
                <ul>
                    <li>
                        <p>咨询服务</p>
                        <strong class="onOff" data-on="false" data-index="serve"><span></span></strong>
                    </li>
                    <li class="slider other">
                        <div class="sList">
                            <div class="ls">
                                <div class="ll">
                                    <span class="text-center">
                                        <em>
                                            <i class="icon">&#xf624;</i>
                                            <i class="icon">&#xf686;</i>
                                        </em>在线咨询
                                    </span>
                                </div>
                                <div class="ll">
                                    <span>
                                        <strong><b id="p1">30</b><i class="prep">元/次</i></strong>
                                        <a href="javascript:;" data-p="0">修改价格</a>
                                    </span>
                                </div>
                                <div class="ll">
                                    <strong class="onOff" data-on="false" data-index="price"><span></span></strong>
                                </div>
                            </div>
                        </div>
                        <div class="sList">
                            <div class="ls">
                                <div class="ll">
                                    <span class="text-center">
                                        <em>
                                            <i class="icon other">&#xf688;</i>
                                            <i class="icon">&#xf686;</i>
                                        </em>语音电话
                                    </span>
                                </div>
                                <div class="ll">
                                    <span>
                                        <strong><b id="p2">30</b><i class="prep">元/次</i></strong>
                                        <a href="javascript:;" data-p="1">修改价格</a>
                                    </span>
                                </div>
                                <div class="ll">
                                    <strong class="onOff" data-on="false" data-index="price"><span></span></strong>
                                </div>
                            </div>
                        </div>
                        <div class="sList">
                            <div class="ls">
                                <div class="ll">
                                    <span class="text-center">
                                        <em>
                                            <i class="icon other">&#xf687;</i>
                                            <i class="icon">&#xf686;</i>
                                        </em>视频咨询
                                    </span>
                                </div>
                                <div class="ll">
                                    <span>
                                        <strong><b id="p3">30</b><i class="prep">元/次</i></strong>
                                        <a href="javascript:;" data-p="2">修改价格</a>
                                    </span>
                                </div>
                                <div class="ll">
                                    <strong class="onOff" data-on="false" data-index="price"><span></span></strong>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p>手术申报</p>
                        <strong class="onOff" data-on="false" data-index="ops"><span></span></strong>
                    </li>
                    <li class="other">
                        <p>手术推荐</p>
                        <strong class="onOff" data-on="false" data-index="recom"><span></span></strong>
                    </li>
                </ul>
            </section> -->
            <section>
                <ul>
                    <li>
                        <p>帮助中心</p>
                        <i class="corner icon">&#xf600;</i>
                        <a href="{:U('Expert/User/help')}"></a>
                    </li>
                    <li>
                        <p>我的意见</p>
                        <i class="corner icon">&#xf600;</i>
                        <a href="{:U('Expert/User/myAdvise')}"></a>
                    </li>
                    <li>
                        <p>关注心血管</p>
                        <i class="corner icon">&#xf600;</i>
                        <a href="{:U('Expert/User/aboultyc')}"></a>
                    </li>
                </ul>
            </section>
            <section>
                <a href="tel:400-656-2020" id="serTel" class="serTel text-center">客服电话：400-656-2020</a>
            </section>
        </article>
    <!--</form>-->
    <article class="opacity" id="opacity">
        
    </article>
    <div class="dWrap">
        <div class="confirm">
            <p class="text-center"></p>
            <a href="javascript:;">确定</a>
        </div>
        <div class="dl">
            <section class="swiper-container" id="s11">
                <div class="ss swiper-wrapper">
                    <div class="swiper-slide text-center slideActive">0</div>
                    <div class="swiper-slide text-center">1</div>
                    <div class="swiper-slide text-center">2</div>
                    <div class="swiper-slide text-center">3</div>
                    <div class="swiper-slide text-center">4</div>
                    <div class="swiper-slide text-center">5</div>
                    <div class="swiper-slide text-center">6</div>
                    <div class="swiper-slide text-center">7</div>
                    <div class="swiper-slide text-center">8</div>
                    <div class="swiper-slide text-center">9</div>
                </div>
                <!--<div class="mask"></div>-->
            </section>
            <section class="swiper-container" id="s12">
                <div class="ss swiper-wrapper">
                    <div class="swiper-slide text-center slideActive">0</div>
                    <div class="swiper-slide text-center">1</div>
                    <div class="swiper-slide text-center">2</div>
                    <div class="swiper-slide text-center">3</div>
                    <div class="swiper-slide text-center">4</div>
                    <div class="swiper-slide text-center">5</div>
                    <div class="swiper-slide text-center">6</div>
                    <div class="swiper-slide text-center">7</div>
                    <div class="swiper-slide text-center">8</div>
                    <div class="swiper-slide text-center">9</div>
                </div>
                <!--<div class="mask"></div>-->
            </section>
            <section class="swiper-container" id="s13">
                <div class="ss swiper-wrapper" style="border-width:0;">
                    <div class="swiper-slide text-center slideActive">0</div>
                    <div class="swiper-slide text-center">1</div>
                    <div class="swiper-slide text-center">2</div>
                    <div class="swiper-slide text-center">3</div>
                    <div class="swiper-slide text-center">4</div>
                    <div class="swiper-slide text-center">5</div>
                    <div class="swiper-slide text-center">6</div>
                    <div class="swiper-slide text-center">7</div>
                    <div class="swiper-slide text-center">8</div>
                    <div class="swiper-slide text-center">9</div>
                </div>
                <!--<div class="mask"></div>-->
            </section>
        </div>
    </div>
    <input type="hidden" id="v1" />
    <input type="hidden" id="v2" />
    <input type="hidden" id="v3" />
     <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
</body>
<script src="/weixin/Public/Expert/js/swiper.min.js"></script>
<script src="/weixin/Public/Expert/js/set.js"></script>
<script>
var mySwiper1 = new Swiper('#s11',{
    direction: 'vertical',
    loop: true,
    slidesPerView : 5,
    centeredSlides : true,
    slideActiveClass : 'slideActive',
    observer: true
}); 
var mySwiper2 = new Swiper('#s12',{
    direction: 'vertical',
    loop: true,
    slidesPerView : 5,
    centeredSlides : true,
    slideActiveClass : 'slideActive',
    observer: true
});
var mySwiper3 = new Swiper('#s13',{
    direction: 'vertical',
    loop: true,
    slidesPerView : 5,
    centeredSlides : true,
    slideActiveClass : 'slideActive',
    observer: true
});    

</script>
</html>