<!DOCTYPE html>
<html class="ui-mobile">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="cache-control" content="public">
        <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="format-detection" content="telephone=no">
        <meta name="share-title" content="">
        <title>用户使用协议</title>
        <!--CSS库文件-->
        <link href="/weixin/Public/Common/css/common/base.css" type="text/css" rel="stylesheet" >
        <!--CSS当前页面文件-->
        <link href="/weixin/Public/Expert/css/user/zhuce.css" type="text/css" rel="stylesheet"/>
        <style>
            html,body{height:100%;}
            .shenqing{height:100%;}
        </style>
    </head>
    <body>
    	<div class="shenqing">
        	<h2>用户使用协议</h2>
            <p>本人申请加入全国心脑远程联盟，并自愿注册成为“千县万医培训工程”的医生会员，默认开通在线咨询服务，其他服务与联盟工作人员进行咨询后台开通。在今后的工作中，将认真做到：拥护并遵守联盟章程，履行会员义务，服从联盟管理，关心并支持联盟组织的各项活动的同时，积极提升心脑血管诊疗技术水平，为构建全国范围内的心脑血管精准诊疗技术平台而服务。</p>
        </div>
    </body>
</html>