<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="public">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="share-title" content="">
    <title>报告详情</title>
    <link href="/weixin/Public/Common/css/commonIcon/icon.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/weixin/Public/Member/css/user/jk_info.css">
    <link href="/weixin/Public/Common/css/commonLoadMore/loadMore.css" type="text/css" rel="stylesheet">
    <script>
        document.getElementsByTagName('html')[0].style.fontSize = document.documentElement.clientWidth/10 + 'px';
    </script>
</head>
<body class="grey">
    <header>
        <a class="ui-icon-prev" href="javascript:history.go(-1)"></a>
        <h2 class="text-center">报告详情</h2>
    </header>
    <if condition="empty($jk_info)">
        <div style=" text-align: center;">
            <br/> 
            <img src="/weixin/Public/Common/images/icon/icon1.png"><br>
            <i style=" line-height: 30px;font-size:14px;font-style: normal;">暂无数据</i>
        </div>
    <else />
        <div class="chufang_list" id="jk_info">
            <volist name="jk_info" id="jk" empty="暂时没有数据">
                <section class="unit">
                    <div class="ct box">
                        <div class="cLeft box">
                            <div class="cimg"><img src="/weixin/Public/Expert/images/cf/cflogo.jpg" width="100%"></div>
                            <if condition="$tj_type eq 7">
                                <div class="ctxt">
                                    <p><strong>患者：</strong><em>{$jk.MEMBER_NAME}</em></p>
                                    <p>血糖(mmol/L)：{$jk.GLUCOSE}</p>
                                    <p><span>检测时间：{$jk.MEASURE_DATE|Dtodiy="Y-m-d H:i",###}</span></p>
                                </div>
                            <elseif condition="$tj_type eq 8"/>
                                <div class="ctxt">
                                    <p><strong>患者：</strong><em>{$jk.MEMBER_NAME}</em></p>
                                    <p>收缩压(mmHg)：{$jk.SYSTOLIC}</p>
                                    <p>舒张压(mmHg)：{$jk.DIASTOLIC}</p>
                                    <p>脉搏：{$jk.PULSE}</p>
                                    <p><span>检测时间：{$jk.MEASURE_DATE|Dtodiy="Y-m-d H:i",###}</span></p>
                                </div>
                            <else />
                                <div class="ctxt">
                                    <p><strong>患者：</strong><em>{$jk.MEMBER_NAME}</em></p>
                                    <p>心率(bpm)：{$jk.HEART_RATE}</p>
                                    <p><span>检测时间：{$jk.MEASURE_DATE|Dtodiy="Y-m-d H:i",###}</span></p>
                                </div>
                            </if>
                        </div>
                    </div>
                </section>
            </volist>
            
        </div>
        <div class="ui-jiazai">
            <a href="javascript:void(0);" onClick="load_more('#jk_info');"></a>
        </div>
        <div id="current_pagenum" style="display:none">2</div>
    </if>
    <div id="tj_type" style="display:none">{$tj_type}</div>
    <div id="member_id" style="display:none">{$member_id}</div>

    <!--Js库文件--> 
    <script src="/weixin/Public/Common/js/jquery.min.js" type="text/javascript"></script> 
    <!--加载更多-->
    <script src="/weixin/Public/Member/js/load.js" type="text/javascript"></script> 
    <script>

        var onOff = true;
        window.onload = function(){
            window.onscroll();
        }
        window.onscroll = function(){
            load_more('#jk_info');
        }

        function load_more(obj)
        {   
            var tj_type = $("#tj_type").text();
            var member_id = $("#member_id").text();

            if(!onOff) return;

            if($(obj).height()+$('header').outerHeight() <= $(document).scrollTop() + $(window).height())
            {
                onOff = !onOff;
                loadmore('#current_pagenum','/weixin/index.php?m=Expert&c=User&a=wb_info_append&tj_type='+tj_type+'&member_id='+member_id,'#jk_info');
            }
        }
    </script>
</body>
</html>