<html class="ui-mobile">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="cache-control" content="public">
		<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="format-detection" content="telephone=no">
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/Expert/css/gerenzhongxin/gerenzhongxin.css" />
		<title>消息详情</title>
	</head>
	<body>
		<div class="gp GJ_Gp gp-profile g-items gp-profile_index" style="height: 100%;background: #fff;">  
		  	<div class="bfryzs">
	      		<p>{$xiaoxi_info['0']['ACT_DESC']}</p>
		  		<img src="__PUBLIC__/Expert/images/user/zhengshu.jpg" width="607" height="769" alt=""/>
	      	</div>
		</div>  
         <!--微信全国心脑远程联盟  cnzz统计代码，修改日期2016.07.29郑洁-->
        <div style="height:0px;overflow:hidden;"><?php require_once 'cs.php';echo '<img src="'._cnzzTrackPageView(1259145622).'" width="0" height="0"/>';?></div>
	</body>
</html>